[2017-04-07 10:57] #345 closed

[2017-04-07 10:57] clayrat commented on #345
Nevermind, I did a mistake :)

[2017-04-12 14:10] alexandru opened #347 "Task.deferAction"
As a usability improvement, we need a new kind of `defer` builder that will inject the `Scheduler` for us, otherwise there are cases in which we have to work with `create` or `unsafeCreate`, which sucks from a usability and performance point of view:

[code]

Use-case example: measuring the latency of tasks.

[2017-04-13 06:34] ArturSoler opened #348 "Consumer.contransform"
Implement, in Consumer, the `contransform` operator, which transforms the Observables where the consumer is attached to.

The signature would be something like: `def contransform(f: Observable[A] => Observable[B]): Consumer[A]`

[2017-04-19 14:58] alexandru opened #349 "Replace usage of scala.util.control.NonFatal"
Scala's `NonFatal` implementation allows for certain problematic exceptions to fall through, like `ControlThrowable` or `InterruptedException`.

Not catching such exceptions ends up interfering with resource handling.  We need a `NonFatal` implementation that only catches `VirtualMachineError`. These errors are:

- `InternalError`
- `OutOfMemoryError`
- `StackOverflowError`

This is because our ai

[2017-04-19 15:08] #349 closed

[2017-04-19 15:28] #347 closed

[2017-04-19 16:56] #339 closed

[2017-04-19 16:58] alexandru commented on #340
Already on `master`.

[2017-04-19 16:58] #340 closed

[2017-04-19 17:00] #338 closed

[2017-04-19 17:01] #332 closed

[2017-04-24 18:37] alexandru commented on #343
@SethTisue this issue is still pending - I discovered the problem, it's a very non-deterministic one and I'm fixing it, but I need to ensure correctness.

So this will get closed in a couple of days max.

[2017-04-26 14:39] alexandru opened #350 "Change behaviour of BackPressuredBufferedSubscribers"
The current implementation (~ version 2.2.4) of `BackPressuredBufferedSubscriber` is a little unfair due to using 2 queues - the second queue becomes active when the back-pressured state is activated.

However pulling from 2 queues alternatively is bound to create either efficiency or fairness issues and in our case it creates fairness issues. This isn't a problem with the current implementation i

[2017-04-26 14:39] #350 closed

[2017-04-26 14:40] alexandru commented on #343
Fixed by https://github.com/monix/monix/issues/350

[2017-04-26 14:40] #343 closed

[2017-04-27 15:53] jchapuis opened #352 "No backpressure when converting to publisher and back"
I'm setting up backpressure-enabled streams over grpc and I would like to expose the streams in the public api using standard reactive streams types (i.e. `Publisher[T]`).

In order to do so I'm converting my stream `Observable` using `toReactivePublisher()`, and then in my client/test environment consuming that once again with monix by converting it back to an `Observable` using `Observable.fromR

[2017-04-28 14:20] alexandru commented on #352
@jchapuis converting into a reactive publisher or from a reactive publisher involves buffering.

So what happens is that a fixed size buffer gets created and the source is free to push events for as long as that buffer has room in it. And then back-pressuring happens after the buffer gets full.

[2017-04-28 14:49] jchapuis commented on #352
@alexandru thanks! any specific reason for the buffering? is there any way to configure the size of that buffer?

[2017-04-28 15:03] alexandru commented on #352
Currently the [ReactiveObservable](https://github.com/monix/monix/blob/v2.2.4/monix-reactive/shared/src/main/scala/monix/reactive/internal/builders/ReactiveObservable.scala) (the implementation that converts `org.reactivestreams.Publisher` into `Observable` is doing `subscriber.toReactive`, which initiates a [SubscriberAsReactiveSubscriber](https://github.com/monix/monix/blob/v2.2.4/monix-reactive

[2017-04-28 15:15] jchapuis commented on #352
Ok thanks! I actually did try exactly what you are proposing earlier, with my own helper because I had spotted that `toReactive` overload that accepts a buffer size. However it didn't seem to change the behavior. I could try again if it works do a PR indeed.

Btw. turning the publisher created with Monix into a RxJava2 Flowable works like a charm in Java, with backpressure.

[2017-04-28 15:40] jchapuis commented on #352
Ok it doesn't seem to work. However I've spotted a possible reason for this in `SubscriberAsReactiveSubscriber`:

[code]
Notice the `Unbounded` parameter here, would that be it?

[2017-05-02 10:44] alexandru opened #354 "Enable Mima and Unidoc error reporting in Travis build"
When building the code for Scala 2.12.x on Travis, we need the build to fail if:

1. the `mimaReportBinaryIssues` command fails, or
2. the `unidoc` command fails

This will enable us to detect binary compatibility or Scaladoc problems earlier.

[2017-05-02 10:47] alexandru opened #355 "Add Coeval.run"
In anticipation of the Cats API reunification, we need to add `Coeval#run` with this signature:

[code]

This will become the preferred method to evaluate a `Coeval` with errors exposed.

[2017-05-02 10:50] alexandru opened #356 "Add Coeval#attempt and Task#attempt"
The Cats `MonadError` exposes an `attempt` operation that we need to optimize:

[code]

For both `Task` and `Coeval`. Also needed, in addition to `materialize`, because dealing with `Either[Throwable, A]` will become the preferred way to expose errors.

[2017-05-02 11:17] alexandru opened #358 "Deprecate materializeAttempt and dematerializeAttempt"
On both `Task` and `Coeval` we need to deprecate `materializeAttempt` and `dematerializeAttempt`.

The reason for the deprecation is the naming alignment with the Cats ecosystem, where `Attempt` is being used as an alias for `Either[Throwable, A]`. In version 3 the `Coeval.Attempt` type will be renamed to `Coeval.Eager` and all "attempt" usage will be changed.

Also, the preferred method of exposi

[2017-05-02 11:21] alexandru opened #359 "Rename `Coeval.Attempt#isFailure` to `Coeval.Attempt#isError`"
The `isFailure` method on `Attempt` happened because of Scala's `Try`.

However we must be consistent with the naming. We either use "failure" or we use "error", because in practice the two are not perfect synonyms. And we standardize on "error" because of `MonadError` from Cats and because we've been using `onError` in `Task`, `Coeval` and `Observable` (basically almost everywhere).

Hence `isFai

[2017-05-02 17:22] #354 closed

[2017-05-02 17:22] #355 closed

[2017-05-02 17:22] #356 closed

[2017-05-02 17:22] #358 closed

[2017-05-02 17:22] #359 closed

[2017-05-02 19:12] #348 closed

[2017-05-02 19:13] alexandru commented on #348
Implemented operation is named `transformInput`, since `contransform` was an awkward name.

[2017-05-02 19:13] alexandru commented on #348
Going to cut the `2.3.0` release tomorrow.

[2017-05-02 19:15] alexandru commented on #352
@jchapuis sorry for the silence, I've been busy and couldn't investigate if this works as designed or not.

I'm planning to cut a new 2.3.0 release ASAP, sometime this week, however I promise to have this issue sorted out until then.

[2017-05-02 20:13] jchapuis commented on #352
@alexandru, thanks for your reply, no problem, good to know!

On 2 May 2017, at 21:15, Alexandru Nedelcu <notifications@github.com<mailto:notifications@github.com>> wrote:

@jchapuis<https://github.com/jchapuis> sorry for the silence, I've been busy and couldn't investigate if this works as designed or not.

I'm planning to cut a new 2.3.0 release ASAP, sometime this week, however I promise to hav

[2017-05-03 07:38] alexandru commented on #352
@jchapuis there's indeed a problem with that unbounded buffer. Well, it's not the unbounded-ness that's the issue, but how we keep requesting for stuff.

I'm working on a new implementation. Stay tuned.

[2017-05-03 11:48] alexandru commented on #352
Fix is on master.

[2017-05-03 11:48] #352 closed

[2017-05-09 14:29] jchapuis opened #363 "Expose BehaviorSubject value"
It would be sometimes useful to have a thread-safe access to BehaviorSubject's current value, for instance in stateful situations such as in the UI or in general for low-overhead out-of-monad imperative access.

Interestingly, in .NET they added support for direct value access in a second step, it wasn't part of the initial version either. It is exposed through a c# property Value which is threads

[2017-05-09 14:36] alexandru commented on #342
Status update - a decision on this issue is still pending because of this Scala PR which might get shipped in Scala 2.12.3: https://github.com/scala/scala/pull/5350

This adds `-Ysysdef` and `-Ypredef` flags to control what gets imported by default in all Scala files. With some syntactic sugar in SBT (maybe provided by a plugin in the beginning), what this means is that users might have an easier

[2017-05-11 11:15] ajaychandran opened #364 "Reporting ConcatMap.onNext implementation is invalid"
This is happening in a multi threaded context on a source ```Observable``` transformed with a ```flatScan``` followed by a ```flatMap```.

[code]
**Note**
There seems to be some race condition in the processing of the first element. In some runs, the error is not encountered but the first element is not emitted. When the error does occur, it is always on the first element.

**Log**
[code]

[2017-05-11 11:38] alexandru commented on #364
@ajaychandran that error can also happen in case the back-pressuring contract is violated (i.e. multiple `onNext` events happen that don't wait for the returned `Future[Ack]` on concatMap's internal subscriber.

Can you share your `src` with me?

[2017-05-11 11:47] alexandru commented on #364
@ajaychandran also, you don't have the latest version. Please upgrade to the latest `2.3.0`.

In version `2.2.0` the implementation of `concatMap` was changed for optimisation purposes with a riskier version that uses `getAndSet`, benefiting from Java 8 platform intrinsics.

But since then at least 2 issues have been fixed:

- https://github.com/monix/monix/issues/321
- https://github.com/monix/mo

[2017-05-11 12:08] ajaychandran commented on #364
Thanks for the quick turn around @alexandru

The back-pressure contract was being violated; introducing a ```BufferedSubscriber``` in the flow fixed the issue.

[2017-05-11 12:08] #364 closed

[2017-05-11 12:10] alexandru commented on #364
@ajaychandran if you cannot control the source, then a `BufferedSubscriber` is the right approach.

You also have `ConcurrentSubject` (which wraps subjects with a `BufferedSubscriber`) and `Observable.create` (which gives you a buffered subscriber as well).

Please UPGRADE to the latest version!

Also see this document for more details about that contract if interested:
https://monix.io/docs/2x/re

[2017-05-11 12:17] ajaychandran commented on #364
Thanks. Upgraded to 2.3.0; was testing with 2.2.3.

[2017-05-15 12:53] jchapuis opened #365 "runAsyncGetFirst() and runAsyncGetLast() have the same API documentation"
Both mention

In the case of `runAsyncGetFirst`, I believe this should read `first`

[2017-05-17 15:39] SethTisue opened #366 "CoevalLawsSuite and TaskLawsSuite failing in Scala 2.12 community build"
as seen at e.g. https://scala-ci.typesafe.com/job/scala-2.12.x-integrate-community-build/1515/consoleFull

[code]

[2017-05-17 15:40] alexandru commented on #366
@SethTisue thanks, is this compiled against Cats master?

Will fix.

[2017-05-17 15:41] SethTisue commented on #366
yes, and if it turns out that cats master is too unstable, it would be possible for us to freeze it.

I'm running a test right now to see whether freezing monix at the last green revision fixes it.

[2017-05-17 15:43] alexandru commented on #366
@SethTisue this is about a new law they introduced in `MonadError` for "ensureOr consistency".

It happens and it might indicate a potential problem in Monix. Will investigate.

[2017-05-17 15:44] SethTisue commented on #366
ah wait but monix hasn't changed since May 3 I see. I'll try freezing cats temporarily.

[2017-05-17 17:23] SethTisue commented on #366
done, community build green again, at some point we'll want to move to newer code again, but no rush

[2017-05-31 16:07] omainegra opened #367 "New operator `Observable.intersperse`"
It could be useful an operator that emit a specific separator between every pair of elements, with an optional start and end element.

The signature could be like:
[code]

Here is an example of usage:
[code]

And the output will be:
[code]

[2017-05-31 16:44] mihaisoloi commented on #367
This looks like an interesting operator to have, but how would it be more general? i.e for more than 2 elements. Currently you can achieve the same result with a `scan` or `bufferSliding` and then a `map`.

I'd say it makes more sense to have this as a `start` of observable, `sep` between all of the elements and `end` when the observable ends similar to a `mkString` on a collection.

[2017-05-31 16:55] omainegra commented on #367
Yes, the idea is to emit an optional first element, then the upstream elements paired with the separator, except that the separator won't be emitted last, and finally an optional last element. I've update the issue description.

[2017-05-31 17:02] mihaisoloi commented on #367
I'll try to work on a PR, looks interesting

[2017-06-01 10:44] alexandru commented on #367
N.B. this can be achieved somewhat with:

[code]

The problem here is that, I'm assuming, you don't want that final `sep`, so some start and end logic is required. Which is doable already using , but kind of complicated.

@omainegra I think you mentioned on Gitter that you already have your own implementation, you can share that if you want in a PR.

[2017-06-01 15:05] omainegra commented on #367
@alexandru Yes I will, but I'm still testing it, maybe today or tomorrow I could push it

[2017-06-02 07:35] #367 closed

[2017-06-04 15:42] alexandru commented on #342
See https://github.com/monix/monix/pull/370

[2017-06-04 15:42] #342 closed

[2017-06-07 12:50] kellerkindt commented on #329
I am now also in a position where I need a mapAsync that preserves the order. Is there any ETA / update regarding it?

[2017-06-07 17:07] kellerkindt opened #374 "IllegalStateException: State Active(monix.execution.CancelableFuture$Implementation) in the Monix MapTask.onNext implementation is invalid"
[code]

Happened while fiddling around with some test code, so the code itself isn't great at all.
Scrapped together what effectively caused it:
[code]

[code]

[2017-06-07 19:51] alexandru commented on #374
Most commonly this error happens whenever you're not respecting the back-pressure protocol, as described at: https://monix.io/docs/2x/reactive/observers.html

I see a `PublishToOneSubject` being initialized, but I don't see any buffering, or any back-pressuring when you're doing `frameNumberObserver.onNext`.

[2017-06-08 07:31] kellerkindt commented on #374
Thanks for the fast response. I added the missing `frameNumberObserver` definition. Its not a show stopping issue, it just appeared once while fiddling around with it. It could very well be caused by wrong usage.
I might report back if it appears more often and I suppose the usage to be correct.

[2017-06-09 06:59] lukestephenson commented on #329
I never got around to attempting it.  Went with one of the workaround suggested by @alexandru

[2017-06-09 07:23] alexandru commented on #329
That workaround should be pretty OK too, it's what the logic should be anyway, although in a specialized implementation we might be able to eliminate some overhead.

[2017-06-16 14:11] erickpintor commented on #329
I'm also interested on such operator. Here is the pattern I'm using right now:

[code]

I've experienced a better performance overall, with the cost of more memory when there is a slow future on the stream.

[2017-06-21 04:08] volth opened #375 "assert in ConcatMap.onNext"
The code below works with monix 2.0.x and 2.1.x but fails with 2.2.x and 2.3.0 with
```java.lang.IllegalStateException: State WaitComplete(Some(java.lang.Throwable)) in the Monix ConcatMap.onNext implementation is invalid, please send a bug report! See https://monix.io```

Precisily, it works before https://github.com/monix/monix/commit/a0a41d2621f0f470f4b20560d7d67ac910428604

[code]

[2017-06-21 08:07] alexandru commented on #375
@volth the new `ConcatMap` implementation ends up being defensive due to possible race conditions; that logic is indeed very risky, which is why I wanted all that stumble upon those errors to fill bug requests.

That said, that error also happens when the Observer's back-pressure contract gets violated in some way or another. I'm not discounting the possibility of an actual error though.

On first

[2017-06-21 12:21] volth commented on #375
The example above should be runnable (```Hello3``` is the main class, it extends ```App``` from scala library which implements ```main``` function), it depends only on monix.

[2017-06-21 12:25] alexandru commented on #375
@volth thanks, I'm caught at work atm, will try it soon.

[2017-06-25 20:35] gabor-aranyossy opened #376 "Elastic BackPressuredBufferSubscriber"
The current implementation of `BackPressuredBufferSubscriber` stops the publisher when the buffer is full and will not continue it until it's empty again. This can be suboptimal in case both the publishing and subscribing rates are changing.

Another parameter could be introduced in `BackPressure` for a lower threshold, below which the upstream could be already signalled to continue. The default v

[2017-06-25 21:11] gabor-aranyossy commented on #223
Have you thought of having a tcp streaming solution similar like [scalaz-netty](https://github.com/RichRelevance/scalaz-netty)?

[2017-06-28 20:42] gabor-aranyossy commented on #223
Never mind. I just discovered [monix-nio](https://github.com/monix/monix-nio) has pretty much that. Nice!

[2017-06-29 08:11] antonkulaga opened #379 "resolution problems"
I constantly have issues with monix resolution. For instance, in spark-notebook if often fails to find it ( https://github.com/spark-notebook/spark-notebook/issues/889 ), have you checked that the 2.3.0 version is published properly?

[2017-06-29 08:21] alexandru commented on #379
@antonkulaga sorry to hear that, but the packages get published to Sonatype and Maven Central and it's out of my hands.

You can check the packages on Maven Central's links, e.g...

- https://repo1.maven.org/maven2/io/monix/
- https://repo1.maven.org/maven2/io/monix/monix_2.11/
- https://repo1.maven.org/maven2/io/monix/monix-execution_2.11/
- https://repo1.maven.org/maven2/io/monix/monix-eval_2.11

[2017-07-01 19:40] gabor-aranyossy opened #380 "Observable recovery does not work"
After playing around with the reactive extensions I noticed a weird behaviour when trying to recover an exploding `Observable`. Instead of calling the recovery code it stops the stream and calls the `Scheduler`'s `reportFailure`. My interpretation might by wrong, but [this](https://github.com/gabor-aranyossy/monix/commit/d84884e9c11d7c5084b8266f03e98ddd12745f79) I think should work.

My expectatio

[2017-07-02 08:32] larsrh opened #381 "flatMap on CancelableFuture"
Currently, the `flatMap` operation takes a function `A => Future[B]`. But there's no check that the resulting `Future[B]` might be cancelable itself. Hence, cancelling the returned `CancelableFuture[B]` might not cancel correctly. Here's my workaround:

[code]

In principle, this could go into `CancelableFuture` itself, where there could be an `asInstanceOf` check.

[2017-07-02 10:58] kdrakon opened #382 "TaskCircuitBreaker can retry protected Task's"
While using the `TaskCircuitBreaker` the first time, my intuition was that I could submit (i.e. protect) a Task to the breaker and have it perform retries if the circuit was open. At first, I did something like this:
[code]
where `???` would have some logic where I would determine if my Task should be re-attempted (e.g. a counter in one basic use case). Although this works, it wasn't optimal as th

[2017-07-02 11:05] kdrakon commented on #382
I've submitted a proposed PR for this change. It adds the following methods:
[code]
Further explanations are provided in the ScalaDoc.

[2017-07-11 13:30] mmuschalik opened #385 "Additional Observable operators wanted, they are awesome"
Hi guys,

One of the reasons this library stands out to others is that it has zip and combineLatest on observables. I don't think I've seen this in other libraries such as Akka Streams. I would LOVE to see more of these. In particular I'm thinking of a combineLatest that favours the one stream over another.

Given two observables o1 & o2, I want the following to apply:

1) Only emit tuple when o1

[2017-07-11 13:44] mmuschalik commented on #385
Now that I read that, there is a potential consequence. o1 might complete before o2 in which case data in o2 would be dropped.

[2017-07-11 13:46] alexandru commented on #385
@mmuschalik have you seen [withLatestFrom](https://monix.io/api/2.3/monix/reactive/Observable.html#withLatestFrom[B,R](other:monix.reactive.Observable[B])(f:(A,B)=%3ER):Self[R])?

[2017-07-11 13:50] mmuschalik commented on #385
Thanks for that. I just tried, but it seems to be dropping values of the second observable.

[2017-07-11 14:01] alexandru commented on #385
@mmuschalik help me understand the behavior,

So given the following two observables, what would be the approximate output?

[code]

In case both should emit at the same time, like when the clock is at 1 second, assume that `o1` wins the race and emits before `o2`.

I would like a sample like the following, which would be the output of `combineLatest`:

[code]

[2017-07-11 14:18] mmuschalik commented on #385
// 0.6 s
O2 --> 1
// 1 s
O1 --> 1
C   --> (1, 1)
O2 --> 2
                                  // no because o1 needs to come first C   --> (1, 2)
// 1.5 s
                                 // not possible, O2 is back pressured O2 --> 3
                                 // no because o1 needs to come first  C   --> (1, 3)
// 2 s
O1 --> 2
C   --> (2,2)              // we dont want to lose O2's number 2

[2017-07-11 14:25] mmuschalik commented on #385
Example result:

(1,1)    // wait for both
(2,1)    // o1 sent 2, repeat o2
(3,2)    // o1 sent 3, o2 sent 2 just before
(4,3)    //  o1 sent 4, o2 sent 3 just before
(5,3)    // o1 sent 5, o2 nothing yet, repeat 3

[2017-07-11 18:11] Diagoras commented on #185
@alexandru
I noticed that memoizeOnSuccess has been added, thanks for that. I've got another idea for an operator, though I'd be the first to admit it is a niche use-case. It'd be the inverse of Task.gather, namely some function: `Task[Seq[A]] => Seq[Task[A]]` used to distribute an asynchronous context over the elements in a collection.

We recently ran into this sort of situation when trying to p

[2017-07-11 18:24] alexandru commented on #185
@Diagoras I'm afraid that `Task[Seq[A]] => Seq[Task[A]]` is not possible without blocking threads, which is a blocker.

The problem is that in order to build a `Seq[Task[A]]`, you have to know a little something about the `Seq[A]` result of the source.

[2017-07-13 02:32] tkroman commented on #185
Oh, just noticed the thread. First thing that comes in mind - restarts configurable with both max attempts and predicate on the result (instead of just recoveries). Also, configurable backoff strategy, like `Const(100.millis)` or `Exp(100.millis, 2)`, which would mean, correspondingly, backoff for 100 ms before each restart or backoff for 100 ms before the 1 restart and then each time wait twice a

[2017-07-28 13:09] alexandru commented on #385
@mmuschalik why did you close the issue?

Sorry for not replying, but I'm away on vacation. Will be back on Monday.

[2017-07-28 13:16] alexandru commented on #185
@tkroman sorry for not replying, just adding a note that I've been on vacation and will give this some thought when I'll be back on Monday

[2017-07-28 13:26] alexandru commented on #380
@gabor-aranyossy throwing exceptions is problematic and sometimes we can't recover, or to be more precise, we can only recover in case the final `onComplete` event wasn't sent already.

However if an onComplete already happened, then we can no longer signal a subsequent onError event, because that would break the contract, so the only thing we can do is to log it somewhere. And sometimes the behav

[2017-07-30 10:10] gabor-aranyossy commented on #380
No problem for the delay. :) Here is the code I was testing with: [ErrorHandling.scala](https://gist.github.com/gabor-aranyossy/dc8205044e990e832a2c2651ab1a3487)

I was using "io.monix" %% "monix" % "2.3.0"

[2017-07-31 12:29] alexandru commented on #381
Hey,

Yeah, it might be a good idea.

[2017-07-31 22:40] mmuschalik commented on #385
Oh sorry.

[2017-08-01 07:23] alexandru commented on #385
@mmuschalik we can add more observable operators, the reason for why some suggestions linger is that non-orthogonal operators can cause confusion, because you end up with multiple ways of doing things. Observable's operators are already non-orthogonal, plenty of examples there, but striving to keep a balance there.

I'm still trying to wrap my head around your sample above.

What does RxJava's `jo

[2017-08-01 11:17] #381 closed

[2017-08-02 09:35] dneades commented on #185
@alexandru: I am still very new to Monix, but am already finding it useful – thank you for all your work. (Incidentally, I really appreciate the readabilty of the code.) I have some suggestions for new operators, which I hope are not inappropriate to mention here. (It is, of course, entirely possible that I have overlooked existing equivalent functionality, in which case I’d appreciate any directi

[2017-08-02 12:03] valenterry opened #393 "Growing RAM-usage for groupBy operation"
Using `groupBy` can consume quite a bit RAM. I tried to group some tuples by there first element and use some operation (here sum) on their second element for each group:

[code]

Works as expected and outputs (after a bunch of seconds):
[code]

But RAM usage is growing with every additional element that is processed, reaching some GB quite fast.
Tested both with Monix 2.3.0 and 3.0.0-22bf9c6 on S

[2017-08-02 12:52] alexandru commented on #393
Thanks for the report.

On first glance, I don't see why this could happen, so we might have a problem.
Will need to be investigated.

[2017-08-02 13:44] benjumanji commented on #246
This feature is very interesting / important to me, I would love to take a crack on it with some guidance. I am very familiar with how this stuff works in twitter land, less so with monix, but the principles should mostly be the same, I assume.

I would like to use to be able to properly propagate the active span from opentracing.io / custom per request logging context, that kind of thing.

[2017-08-02 16:54] knasim commented on #233
hello - i'm looking for a dead simple reference implementation of monix.   can someone kindly point me to one.

[2017-08-02 18:46] velvia commented on #233
Hmmm.   I think the variety of applications is probably large enough that the “reference” depends a lot  :)

“Never doubt that a small group of thoughtful, committed citizens can change the world.” —M. Mead

Evan Chan
velvia@gmail.com

[2017-08-03 14:52] knasim commented on #233
@velvia  - thanks for your specificity !

[2017-08-04 11:39] alexandru commented on #246
@benjumanji I still haven't investigated how this feature could be implemented.

If you want to take a crack at it, that's fine, however I have reservations, because it has to have good performance and has to be safe, or otherwise it has to be opt-in and safe. We already have a mechanism for adding "execution options" to a Task, and so we could have `task.executeWithOptions(_.enableDynamicVars)`.

[2017-08-04 11:55] alexandru commented on #246
No, had a benchmarks sub-project, but it was badly maintained so I deleted it.

If you want you can implement it gradually. Start with something that works first.

[2017-08-04 12:00] benjumanji commented on #246
This is normally a good place to start. You just have mentioned performance a lot in this thread, I assumed there would be tracking. I'll worry about fast once I have correct. Thanks!

[2017-08-04 17:31] alexandru commented on #366
Thanks for the patience @SethTisue. Now that Cats 1.0.0-MF is out, the `master` in Monix is fixed and should be fine.

Let me know.

[2017-08-04 17:41] SethTisue commented on #366
I think we could close this ticket, then, and just leave scala/community-builds#549 open (I'll tackle it before too much longer).

[2017-08-04 20:42] alexandru commented on #366
Cool, closing this.

[2017-08-04 20:42] #366 closed

[2017-08-05 07:35] larsrh opened #394 "Monad[CancelableFuture]"
Should this go into `object CancelableFuture`?

[2017-08-05 11:22] alexandru commented on #394
Sure, we can have it.

[2017-08-05 20:44] #394 closed

[2017-08-06 10:56] alexandru opened #399 "Observable.distinct* ops using Cats Eq"

[2017-08-06 11:33] alexandru opened #400 "Iterant operators"
Opening this issue to track the implementation of the `Iterant` operators that we need before releasing version 3.0.0.

These are the deterministic operators that are more or less available for `Observable`:

- [x] `:+` / `append`, but this can be based on `++`
- [x] `bufferTumbling(count: Int)`: being basically `bufferSliding(count, count)`
- [x] `bufferSliding(count: Int, skip: Int)`: is `slidin

[2017-08-08 15:55] alexandru opened #406 "Should Monix v3 use different package / artifact id?"
Monix v3 breaks binary and source compatibility.

Should it use a different package and artifact id, such that multiple versions can coexist?

Context:

- discussion on Cats versioning: https://github.com/typelevel/cats/issues/1233#issuecomment-320468526
- [Spec-ulation Keynote](https://www.youtube.com/watch?v=oyLBGkS5ICk) by Rich Hickey

[2017-08-08 16:57] dispalt commented on #406
I personally don't like the netty situation, so I vote same artifact Id.  Also seems more okay since cats is undergoing the same transition

[2017-08-08 21:11] alexandru commented on #406
@dispalt care to elaborate on the Netty situation, as I'm not familiar?

[2017-08-09 16:45] alexandru commented on #246
@benjumanji I just re-added a `benchmarks` sub-project in https://github.com/monix/monix/pull/409, going forward we're going to use it to guard against regressions, most importantly in this case being the performance of `Task.flatMap`.

[2017-08-09 16:52] dispalt commented on #406
Fact: Netty 3 and 4 have different coordinates

Opinion: It doesn't encourage upgrading and allows dependents to get lazy on upgrading.  I think the ethos of scala is to encourage quick iteration, therefore I vote no to multiple coordinates.  I also voted on twitter.

[2017-08-10 15:10] alexandru commented on #406
@dispalt thanks,

Well, for the moment it appears that the people preferring different packages are in a minority.

[2017-08-10 15:14] alexandru commented on #399
This was solved in #408

[2017-08-10 15:14] #399 closed

[2017-08-11 10:58] alfonsorr commented on #393
Hi, i don't believe it's a bug, it looks more a optimization problem. @valenterry , in your case you are creating a single data structure with all the data grouped (the 40k elements, and then add them), so it's normal the ram grow.
In this case would be much better to use a fold left to sum the elements in the moment it arrives, so you only carry a single int element.
[code]

And the memory usage

[2017-08-11 11:30] alexandru commented on #393
@alfonsorr thanks a lot for investigating this, I'm currently busy with something else at the moment.

Rest assured @valenterry I haven't forgotten about it.

[2017-08-16 10:33] valenterry commented on #393
@alfonsorr I agree, it will not produce incorrect results, so maybe it should be considered a performance improvement. On the other hand, from the theoretical perspective, there is no reason why anything needs to be accumulated in RAM in this case.

We get a stream of elements and group them *but* we immediatly work with each group and fold the group into one element. There is no need for the elem

[2017-08-24 19:45] hepin1989 commented on #406
I vote not change it.
For Netty ,it's because them trans from jboss .

[2017-08-25 17:33] scottcarey commented on #406
Different artifact id, and package.  Anything else is insane.

Fact: Java's Jackson 1 and 2 have different coordinates and packages.

Opinion: It saved the project.  Downstream dependencies that are not well maintained or have major difficulties upgrading (e.g. Hadoop / spark) can still have an old version.   Migration can be incremental and it doesn't much matter if a transitive dependency deep i

[2017-08-29 05:01] ericwush commented on #329
+1 for needing a `mapAsync` preserving order

[2017-08-29 21:08] tkroman commented on #406
If there are changes that don't require changes on the call-site but bear a semantic difference, I'd go with new module + an extensive changelog which is googleable so the gitter channel isn't overwhelmed by the "How do i move from `foo()` to `bar()`?".
Otherwise, if the broken source compatibility means renames/moves etc, I'd go with the same package since there is no danger to miss the critical

[2017-08-30 06:37] alexandru commented on #406
@tkroman the issue isn't really about direct dependencies, because presumably the compiler helps a lot, plus we've got tests.

The issue is with transitive dependencies, for which the compiler does not complain that `foo()` was renamed to `bar()` because the compiler is not involved at all.

[2017-08-30 16:11] leandrob13 commented on #246
I share the same interest as @benjumanji and I would like to start some work on this matter. As you guys pointed out I will get something that works first and then iterate on improvements. Is that ok  @alexandru ?

[2017-08-30 16:29] alexandru commented on #246
@leandrob13 go for it, feel free to ask for pointers as well.

[2017-08-30 16:30] alexandru commented on #246
@benjumanji have you had any progress?

[2017-08-30 16:33] leandrob13 commented on #246
@alexandru thanks, I will!

[2017-09-02 21:02] nadavwr opened #421 "takeWhilNotCanceled() scaladoc identical to takeWhile()"
[code]

See [here](https://github.com/monix/monix/blob/7cedce4d53b9de130276ca6d056093a1513575bb/monix-reactive/shared/src/main/scala/monix/reactive/observables/ObservableLike.scala#L2420)

[2017-09-05 19:17] alexandru commented on #382
@kdrakon this is a tough problem and has been on my mind. The problem with restarting logic is that it tends to be very custom, depending on use-case.

For example restarting immediately isn't ideal, as you've seen, but maybe a better solution would be to do exponential backoff, e.g. retry in 100ms, 200ms, 400ms, 800ms, 1.2 secs, etc.

And I haven't added any helpers for doing exponential backoff

[2017-09-07 17:21] NeQuissimus opened #428 "Question: Task.Error"
Hi,

I am writing tests against an application that uses Monix (mostly `Task`).
I am in a bit of a pickle now :)
I would like to test whether a constructed `Task` is failed without running/materializing it.
The thing is that running it would incur quite a few operations.

So now I am doing this:
[code]

Clearly, not an ideal solution :D
Since `Task.Error` is private to `monix.eval` I cannot patter

[2017-09-17 07:19] alexandru commented on #428
@NeQuissimus there's unfortunately no good solutions to what you want to do.

The problem is that `Task` behaves like function, not being the result of a computation itself. And you can't see if a function is going to fail before actually running it.

`Task.Error` is private because it's an implementation detail. And `Task.Error` isn't the only way to express immediate errors. You can also have `T

[2017-09-17 12:53] NeQuissimus commented on #428
Yeah, that's the conclusion I came to... I may just leave the hack in place where I want to test that a mattern patch shortcuts the Task...

[2017-09-17 12:53] #428 closed

[2017-09-19 16:26] alexandru commented on #406
This has been settled. Community hasn't agreed to it, so I won't do it.

[2017-09-19 16:26] #406 closed

[2017-09-19 16:36] alexandru opened #434 "Add Iterant.dump method"
`Observable` has the `.dump` utility that we need for `Iterant`:

- [API Documentation](https://monix.io/api/2.3/monix/reactive/Observable.html#dump(prefix:String,out:java.io.PrintStream):Self[A])
- Source code: [Observable.scala](https://github.com/monix/monix/blob/v3.0.0-M1/monix-reactive/shared/src/main/scala/monix/reactive/Observable.scala#L1210) and [DumpObservable](https://github.com/monix/m

[2017-09-19 16:45] alexandru opened #435 "Iterant .zipWithIndex"
Need the `zipWithIndex` operator on `Iterant`:

[code]

[2017-09-19 16:46] #374 closed

[2017-09-19 16:47] alexandru commented on #228
This is coming in 3.0, as the `Iterant` data type.

[2017-09-19 16:47] #228 closed

[2017-09-19 16:48] alexandru commented on #221
Given that Scala 2.12 requires Java 8, this should be added for Scala 2.12 only.

[2017-09-19 16:54] alexandru commented on #199
`Observable` now have `doOn*` versions suffixed with `Eval` or `Task` and that take `Task` or `F[_] : Effect` params.

[2017-09-19 16:54] #199 closed

[2017-09-19 16:54] #169 closed

[2017-09-19 16:55] #122 closed

[2017-09-19 16:56] alexandru commented on #116
This is a little incompatible with the `Observable` model and in general debugging can work with simpler tools like `.dump`. Will close this for now.

[2017-09-19 16:56] #116 closed

[2017-09-20 15:51] Avasil commented on #435
@alexandru I would love to attempt this issue in next few days, as soon as I get more familiar with ```Iterant```

[2017-09-22 11:29] alexandru opened #438 "Java 9 Support"
We need to provide support for Java 9 and this means:

1. conversions from `org.reactivestreams` to the new `Flow` interfaces, which are actually 1:1 translations
2. see if changes are required for our `Atomic` references, as we are using `Unsafe` access and it might have been deprecated (TBD)

[2017-09-22 12:05] Avasil commented on #434
I'd like to take this one as well :)

[2017-09-22 13:07] alexandru commented on #434
Ah, right, yeah, do the output like what we have with `Observable`, those index numbers are important, although you might add some spacing into `Observable` as well.

This is output meant for debugging, so people shouldn't have parsed that output anyway.

[2017-09-22 13:08] alexandru commented on #434
@Avasil and yes, feel free to work on it.

[2017-09-26 10:03] alexandru opened #440 "Observable.mapParallelUnordered needs configurable overflow strategy"
The `mapParallelUnordered` operator needs a configurable overflow strategy, much like `merge`.

So we need to take it as an implicit, with a default value, just like `merge`, with a signature like:

[code]

It's easy to change the implementation, although some tests might need to be fixed.

TIP: besides the signature in `Observable.scala`, the implementation that needs to change is in `monix.react

[2017-09-26 19:10] Wogan commented on #440
Whoops sorry for the spam! Opened a PR.

[2017-09-27 06:20] #440 closed

[2017-09-27 08:17] Avasil commented on #400
@alexandru any other operators I could implement?

[2017-09-27 08:18] alexandru commented on #400
@Avasil do `minByL` and `maxByL` if not implemented yet

[2017-09-30 06:20] alexandru commented on #185
@dneades the latest 3.0.0-M1 includes a `distinctUntilChanged` that now requires a `cats.Eq` type class to be provided implicitly for equality and that can be overriden. This is part of the Cats integration that we now have.

So this should solve your use case.

[2017-10-02 07:55] dneades commented on #185
@alexandru Thank you, I’ll check that out. Much appreciated :-)

[2017-10-05 17:59] nktpro opened #446 "2.3.1 release not published on Maven Central"
2.3.1 release is currently [missing on Maven Central](https://search.maven.org/#search%7Cgav%7C1%7Cg%3A%22io.monix%22%20AND%20a%3A%22monix_2.12%22)

[2017-10-08 07:20] alexandru commented on #446
@nktpro something bad must have happened with the release process.

Please use `2.3.0` in the meantime.

[2017-10-08 07:22] alexandru opened #447 "BufferTimedAndCounted-like operator with custom counting function"
From Gitter at [October 8, 2017 3:59 AM](https://gitter.im/monix/monix?at=59d9788bf7299e8f53be3d10):

[2017-10-16 08:13] aphasingnirvana opened #448 "java.lang.NoClassDefFoundError: monix/eval/Task$"
While implementing Tasks in Scala ran into this error every time I run it.
Added to sbt using the following command from Maven Repo

Tried even monix-eval but didn't work either.

I'm using

What could be the issue @alexandru ?

[2017-10-16 10:11] alexandru commented on #448
@aphasingnirvana `NoClassDefFoundError`s usually happens due to classpath issues.

Check if the `monix-eval` is available in your classpath on execution.
Also see [sbt-dependencies-graph](https://github.com/jrudolph/sbt-dependency-graph), an SBT plugin with which you can check who depends on what, such that you can spot potential conflicts.

[2017-10-17 07:45] aphasingnirvana commented on #448
@alexandru Yes, I resolved it by making an [uber jar](https://stackoverflow.com/questions/28459333/how-to-build-an-uber-jar-fat-jar-using-sbt-within-intellij-idea) instead, thanks for your help.

[2017-10-17 07:45] #448 closed

[2017-10-19 17:01] LukaJCB opened #449 "Add scanMap and scanM combinators to Observable"
I.e. something like:

[code]

[2017-10-20 05:33] alexandru commented on #449
@LukaJCB where have you seen `scanM`?

[2017-10-20 11:05] LukaJCB commented on #449
I haven't really seen it anywhere tbh, but it's analogous to `foldM` and you can make it stack safe with `tailRecM`. :)

[2017-10-20 11:50] alexandru commented on #449
Wait, so how can you make it stack safe with `tailRecM`?

[code]

So I don't get it, how can you build a `newState` given an `oldState` without touching `flatMap`?

[2017-10-20 11:59] LukaJCB commented on #449
I'm definitely not an expert and I'm not sure if it works for `scan` as it does for `fold`, but here's some discussion on the issue: https://github.com/typelevel/cats/issues/1030

[2017-10-27 06:45] #379 closed

[2017-10-28 20:10] tiboun opened #451 "Why consumers use AssignableCancelable.dummy ?"
Hi, I'm glad that I've discoverd Monix. You've done a great job.

I would like to know why Consumers.* are using AssignableCancelable.dummy ?
When an Observable is consumed by a consumer, it subscribes to it and try to assign the Cancellable from the observer. Unfortunately, it cannot because it's a dummy one and then we are not able to cancel the consumer.

In fact, I was expecting the following

[2017-10-30 09:18] tiboun commented on #451
I just realized that Observable.repeat is the one that doesn't stop. Don't bother with what I said on the previous post.

[code]

I just changed the fastLoop, in order to call onComplete when it is canceled and then it stops. Is it correct ?

[2017-10-30 09:54] alexandru commented on #451
Hi @tiboun,

The cancelable returned in that `Consumer` constructor is an `AssignableCancelable` because there we need a "variable" that needs to be assigned to the cancelable of the source, once `subscribe` happens.  In other words it's a way for the `Consumer` itself to receive a cancelable to the source observable.

One example where we really need this is when writing to a file. In such a case

[2017-10-30 09:54] alexandru commented on #451
Let me know if you have any more questions.

[2017-10-30 14:10] alexandru opened #452 "Improve performance of Monix Task, relative to competition"
@jdegoes is presenting the following slide at [scala.io](https://scala.io):

![performance](https://user-images.githubusercontent.com/11753/32175131-a29049d2-bd8c-11e7-9d05-7c245a59b430.jpg)

I'm happy about the progress that Scalaz is making, but for Monix second place in unacceptable.
So another round of optimizations is coming.

#gameon

[2017-10-30 18:52] massung opened #453 "Observables evaluating multiple times"
Not sure if this is "as-designed" or a bug. Putting the following into [Scastie](https://scastie.scala-lang.org/VnDQAqxvQwCnJqE0G29wHA):

[code]

This ends up outputting:

[code]

What I would expect to be output is this:

[code]

My expectation (perhaps incorrectly?) is that each `onNext` to `numbers` would result in `tens` being updated (printing "here"), but then `hundreds` and `thousands` woul

[2017-10-30 21:01] jdegoes commented on #452
I'm delighted to see my work was the inspiration for this, and to see the whole ecosystem working together for an outcome that will benefit the _entire_ Scala community. We're in this together. 😄

_P.S._ Good luck. 😉

[2017-10-30 21:12] fwbrasil commented on #452
@jdegoes is the benchmark code available somewhere? I'd love to see these numbers compared to https://github.com/traneio/future :)

[2017-10-30 22:06] jdegoes commented on #452
@fwbrasil It'll be published Nov 16th with the PR. However, I tweeted the left-associated bind benchmark code some time ago. Have you compared to Monix?

You implemented in Java which is a better decision. If I need to extract more performance, I will do the same thing. The Scala compiler is horribly dumb and some choices cannot be worked around.

[2017-10-30 23:00] fwbrasil commented on #452
@jdegoes I've compared to Monix but decided to remove the benchmarks because I wasn't sure it was a fair comparison. Take a look at https://github.com/traneio/future/issues/1

We've been porting many of the traneio future optimizations into the Twitter Future, so maybe it's worth comparing to it. More recently, I've been collaborating with Viktor to optimize the Scala Future as well: https://docs.

[2017-10-31 07:07] alexandru commented on #452
The execution model of a `Future` data type is usually a little different than that of a `Task` / `IO` data type, because with a `Future` the `flatMap` chains aren't that long, whereas with a `Task` / `IO` you end up composing whole programs with its combinators and then trigger the execution (ideally) only once.

This is why in Monix the `runAsync` part (`unsafePerformIO`) is fairly expensive due

[2017-10-31 07:44] jdegoes commented on #452
@fwbrasil

I include Scala's `Future` mainly for reference, because so many programmers use it. Due to its effectful nature, `Future` is not suitable for functional programmers. The other two implementations, Cats IO and and Monix Task, are both viable candidates for functional programmers.

As an open source contributor yourself, please remember that it's my own personal code, which I work on unp

[2017-10-31 13:43] massung commented on #453
After finding [this nodejs article on cold vs. hot observables](https://medium.com/@benlesh/hot-vs-cold-observables-f8094ed53339) I think I understand what's going on. If I change `tens` to be a "hot" observable (perhaps like so)...

[code]

Then "here" should only be output once since there's a multicast subject between the "here" observable and the downstream observables.

I'm closing this assum

[2017-10-31 13:43] #453 closed

[2017-10-31 14:08] alexandru commented on #453
@massung that is correct, observables are by default "cold", meaning that each new `.subscribe` will open a new connection.

If you want sharing, you can transform any cold observable into a "hot" one with `.publish`.
Also checkout:

- `.multicast`: the more capable variant
- `.publishSelector`: the safer variant, since "hot" observables means you end up dealing with shared mutable state and we wa

[2017-10-31 15:01] tiboun commented on #451
Thanks Alexandru for this answer. I've tried the following code and i didn't find a way to resolve the future in Monix 2.3.0 :

[code]

In fact, **interval** is cancelled, so is **repeat** but the stream is not completed event if I use the **AlwaysAsyncExecution**

It's probably my bad.

Thanks for your help :)

[2017-11-01 05:24] travisblakeney opened #454 "Exception when calling Task.fromIO"
We are currently experiencing an issue when converting a cats IO to a monix Task. If the IO fails it results in an exception being thrown rather than handled even when using attempt on the IO.

The following produces the exception:

[code]

The version of monix-eval is 3.0.0-M1

[2017-11-01 08:46] alexandru commented on #454
Thanks @travisblakeney for the report, will investigate.

[2017-11-01 13:56] fwbrasil commented on #452
@alexan

[2017-11-01 14:15] fwbrasil commented on #452
@alexandru I wouldn't invest time in something that can turn out to be a wrong or biased set of benchmarks. I wouldn't be surprised if @jdegoes isn't using jmh or hasn't considered how the JIT interferes with the results. For instance, it's possible that the JIT is making the first benchmark a no-op.

I'm not sure why you think this is the case. It's pretty common to see long `flatMap` chains usin

[2017-11-01 14:23] alexandru commented on #452
Oh, I'm sure there are such use-cases. Plus the original use-case which triggered the optimization of `Future` to not leak memory in long `flatMap` chains (in [this PR](https://github.com/scala/scala/pull/2674), inspired by Twitter's Future actually) was with usage of [Play's Iteratees](https://github.com/playframework/playframework/issues/1084).

However with `Future` you end up extracting values

[2017-11-03 04:40] mslinn opened #455 "Cannot resolve: "io.monix" % "monix" % "2.3.0""
My project uses SBT 0.13.16. `build.sbt` looks like this:

[code]
I get:
[code]

[2017-11-03 09:31] Avasil commented on #455
@mslinn
try ``` "io.monix" %% "monix" % "2.3.0" ```

[2017-11-04 02:51] mslinn commented on #455
I'm an idiot. Many thanks for being gracious about it.

[2017-11-04 02:51] #455 closed

[2017-11-04 02:55] mslinn commented on #455
BTW, seems the sources are not published. This fails:

    "io.monix"          %% "monix"            % "2.3.0" withSources()

It is often helpful to be able to browse the docs of dependencies.

[2017-11-04 14:50] alonsodomin opened #456 "Migrate to Cats 1.0.0-RC1 and Cats Effect 0.5"
Latest versions of Cats and Cats Effect have been released, it would be good to migrate the master branch dependencies to those versions.

[2017-11-07 17:16] #456 closed

[2017-11-07 19:43] LukaJCB opened #459 "Add a Parallel for Observable for using combineLatest"
`combineLatestMap` is a super useful combinator! Using it with more than a couple of combinators can be quite cumbersome though, so something like a `Parallel` would be a super useful thing IMO.
Here's some code I wrote:

[code]

And then inside `object Observable`:
[code]

I've checked the laws for my `rxjs` wrapper and they worked fine! However if we find it's not a valid `Applicative`, but only

[2017-11-07 19:45] LukaJCB commented on #449
I think I was wrong with my comment above, I don't think you can make it stack-safe unless your `Monad` is already stack-safe for left-associated binds.

[2017-11-07 19:53] alexandru commented on #459
👍 very interesting!

Btw, what would be the win for the `CombineObservable` wrapper here?

[2017-11-07 19:59] LukaJCB commented on #459
There's no real win apart from the fact that it means that one type only gets one instance of `Applicative`. One could do the same thing with a type tag or something like that or just not expose the second `Applicative` instance. All these options seem to valid, imo.
I just personally like the consistency of defining a newtype. :)

[2017-11-07 20:16] LukaJCB commented on #449
Also here's my implementation if it helps :)
[code]

[2017-11-08 11:36] dneades commented on #185
@alexandru My apologies for not following-up sooner, but I thought I should let you know that the new `distinctUntilChanged` is working for me and addresses my requirements. Thank you again for adding this.

[2017-11-08 11:48] alexandru commented on #185
@dneades No worries Daniel, glad it's working out for you 😀

[2017-11-11 08:23] nktpro commented on #446
2.3.2 is now available, closing

[2017-11-11 08:23] #446 closed

[2017-11-13 09:52] alexandru commented on #185
This has been a useful discussion, however the thread gets lost in the noise. In an effort to cut down on opened issues that linger on forever, I'm closing the thread — people can open new issues for operators they care about.

[2017-11-13 09:53] alexandru commented on #197
This is no longer relevant, we dropped `monix-types` and moved on to `cats-core` and `cats-effect`. Closing.

[2017-11-13 09:53] #197 closed

[2017-11-13 09:55] alexandru commented on #222
This suggestion is nice, however the usage of the current `CanBuildFrom` is already enough.

I was actually thinking of migrating to Cats's `Traverse`, but then that is less generic. `CanBuildFrom` is dirty and if Scala doesn't provide integration with Java 8's Stream, then it's a bad idea to do it in Monix.

[2017-11-13 09:55] #222 closed

[2017-11-13 09:56] alexandru commented on #223
This conversation was nice, however for further conversations, people can just open new issues or to re-open this issue if further discussion is warranted. This is an attempt to clean up the issue tracker.

[2017-11-13 09:56] #223 closed

[2017-11-13 10:01] alexandru commented on #299
This is no longer relevant because both Monix and FS2 have moved to usage of cats-effect.

[2017-11-13 10:01] #299 closed

[2017-11-13 10:23] #327 closed

[2017-11-13 10:30] #451 closed

[2017-11-13 11:29] tiboun commented on #451
Thanks Alexandru!

I didn't know that completion is stream is not done while cancelling.
Thanks for that tips! Sometimes people need that in order to cancel a long
running stream and do something else upon completion.

I think this post can be closed now ^^.

Best regards Alexandru !

On Mon, Nov 13, 2017 at 11:30 AM, Alexandru Nedelcu <
notifications@github.com> wrote:

--
Bounkong Khamphousone

[2017-11-13 12:01] alexandru commented on #451
@tiboun I'm sure you have a valid use-case. Look into the `takeWhile*` operators and if you want to discus some ideas I'm happy to discuss them, unless I'm busy and then forget that is 😀

I closed your ticket for now, as I'm trying to cleanup the issue tracker. Trying to take an Inbox-Zero approach :-P

[2017-11-13 21:44] #246 closed

[2017-11-13 21:47] SethTisue opened #465 "monix.execution.misc.AsyncSemaphoreSuite consistently failing in Scala 2.12 community build"
seen at e.g. https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2165/consoleFull

there was a green run as recently as Nov 10 (https://scala-ci.typesafe.com/view/scala-2.12.x/job/scala-2.12.x-integrate-community-build/2159/), so this must be due to a very recent change

[2017-11-13 21:54] alexandru commented on #465
Thanks @SethTisue for the report.

The error that I'm seeing happened, but should have been fixed on `master`.
From where is the community build pulling?

[2017-11-13 22:00] alexandru commented on #246
For completeness, we now have on master:

- `monix.execution.schedulers.TracingScheduler` - that can wrap schedulers into an implementation that can transport locals over async boundaries
- `monix.execution.misc.Local` (the equivalent of `com.twitter.util.Local`, with some slight differences in the type of the context)
- `monix.eval.TaskLocal`, the pure variant meant to work with `Task`
- the `Tas

[2017-11-13 22:46] alexandru opened #466 "Increase test coverage over 90%"
At the moment of writing the test coverage is at 88%.

[2017-11-13 22:57] Avasil commented on #466
I will be happy to help a bit during weekend

It seems like the biggest offender is reactive subproject ( 761 lines missed at the time of writing )

[2017-11-13 23:01] alexandru commented on #466
👍 @Avasil, glad to hear it!

Look for the low hanging fruits first — some of the lines are non-deterministic (e.g. in `compareAndSet` loops), we should just turn off coverage for those lines (possible with a comment) and you should avoid those for now.

[2017-11-14 00:27] SethTisue commented on #465
oh, we're frozen at 18f91fdf5 since I haven't pushed the cats 1.0.0-RCx upgrade through the community build yet

when I'll push that through, I'm not sure, so for now I'll disable your test suite in the community build, but I'll include a note to re-enable it at the time we unfreeze

[2017-11-14 00:27] #465 closed

[2017-11-14 07:42] alexandru commented on #435
This was solved in #437 — btw @Avasil you can put `Fixes #issue-nr` in the description of the PR, then when we merge it, it automatically closes the ticket.

[2017-11-14 07:42] #435 closed

[2017-11-14 08:00] Avasil commented on #435
@alexandru
Sorry for that, I'll have that in mind, we need to also close #434 and #421

[2017-11-14 08:10] alexandru commented on #435
@Avasil no need to apologize, it was just an FYI about how GitHub works.

[2017-11-14 08:10] alexandru commented on #434
Sovled in #439.

[2017-11-14 08:10] #434 closed

[2017-11-14 08:10] alexandru commented on #421
Solved in #442.

[2017-11-14 08:10] #421 closed

[2017-11-14 08:14] alexandru commented on #465
@SethTisue this error happens because I upgraded Minitest's API and it breaks compatibility with the commit that you mentioned.

So another way to fix the error is to also freeze Minitest at https://github.com/monix/minitest/tree/v1.1.0

[2017-11-15 00:35] fdietze opened #467 "Observable with diamond data flow graph"
I want to model this dataflow graph without *frp glitches* or too many updates:
[code]

In this case `d` should **always** emit values representing `(a,(a,c))`.

[scala.rx](https://github.com/lihaoyi/scala.rx#basic-usage) handles this well:

[code]

But I have trouble modeling this with monix (and ReactiveX in general). I'm always getting intermediate updates:

[code]

 Any ideas on how to avoid t

[2017-11-15 23:00] Avasil commented on #466
@alexandru
How would you suggest to measure test coverage locally?

[2017-11-16 21:34] SethTisue commented on #465
ah, interesting, okay, I'll think about it at the time I push the cats upgrade though

[2017-11-17 07:03] alexandru commented on #466
@Avasil with the `sbt-scoverage` plugin, which is already in Monix's config.

[code]

[2017-11-21 15:50] igstan opened #468 "Observables created using `concat` don't get canceled"
Consider the following snippet:

[code]

I would have expected the `d.cancel()` call to cancel the right-hand observable of the `++` operation, but it doesn't.

This seems to be a problem with all observables created using `concat` or one of its incarnations.

It only happens with the observable on the right. The left one gets canceled:

[code]

[2017-11-21 16:21] alexandru commented on #468
It is because of: `stateRef.lazySet(WaitOnActiveChild)` — see current commit.

The problem is that the logic is based on `getAndSet`. When you do a `getAndSet`, it's an optimistic update done with the knowledge that you can revert it.

However in this case we have a loophole related to cancellation. That instruction I mentioned above is "ordered" in relation with the subscriber and what happens in

[2017-11-28 08:35] Avasil commented on #466
@alexandru As an update on this issue, unfortunately I've been very busy lately and it might last a while before I do any meaningful progress but it will happen eventually :)

Also I have some problem with sbt coverage, both on Windows 10 and Ubuntu 14.04, trying different sbt versions (1.0, 0.13.16) and googling didn't help so far, maybe you encountered something similiar:
[code]

If I don't solv

[2017-11-28 08:37] alexandru commented on #466
That is because the `sbt-scoverage` plugin is dirty, not necessarily supporting new Scala versions in time and attaching itself to the generated POM on deployment and thus disabled by default as a hack.

You need an `SBT_PROFILE=coverage` environment variable. So run `sbt` like this:

[code]

[2017-12-02 11:04] Avasil commented on #365
I think we can close this issue (seee #442)

[2017-12-02 12:45] alexandru commented on #365
Thanks, closing.

[2017-12-02 12:45] #365 closed

[2017-12-04 11:12] #466 closed

[2017-12-05 16:55] johnw opened #472 "Task#onErrorRestartIf(Throwable=>Boolean) does not have maxRetries parameter"
The scaladoc for Task#onErrorRestart(Throwable => Boolean) suggests that it should have a maxRetries parameter to prevent never-ending restarts, but no such parameter exists.  It seems like it would be a useful addition.  (Alternately, scaladocs should probably be corrected to not mention the parameter.)

[2017-12-06 08:43] Avasil commented on #472
In docs there is:
[code]
I've used in every project so far, I wish it was included in library (maybe with backoff as argument)

[2017-12-08 03:28] kdrakon commented on #382
Hi @alexandru, sorry about my also delayed response; some family emergency stuff came up and everything fell off the radar. Not sure if I can muster the effort to pick this up again, but please feel free to take whatever you desire from the branch.

[2017-12-14 08:51] alexandru opened #477 "Add .interruptible on Task"
This would be the equivalent of ...

[code]

[2017-12-14 08:53] alexandru opened #478 "Add a .bracket operation for Task / Coeval"
This needs to be coordinated with the developments in `cats-effect`.

[2017-12-14 08:55] alexandru opened #479 "Add a .bracket operation for Iterant"
FS2 has something like this:

[code]

[2017-12-15 10:45] vilinski opened #480 "value withFilter is not a member of monix.eval.Task"
I have some task functions, want to run them parallel and give their results to the next task.
But experiencint the subject error:

Do I something wrong with follwing code?:

[code]

monix: 2.3.2
scala: 2.12.4
sbt: 1.0.4

[2017-12-15 15:39] Avasil commented on #480
It is pretty known problem with for comprehensions in general, you could cheat it like this:
[code]
or just write:
[code]

If you are curious about the problem, [check this link](https://github.com/scalaz/scalaz/pull/728#issuecomment-45777181)

[2017-12-15 16:51] vilinski commented on #480
Thanks. Didn't know that. Scala has so many ugly quirks to competing with js ...

[2017-12-18 04:32] cwmyers opened #481 "Stack overflow whilst traversing an infinite list."
Hi all,

We are trying to follow a paginated stream of events from one of our APIs.  We've noticed that it eventually stack overflows with:

[code]

I've created a minimal example to demonstrate the problem.

[code]

Is this the correct way to construct the observable, or is this a bug?

Many thanks,
Chris

[2017-12-18 04:35] alexandru commented on #481
Hi Chris,

For Monix's `Observable` the `flatMap` operation is not stack safe due to details of the internal protocol and in version 2.3.x neither is `++`. There was a change for the upcoming 3.0 (currently at M2) to make `++` stack safe, so I hope you're using 2.3.x 😀

Either way, the better way to handle pagination is `Observable.tailRecM`.

[2017-12-18 06:01] cwmyers commented on #481
Thanks for the quick response Alex. Yes we are on 2.3.x - I should've mentioned that. I'll try rewriting the example with `tailRecM`.

[2017-12-19 00:34] cwmyers commented on #481
This is what I came up with for future reference for people:

[code]

Thanks for your help @alexandru

[2017-12-19 00:34] #481 closed

[2017-12-22 10:04] Odomontois opened #483 "StackOverflow on MVar put"
I have following code
https://gist.github.com/Odomontois/c7cf55d86ee6d5923e5ad266ed9fc872

using `"io.monix" %% "monix-eval" % "3-0-0-M2"` and `-Xss2048k`

When LanguageStore.likeCount is above 1000 I'm having

	at scala.collection.immutable.Queue.isEmpty(Queue.scala:75)
	at monix.execution.misc.AsyncVar$WaitForPut.dequeue(AsyncVar.scala:314)
	at monix.execution.misc.AsyncVar.unsafePut(AsyncVar.sc

[2017-12-22 11:11] alexandru commented on #483
Thanks @Odomontois for the report, it does seem like a problem, will take a look and hopefully fix it in time for the next release.

[2017-12-23 12:45] lorandszakacs opened #484 "Upgrade to cats 1.0.0-RC2 and cats-effect 0.6"
Well, everything is in the header really.

Hopefully by doing this the switch to 1.0.0 will be easier.

[2017-12-23 12:49] LukaJCB commented on #484
To clarify, 1.0.0 will have zero source code changes over RC2, only tests and documentation are affected :)

[2017-12-23 12:59] radusw opened #486 "Different repo for monix-eval?"
Do you think it's worth doing?

[2017-12-26 10:20] alexandru commented on #486
I'm pretty much against it.

But do you have reasons to believe that a separation of repos would be good?

[2017-12-26 11:28] alexandru commented on #452
First batch of optimizations merged in https://github.com/monix/monix/pull/474 — porting the optimizations I did in `cats-effect`.

[2017-12-26 14:55] radusw commented on #486
No strong technical reasons (maybe better issue tracking), just subjective ones

[2017-12-26 14:55] #486 closed

[2017-12-26 16:50] oleg-py opened #487 "Iterant.liftF (F[A] => Iterant[F, A]) builder"
I've been doing a port from `fs2.Stream` to `monix.Iterant` on one of my personal projects. One of usage patterns I encountered was including effectful values (that are not streams) in the middle of `for`-comprehension:
[code]
Where `Stream.eval` has the following type signature:

[code]

I propose to add such builder to `Iterant`. Proposing name `liftF` based on cats naming for monad transformers

[2018-01-03 08:39] Avasil commented on #478
Hi, can you give some pointers about this issue when you get back?
[code]

[code]
Is the signature supposed to be like this? And what coordination in ```cats-effect``` is needed?

[2018-01-07 20:37] alexandru commented on #487
@oleg-py sorry for not replying, I've been away on vacation in my winter break. Feel free to do the PR.

What you want can be expressed with something like this:
[code]

We already have `eval` with a different signature. So `liftF` sounds good.

[2018-01-07 20:37] alexandru commented on #487
Assigning it the `3.0.0` milestone, should be an easy fix.

[2018-01-07 20:43] Avasil commented on #400
We can check boxes for ```dump```, ```zipWithIndex```, ```maxByL``` and ```minByL```

[2018-01-07 20:43] alexandru opened #495 "Add Iterant.dropLast"
We need an `Iterant` op that drops the last `n: Int` elements from the stream.

The method signature should be something like this:

[code]

For inspiration check out [DropLastOperator](https://github.com/monix/monix/blob/v3.0.0-M3/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/DropLastOperator.scala), the implementation for `Observable`.

[2018-01-07 20:47] alexandru commented on #484
Hey, latest `3.0.0-M3` depends on Cats 1.0.1 and cats-effect 0.8. I'm closing this.

Sorry for the latency, I've been on my winter holiday.

Cheers,

[2018-01-07 20:47] #484 closed

[2018-01-07 20:52] alexandru commented on #480
I'm still thinking on providing or not providing a `withFilter`.

Having such a method that can result in an error at runtime doesn't seem right to me, especially given that you can always do the syntactic trick that @Avasil did above.

So I'm going to err on safety for now and close the ticket.

[2018-01-07 20:52] #480 closed

[2018-01-07 20:55] alexandru commented on #478
@Avasil we need a corresponding type class in `cats-effect` that exposes it.

For `Task` and `Coeval` I am thinking of ...

[code]

The resulting `Task` must not be cancelable, must behave as an atomic unit and we need to do something similar or piggyback on the new `.uncancelable` op.

[2018-01-07 20:58] martin-g commented on #495
Sorry for the noise but what is the idea behind re-using `F` in `implicit F: Sync[F]` ?
Why the method parameter (`implicit F`) is named the same as the type parameter (`F[_]`) ?

[2018-01-07 20:58] alexandru commented on #478
Btw, on `cats-effect` the current discussion is at — https://github.com/typelevel/cats-effect/issues/88

[2018-01-07 21:19] alexandru commented on #495
@martin-g it's just a convention that I've seen in other Scala codebases and that I also adopted, related to typeclasses. I first saw it in [iteratee.io](https://github.com/travisbrown/iteratee) and also in [FS2](https://github.com/functional-streams-for-scala/fs2/).

It's very subjective, but I think it's nice to then see in the implementation things like ...

[code]

Which I sometimes prefer ins

[2018-01-07 21:22] alexandru opened #496 "Add Iterant.dropWhileWithIndex"
Similar with the `Observable` equivalent, drops the longest prefix of elements that satisfy the given predicate:

[code]

For inspiration see the implementation of [DropByPredicateWithIndexOperator](https://github.com/monix/monix/blob/v3.0.0-M3/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/DropByPredicateWithIndexOperator.scala), which is for `Observable`.

[2018-01-07 21:25] alexandru opened #497 "Add Iterant.takeWhileWithIndex"
Similar with [issue #496](https://github.com/monix/monix/issues/496) we need a `takeWhileWithIndex` on `Iterant` that takes elements for as long as the given predicate returns `true`:

[code]

The implementation should be very similar actually.

[2018-01-07 21:31] alexandru opened #498 "Add Iterant.interleave"
Need an `Iterant` op that interleaves the elements of 2 streams into a strictly alternating sequence.

For `Iterant` it should be similar with `zip`, an operation that proved a little challenging but doable, see [IterantZipMap](https://github.com/monix/monix/blob/v3.0.0-M3/monix-tail/shared/src/main/scala/monix/tail/internal/IterantZipMap.scala).

[code]

[2018-01-07 21:34] alexandru opened #499 "Add Iterant.switchIfEmpty"
Need an op for `Iterant` that switches to an alternative stream if the source is empty.

[code]

Similar with the `Observable.switchIfEmpty`, see [the implementation](https://github.com/monix/monix/blob/v3.0.0-M3/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/SwitchIfEmptyObservable.scala) for inspiration.

[2018-01-07 21:36] alexandru opened #500 "Add Iterant.takeEveryNth"
Need a new `Iterant` op that that emits every n-th event from the source, dropping intermediary events.

[code]

See the [observable implementation](https://github.com/monix/monix/blob/v3.0.0-M3/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/TakeEveryNthOperator.scala) for inspiration.

[2018-01-07 21:40] alexandru opened #501 "Add Iterant.intersperse"
We need an `intersperse` similar with the one on `Observable`, with the following description:

[code]

[2018-01-07 21:43] alexandru commented on #400
I have opened separate issues for all operators that are of interest at the moment, so closing this one.

[2018-01-07 21:43] #400 closed

[2018-01-08 20:50] Avasil commented on #495
fyi I'm working on this issue :)

[2018-01-09 07:52] #487 closed

[2018-01-09 08:20] alexandru commented on #495
@Avasil 👍

[2018-01-09 09:39] greenhat commented on #500
I'd like to take a stab at it.

[2018-01-09 09:49] alexandru commented on #500
@greenhat go for it.

Checkout the advice I already gave on another PR here: https://github.com/monix/monix/pull/504

[2018-01-09 10:53] alexandru opened #505 "Update monix.io for version 3.0.0"
The monix.io project is already set to support multiple versions, which is cool, as we can redirect users to the relevant version.

However the 2.x pages should contain a warning that they don't talk about the latest version, to warn users landing from Google.

[2018-01-09 10:55] alexandru opened #506 "Introduce @deprecated symbols, document API breakage for 3.0"
@deprecated symbols were removed initially, along with the Mima setup that was checking against 2.3.x because it was too annoying for development.

But wherever possible, source compatibility should be preserved.

Also, document everything that was deprecated or removed in a monix.io article to help people migrate.

[2018-01-09 10:56] alexandru commented on #477
Not sure about adding this shortcut, however I'm assigning it the 3.0 milestone — at which point the issue should be rejected or solved.

[2018-01-09 10:57] alexandru commented on #472
You are right @johnw, the ScalaDoc is incorrect, will fix.

[2018-01-09 12:02] alexandru commented on #472
Guys, see https://github.com/monix/monix/pull/507

[2018-01-09 13:01] #472 closed

[2018-01-09 13:09] alexandru commented on #329
Assigning this the 3.0.0 milestone — at this point a less than perfect implementation is better than none and in the beginning we could just do the buffer in combination with `mapFuture`.

[2018-01-09 13:53] alexandru commented on #385
@mmuschalik I'm cleaning up the issue tracker. If you want to continue the conversation, you can re-open this one or open a new one.

[2018-01-09 13:53] #385 closed

[2018-01-09 14:28] cranst0n commented on #279
@alexandru Any chance this might make it into 3.0?

[2018-01-10 09:58] alexandru commented on #279
Yes, but I'd appreciate a pull request.

Some considerations:

1. it should be in `monix.reactive.subjects`
2. we can't have a configurable `OverflowStrategy` unfortunately — we can't have dropped messages because the current value needs to match what is being sent over the wire, otherwise it isn't intuitive imo, therefore the strategy used needs to be `Unbounded` always
3. I like code to come wit

[2018-01-10 14:37] #500 closed

[2018-01-10 14:43] greenhat commented on #497
I'd like to take this one.

[2018-01-10 14:55] alexandru commented on #497
@greenhat sure, go for it

[2018-01-11 06:55] #499 closed

[2018-01-11 09:18] Avasil commented on #496
I can take this one unless someone is already working on it

[2018-01-11 10:17] alexandru commented on #496
@Avasil go for it.

[2018-01-11 11:44] alexandru opened #513 "Setup automatic code formatting in SBT"
Style is difficult to maintain and a burden in code reviews.

I long maintained that formatting should be done by the developers themselves, due to available tools not understanding context well. But for public projects that receive contributions this does not scale.

My preference would be for [scalafmt](http://scalameta.org/scalafmt/), but it remains to be seen if it can be configured well.

Set

[2018-01-11 14:10] dneades opened #515 "Use of syncOnStopOrFailure in JavaScript callback should not result in compilation errors when compiled with -Ydelambdafy:inline"
The macro used by `Ack.syncOnStopOrFailure` (`Macros.syncOnStopOrFailure`) fails when the following file is compiled with the `scalac`  `-Ydelambdafy:inline` option:

_src/main/scala/com/araxis/example/BrowserEvents.scala_:
[code]

_build.sbt_:
[code]

_project/plugins.sbt_:
[code]

_project/build.properties_:
[code]

The compiler output using the above code and configuration is:
[code]
The above

[2018-01-11 18:49] #495 closed

[2018-01-11 21:38] #501 closed

[2018-01-11 22:18] #279 closed

[2018-01-12 06:41] greenhat commented on #498
I'd like to resolve it if no one is working on it already.

[2018-01-12 08:43] alexandru commented on #498
@greenhat go for it.

[2018-01-12 09:23] #496 closed

[2018-01-12 12:45] alexandru opened #516 "Add Iterant[Task].intervalAtFixedRate"
For `Observable` we have:

No 1 — `Observable.intervalWithFixedDelay` — generates ticks with a fixed delay between them, such that when you have something like this ...

[code]

This logic will print `"tick"` every 8 seconds, because the source gets back-pressured and the delay is fixed.

No 2 — `Observable.intervalAtFixedRate` — generates ticks at a fixed rate, like the above but *substracts* the

[2018-01-12 13:05] #497 closed

[2018-01-12 13:09] alexandru opened #517 "Replace the `.sync*` macros on `Future[Ack]` with functions"
Related to issue #515 — the `.sync*` macros have been low level implementation details, exposed because they are useful as shortcuts.

However those macros are very unstable, error prone and I am not convinced that they bring performance benefits.

They should be replaced with plain functions.

If we see a performance regression in `Observable.flatMap` or `scanEval`, where I believe such macros ar

[2018-01-12 13:15] alexandru commented on #363
Hi @jchapuis, the problem with our `BehaviorSubject` is that it does back-pressure and users are not supposed to use it directly, because it's difficult to use, due to its back-pressure protocol. The subjects themselves get wrapped in `ConcurrentSubject` or in `Pipe` (which is a factory), which adds a concurrent buffer in front of the subject to make it safe for synchronous usage. This is differen

[2018-01-12 13:15] #363 closed

[2018-01-12 13:17] oleg-py commented on #516
I would like to take a shot on this :)

[2018-01-12 13:20] alexandru commented on #516
@oleg-py go for it 😀

[2018-01-12 13:22] alexandru commented on #515
@dneades this will be fixed by #517 by turning those macros to plain functions, which should make this problem irrelevant.

I'm trying to keep the issue tracker clean, so I'm going to close this issue, but if you want to add anything, feel free to re-open it or to comment either here or on #517.

[2018-01-12 13:22] #515 closed

[2018-01-12 13:26] alexandru commented on #447
Still considering this, but not for 3.0, so pushing in backlog.

[2018-01-12 13:37] dneades commented on #515
Thank you very much, @alexandru, that sounds great.

[2018-01-12 14:02] jchapuis commented on #363
Hi @alexandru ok, thanks for the informative response!

[2018-01-13 14:02] alexandru opened #519 "Add Iterant.scanMap"
As described in #449 for `Observable`, we also need a new `Iterant` op:

[code]

Note this can be expressed in terms of the existing `scan`.

[2018-01-13 14:14] alexandru opened #520 "Add Task.forkAndForget"
For `Task` we now have `.start` and `.fork` with the same semantics, except that `fork` also forces a logical thread fork:

[code]

Now we need something like this:

[code]

Following law should apply, but the implementation doesn't need to be this:

[code]

N.B. this law probably can't be tested since `forkAndForget` is all about triggering side effects.

[2018-01-13 15:17] alexandru opened #521 "Investigate scala-reflect issue"
`monix-execution` might have a compile dependency on `"org.scala-lang" % "scala-reflect" % scalaVersion`, currently at provided.

If so, then this dependency type needs to be corrected. A problem that was observed while updating the monix.io website.

[2018-01-13 17:11] oleg-py opened #522 "scan of Observable and Iterant are not consistent with stdlib"
Standard library `scan` yields initial element at the beginning of resulting collection:

[code]

While in monix, neither `Observable` nor `Iterant` do:

[code]
and
[code]

I'm not sure if it is a bug or intentional, but IMO it is at least worth being explicitly documented.

[2018-01-14 11:48] alexandru commented on #522
When I implemented `scan` on `Observable` I copied the behavior of Rx.NET, which as I remember does not emit the first element, see for example the [introtorx article](http://www.introtorx.com/Content/v1.0.10621.0/07_Aggregation.html#Scan).

For `Observable` it makes sense to skip the first element because consistency with ReactiveX is important and the implementation gets more complicated otherwi

[2018-01-14 19:20] alexandru opened #525 "SerialCancelable should not have orderedUpdate"
The `orderedUpdate` operation does not make sense for `SerialCancelable` and now that there has been a split between `OrderedCancelable` and `MultiAssignCancelable`, this op needs to go from `SerialCancelable`, simplifying the implementation.

[2018-01-14 19:22] alexandru opened #526 "Get rid of Scheduler macros"
Currently for Scala 2.12 the `executeAsync` and `executeTrampolined` extension methods are plain functions, but for 2.11 they are described with macros.

For Scala 2.11 we need to get rid of those macros as well.

[2018-01-14 20:00] #517 closed

[2018-01-14 20:00] alexandru commented on #525
Fixed in PR #527

[2018-01-14 20:00] #525 closed

[2018-01-14 20:01] alexandru commented on #526
Fixed in PR #527

[2018-01-14 20:01] #526 closed

[2018-01-14 20:01] alexandru commented on #521
Investigated by creating a new bare bones project that depends on `monix-execution`. Doesn't seem to be a problem.

[2018-01-14 20:01] #521 closed

[2018-01-15 00:01] Avasil commented on #520
I would love to attempt this with other implementation, I assume it has some benefits and it would be something similar to ```Task.start``` implementation?  I have never played with a "lower level" ```Task``` functions but it seems like a good way to start.

[2018-01-15 07:15] #519 closed

[2018-01-15 07:16] alexandru commented on #449
@Avasil can you also do `scanMap` for `Observable`?

[2018-01-15 07:21] Avasil commented on #449
@alexandru sure :)

[2018-01-15 07:44] alexandru commented on #520
Sure, go for it.

Just FYI — it should do an automatic fork, so in the implementation you should use `Task.unsafeStartAsync`.

[2018-01-15 09:01] oleg-py commented on #522
I looked into implementations for different languages, and it seems that [RxJava](http://reactivex.io/RxJava/2.x/javadoc/io/reactivex/Observable.html#scan-R-io.reactivex.functions.BiFunction-) and [RxScala](http://reactivex.io/rxscala/scaladoc/index.html#rx.lang.scala.Observable) (and RxKotlin/RxClojure, being wrappers around RxJava) actually emit the initial item, while implementations for other

[2018-01-15 09:20] alexandru opened #529 "Introduce monix.execution.FastFuture"
I've worked on an implementation of a `FastFuture`, which is nearly ready.

`FastFuture` uses Monix's `TrampolinedRunnable` mechanism in order to execute runnables on the local trampoline and thus avoid hard asynchronous boundaries. So it achieves the best throughput possible by sacrificing fairness.

`FastFuture` is meant as an optimization in those cases where fairness doesn't matter and now I'v

[2018-01-15 09:34] alexandru commented on #522
Really? This is kind of a problem. RxJava has diverged from Rx.NET so I'm not surprised.

Thanks for being thorough.

Leaving this open for investigation of implementation complexity, plus we need at least a ScalaDoc change.

[2018-01-15 10:23] Avasil commented on #520
@alexandru
Could you give some pointers about implementing more tests / desired behavior?

My naive implementation:
[code]
Seems to do the trick (it passes the law) but I'm not confident that it is entirely correct.

I don't fully understand it and have handful of questions related to it:

Why is ```Future/Promise``` used versus ```Task.create``` ? To pass ```StackedCancelable``` from ```Context``

[2018-01-15 10:56] alexandru commented on #520
You don't need a `Future` / `Promise` here. You don't need `Callback.fromPromise(p)`, you can just use `Callback.empty`.

Because we need to do memoization. We're creating a `Task` value that corresponds to an already running background process and because of this the created `Task` value must behave much like a `Future` - i.e. on one hand you've got the producer that has already started and that

[2018-01-15 12:05] Avasil commented on #520
@alexandru Thanks that makes sense and clear some things for me, hopefully I'm pretty close in my implementation in #530.

[2018-01-15 16:24] alexandru opened #532 "Task.fork"
Repurpose the word to mean `Task.start` + forced async boundary.

This means introducing this method:

[code]

But in doing so we need to rename or deprecate older methods and companion object functions:

- `executeWithFork` renamed to `executeAsync` on both `Task` and `Observable`
- `Task.fork` is now deprecated
- `Observable.fork` is now deprecated

Also `Task.fromFuture` suffered an upgrade, th

[2018-01-15 17:21] alexandru commented on #529
No, it's a pretty bad idea, due to potential for screw ups. Giving up on it for now.

[2018-01-15 18:08] #529 closed

[2018-01-15 18:10] #516 closed

[2018-01-15 18:16] oleg-py commented on #454
It seems there has been a bug in `cats-effect`:

[code]

3.0.0-M1 depends on cats-effect 0.4, which has this bug. Current version depends on 0.8, which does not have this bug, and the code in OP's post does not produce an exception anymore.

[2018-01-15 19:08] oleg-py opened #535 "Should MVar constructors return `Task`s?"
Monix MVar constructors are not referentially transparent:

[code]

[Haskell](https://hackage.haskell.org/package/base-4.0.0.0/docs/Control-Concurrent-MVar.html#v%3AnewMVar) and [Scalaz](https://github.com/scalaz/scalaz/blob/series/7.3.x/concurrent/src/main/scala/scalaz/concurrent/MVar.scala#L31) constructors both return `IO[MVar[A]]`, since allocating a mutable cell is an effect.

Is it intention

[2018-01-15 20:08] #483 closed

[2018-01-15 20:12] alexandru commented on #535
You are right, didn't think that mattered when I designed the API, it's a slip-up 🤕

Are you interested in doing a PR?

[2018-01-15 20:12] oleg-py commented on #535
Sure. I'll take a look tomorrow

[2018-01-16 06:47] Avasil commented on #535
How about ```Sync```?

[2018-01-16 14:09] #520 closed

[2018-01-17 09:50] alexandru opened #538 "Add newtype for Task.Par, using same encoding used in cats-effect"
The `cats.Parallel` instance is defined for `cats.Parallel[Task, Task]`.

This isn't OK, best practice is to define a newtype for that second type parameter.

In my PR on [Parallel[IO, ?]](https://github.com/typelevel/cats-effect/pull/115) I introduced a newtype encoding inspired by [alexknvl/newtypes](https://github.com/alexknvl/newtypes) ... we can't depend on that particular project, because (f

[2018-01-17 10:46] Avasil commented on #538
I think I can do it after I'm done with #536

[2018-01-17 10:57] alexandru commented on #535
@Avasil I've replied to your question on that PR.

@oleg-py Just a note — I haven't been paying attention to this fact and we probably have other abstractions that need this.

`TaskLocal` definitely needs it and changing this one doesn't hurt so much because it wasn't available in Monix 2.3.x.

I also want your opinion on:

1. `TaskSemaphore`
2. `TaskCircuitBreaker`

These also represent shared st

[2018-01-17 11:14] alexandru commented on #538
@Avasil I was thinking of you 😀 go for it.

[2018-01-17 11:15] Avasil commented on #538
Yeah, I will have some practice by then :D

[2018-01-17 11:39] alexandru opened #539 "All Task abstractions allocating mutable vars need to be built in the Task context"
The `monix-eval` sub-project is about purity by means of `Task` and `Coeval`, therefore the abstractions exposed have to be referentially transparent with no exceptions.

All the ugly, mutable stuff goes into `monix-execution`, some concessions are acceptable for `monix-reactive`, but `monix-eval` and `monix-tail` need to be good FP citizens beyond reproach.

Currently these are:

- `MVar` (see di

[2018-01-17 11:42] alexandru commented on #535
Thinking about it and discussing it on the `cats-effect` channel, I think it's pretty much settled, we have to do it for all.

Just one mention — we have to be very clear in ScalaDoc about the options that users have. `Task` can do `.memoize` and this can help users in sharing global references. I propose a mention of `.memoize` for every one of these builders.

I've created a new issue for it: ht

[2018-01-17 14:17] #535 closed

[2018-01-17 19:23] #459 closed

[2018-01-18 03:29] alexandru opened #541 "Observable.take(0) shouldn't subscribe to the source at all"
[January 17, 2018 11:37 PM](https://gitter.im/monix/monix?at=5a5fc21b5a9ebe4f759d4ba5):

[code]

The fix should be that `take(0)` should simply return `Observable.empty`.

Fix should be back-ported to 2.3.x as well.

[2018-01-18 03:33] #539 closed

[2018-01-18 07:18] alexandru opened #542 "Task.runSyncUnsafe"
Monix has long held the philosophy that disallowing blocking operations is healthy, deferring users to `Await.result` on the generated `Future` values.

However for `Task` a blocking operation makes some sense because:

1. we can do better than `Await.result` on a `Future` value — for example the first step of the run-loop can be executed in a synchronous model (e.g. `ExecutionModel.SynchronousExe

[2018-01-18 07:21] alexandru commented on #454
Thanks @oleg-py for investigating it. Will close this for now.

[2018-01-18 07:21] #454 closed

[2018-01-18 08:35] oleg-py commented on #479
The bracket discussed currently in `cats-effect` is the alternative of `try ... finally`, ensuring cleanup after `use` completes or throws. On the other hand,`fs2` bracket keeps resources open and closes them upon the completion of the stream, so things like:

[code]

are possible (and useful).

Maybe something like this would suffice as the implementation of the latter:

[code]

And maybe it shou

[2018-01-18 09:56] alexandru commented on #541
@Avasil can you please do a back-port to 2.3.x as well?

Pull request to `series/2.3.x` branch.

[2018-01-18 09:57] alexandru commented on #541
Planning a `2.3.3` release with bug fixes.

[2018-01-18 12:58] Avasil commented on #513
@oleg-py
Did you plan to work on it (asking because of #531) ? If not - I could take a look into this issue tomorrow

[2018-01-18 13:06] lorandszakacs commented on #513
@Avasil, I just opened up a PR. Feel free to lift stuff from there and modify it to better suit the existing formatting.

https://github.com/monix/monix/pull/546

[2018-01-18 13:08] Avasil commented on #513
@lorandszakacs cool! I'll have a closer look tomorrow :)

[2018-01-18 17:17] #541 closed

[2018-01-18 19:49] #498 closed

[2018-01-18 20:18] Avasil commented on #329
It looks like cool issue, I could try it but looking at the implementation of ```MapParallelUnorderedObservable``` it will probably take me some time and lots of questions. :P

I would like to confirm behavior first:
1. We accept up to n tasks in the buffer.
2. When we have n tasks we backpressure on the first element.

Is it possible to use some kind of ```Queue```? But I guess I'm thinking about

[2018-01-19 05:05] #542 closed

[2018-01-19 07:30] alexandru opened #548 "Add Iterant.fromStateAction / fromStateActionL"
`Observable` has them and so should `Iterant` 😀

[code]

Note: the simple version, `fromStateAction`, should emit `NextBatch` items with the default `recommendedBatchSize`.

The `fromStateActionL` overload should emit `Next` items, because presumably the evaluation of `F[_]` is expensive and we can't delay it.

[2018-01-19 08:04] Avasil commented on #548
I can do it but want to clarify:
Should ```fromStateAction```emit items as ```NextBatch``` even in ```case Next```? And then ```fromStateActionL``` should be a bit like ```Iterant#scan```?

[2018-01-19 08:08] oleg-py commented on #548
@Avasil this is for building new `Iterant`s, so there won't be anything to match on

[2018-01-19 08:12] Avasil commented on #548
@oleg-py
Oh, right, thanks for pointing this out :D

[2018-01-20 17:28] alexandru commented on #479
@oleg-py hey, I've seen you interested in effects and stuff 😀

Would you mind giving this issue a try?

A `bracket` operation for `Iterant` would be very useful. We just need to make sure that we get the signature right.

The discussion at https://github.com/typelevel/cats-effect/pull/113 is probably relevant. What I'm thinking of is that we need to distinguish between normal termination (with err

[2018-01-20 17:33] #468 closed

[2018-01-20 18:19] #548 closed

[2018-01-21 07:42] alexandru opened #553 "Task's CoflatMap implementation should do `Task!.fork`"
Task implements `CoflatMap`, but the implementation is basically wrapping a task with `pure`, being mostly useless.

We should change the implementation to be based on `fork` such that:

[code]

[2018-01-21 08:05] Avasil commented on #553
I will look at it in the evening

[2018-01-22 07:47] #553 closed

[2018-01-22 10:22] #477 closed

[2018-01-22 19:47] oleg-py opened #559 "Iterant error handling is leaky"
Found those cases while I was looking for correct implementation for #554

These throw:

[code]

although these do not:
[code]

[2018-01-22 20:03] oleg-py opened #560 "Task.runSyncUnsafe does not complete when using global Scheduler"
Got this in REPL using global scheduler:
[code]

I tried various other schedulers, it seems to work only with `trampoline` one:

[code]

[2018-01-23 05:52] alexandru commented on #560
@oleg-py there's something wrong with SBT repl itself, not allowing blocking its main thread for some reason.

Same thing happens with:

[code]

[2018-01-23 05:53] alexandru commented on #560
I assume that the second sample runs because the result is already available upon evaluation so the implementation doesn't block because it doesn't have to.

[2018-01-23 06:23] oleg-py commented on #560
@alexandru you are right. I just found [SI-9076](https://issues.scala-lang.org/browse/SI-9076) describing that problem. And like mentioned here, it works if I break task into two lines:
[code]
Sorry for bothering.

[2018-01-23 06:23] #560 closed

[2018-01-23 06:24] alexandru commented on #560
NP, it's weird, caught me by surprise as well.

[2018-01-23 06:43] alexandru commented on #559
Thanks for investigating.

We need a policy for dealing with errors triggered in the `F[_]` context.

My feeling right now is that the `L` operations, that are folding the iterant and returning `F[_]`, should be the ones in charge.

My only worry is that we'll suffer from performance issues, however I think we can come up with a trick to not do a `handleWith` on each `F[_]` boundary.

We could do

[2018-01-23 06:45] alexandru commented on #559
Or in other words, to avoid the `handleErrorWith` on each cycle, we use a freaking `var` to hold the latest `earlyStop` reference 🤪

[2018-01-23 06:51] alexandru commented on #559
This might be difficult to do for every operator — left folds aren't a problem, but for example this won't work for `foldRight`, because the user is in charge of calling `earlyStop` for that one, but that's to be expected, that one is for big boys.

So what do you say?

[2018-01-23 07:34] oleg-py commented on #559
To me it seems `attempt` and `onErrorIgnore` require changes too. I expect stream to continue emitting stuff on encountering an error after using one of those.

[2018-01-23 07:43] alexandru commented on #559
Those are based on `Iterant.onErrorHandleWith`. I'm afraid to do the `var` trick on this one ☹️ can't reason about the implications right now.

[2018-01-23 08:25] Avasil commented on #559
One interesting difference between handling ```Task``` and ```IO``` :
[code]
And now when i think about it - I remember having problem with ```Iterant.fromStateAction``` something along these lines:
[code]

I don't remember how I was testing it initially but my implementation was failing with ```attempt``` and passing with something else. I started working after some rewriting so I didn't investig

[2018-01-23 08:35] alexandru commented on #559
So first of all the function `f` you give to`mapEval` is considered to be "*user code*" that is risky and just as `Observable` always protects against user provided functions, so does `Iterant`.

So `mapEval` protects against functions `f` that return an `F.raiseError` or that `throw`. It's not a typical function though and we can't use `mapEval` for exemplification in this case, unless `mapEval`

[2018-01-23 08:36] alexandru commented on #559
[code]

[2018-01-23 08:42] Avasil commented on #559
@alexandru
Sorry it wasn't related to ```IO``` and ```Task````, it turned out the difference was about ```Iterant.now``` and ```Iterant.of``` (I've noticed just after I commented but after you saw)

[2018-01-23 08:56] alexandru commented on #559
Ah, it basically takes a different code path, will have to investigate, but it might be normal.

So two things:

1. all left folds (`L` method) need to handle errors; well as I said, we probably can't do that for  `foldRight`
2. `Iterant.onErrorHandleWith` needs to lift `F[_]` errors into the `Iterant` context

Question: does FS2 handle errors triggered in the `F[_]` context in their own `onErrorH

[2018-01-23 09:07] alexandru opened #562 "Iterant.onErrorHandleWith needs to lift F[_] errors into the Iterant context"
See #559.

And all error-related operators that should depend (or that should depend) on `onErrorHandleWith` need to be verified.

[2018-01-23 09:09] alexandru opened #563 "Iterant fold left operators (yielding F[_]) need to handle errors thrown in F[_] context"
See #559

[2018-01-23 09:56] oleg-py commented on #559
@alexandru FS2 lets you handle the first error:
[code]
https://scastie.scala-lang.org/qhln5hWuTeCnYflGOuV3PQ

There seems to be no way to e.g. continue emitting while ignoring errors.

[2018-01-23 10:17] alexandru commented on #559
@oleg-py that is to be expected though - I don't think continuing the streaming in `evalMap` makes sense. In general errors are terminal, unless it's explicit in the semantics of the operator that errors get ignored.

We could have like an `evalMapDelayErrors`, much like how we have `concatMapDelayErrors` in `Observable`. But that would be a different operator.

[2018-01-23 11:01] oleg-py commented on #559
Yeah, now I realize it's not possible to continue from something like `Next(1, IO.raiseError(..), IO.unit)` anyway.

[2018-01-24 08:27] joschuafink commented on #279
I'm a bit late to the party, but in my eyes it does make sense to introduce a intermediary read-only type and derive `Var` from that:

[code]

I'm just not sure about an appropriate name. In Scala.Rx the `Rx` class does that. In reactify `Val`s hold that functionality. I like `Val` as name, but it implies immutability, which is not actually the case. If there is interest, I'll send a pull request.

[2018-01-24 11:09] alexandru commented on #279
@joschuafink I don't like the semantics and the existence of `Var` is already pushing it. For example:

[code]

In this context, due to one consumer being slow and due to the buffering policy chosen, about ~99870 events will get dropped on the floor, with that one subscriber seeing only the first 128 events or so.

After that, when you subscribe to our subject, you'll get the last successfully emi

[2018-01-24 11:49] joschuafink commented on #279
Thank you for your very detailed response. You are right, Monix focuses more on asynchronity and throughput, while libraries like Scala.Rx focus from their syntax more on propagating changes of state. It is probably good if things stay that way :-)

[2018-01-25 12:26] alexandru opened #564 "Update monix.io documentation for 3.0"
....

[2018-01-26 19:26] #563 closed

[2018-01-27 06:38] alexandru opened #570 "Add Iterant.sumL"
Should add the following utility on `Iterant`:

[code]

[2018-01-27 06:50] alexandru opened #571 "Add Iterant.repeat (method)"
Need the following builder for `Iterant`:

[code]

Should be equivalent of [RepeatSourceObservable](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/RepeatSourceObservable.scala).

Should work like this:

1. mirrors the source exactly, until `Halt(None)`
2. when `Halt(None)` happens, this operator should swallow it and return the sou

[2018-01-27 06:55] alexandru opened #572 "Add Iterant.repeat (builder)"
We need an `Iterant` builder with this signature:

[code]

Could depend on #571 but it would be more efficient to just wrap those `elems` in a `NextBatch` (or `Next` if its `length` is 1) and then have `rest` go in loop.

[2018-01-27 07:00] alexandru opened #573 "Add Iterant.repeatEval"
Need these builders for `Iterant`:

[code]

These depend on #572, as you can express them with `Iterant.repeat(()).map(_ => a)` and `Iterant.repeat(()).mapEval(_ => fa)` respectively.

[2018-01-27 07:02] alexandru opened #574 "Add Observable.repeatEvalF"
Similar with #573, we need `repeatEvalF` for `Observable` as well:

[code]

This can probably be expressed with `Observable.repeat(()).mapEval(_ => fa)`.

[2018-01-29 12:25] #562 closed

[2018-01-29 15:16] oleg-py opened #577 "Not all Iterant left folds handle errors from F[_] context yet"
Some unfinished business is left from #563:
* `Iterant.reduceL`
* `Iterant.headOptionL`

(maybe I missed something)

These functions too need to handle error from `F[_]` context

@Avasil maybe you could take a look at those?

[2018-01-29 17:21] oleg-py commented on #393
Hope late is better than never :)

@alexandru @valenterry it seems it's by design, although fairly subtle.

`mapAsync` (`mapTask` in 3.x) is *serial*, which means the resulting `Observable` will wait for the task to complete before starting processing another one to ensure the ordering of items is preserved. That means waiting for result of `foldLeftL`, which only completes when the `Observable` o

[2018-01-30 06:44] #570 closed

[2018-01-30 07:05] #577 closed

[2018-01-30 08:50] Avasil commented on #559
@alexandru @oleg-py
I think
[code]
is left. Writing here so we don't forget about it if it needs the same treatment

[2018-01-30 10:12] #571 closed

[2018-01-30 10:12] #572 closed

[2018-01-31 15:56] oleg-py opened #580 "Questionable Iterant ScalaCheck checks w.r.t. exceptions"
Exhibit A:
[code]
This is only true for Coeval. Unlike its other effectful comrades, `IsEqIterantCoeval` does not use `equalityThrowable` instance to compare errors, it just checks if the both results are a failure.

---

Exhibit B:
[code]

For iterants that end with an error, only error is checked. This is true for `IO`, `Task` and `Coeval`.

This means that you can have iterants `a, b` and a pur

[2018-02-01 19:08] Avasil commented on #564
I think we're approaching time when we should start thinking about this. :)
Current API documentation is fantastic but I feel like `monix.io` docs are very important for new users.  I know it was a big factor to try this library in my case.

It could be a good opportunity to finish [Observable](https://monix.io/docs/2x/reactive/observable.html) documentation, update `Task` about new features (like

[2018-02-02 07:18] #573 closed

[2018-02-02 07:18] #574 closed

[2018-02-02 07:20] #479 closed

[2018-02-02 07:21] #559 closed

[2018-02-02 07:29] alexandru commented on #580
I think our problems here come from the fact that we are using `.toListL` to compare the streams in the `Eq` instance, so any two streams ending in error will be equal regardless of prefix, plus we have the issue with `Task` vs `Coeval`.

We should probably expose the errors and compare via `.attempt.toListL`.

Also, on comparing errors, I think we should stop comparing `Throwable` instances, beca

[2018-02-02 07:30] alexandru commented on #564
Thanks @Avasil for volunteering. The first hurdle is the setup and I started re-configuring the website to compile for two versions instead of one.

[2018-02-05 19:34] alexandru opened #586 "Discussion on finalizers and ++"
I just encountered this very interesting issue on FS2's issue tracker: https://github.com/functional-streams-for-scala/fs2/issues/333

Code sample:

[code]

Daniel is saying that the two lines above have different results and they shouldn't. Which is very interesting, because our "onComplete" (via our new `bracket` for example) refers to the stream on which it is applied, not to what came before i

[2018-02-06 13:46] oleg-py commented on #586
I think we're good.
* `onComplete` does not come with guarantee that it will ever be called (which should probably be noted in docs, if it isn't yet)
* `bracket` does not release resource that has not been acquired (and it's how it should be). For acquired resources, it guarantees (it should :) once and only once semantics

`bracket` is the thing to go for if you need to release some resource. I w

[2018-02-09 13:24] #221 closed

[2018-02-10 07:15] alexandru commented on #586
@oleg-py thanks for investigating this.

[2018-02-14 19:15] satorg opened #590 "Bug in the Observable.zip3 and Observable.zipMap3 functions"
The minimal app to reproduce the bug (copied from [here](https://gist.github.com/satorg/840f0ba50025281b98642167cd7a8869)):
[code]

[2018-02-15 21:12] #580 closed

[2018-02-15 21:13] #590 closed

[2018-02-16 23:58] pettyjamesm opened #594 "Async Tasks Submitted to Full Run Queues are Orphaned"
Just hit this today and can submit more details later, but thought I'd submit the issue anyway in case the fix is easy on my side. Tasks that asyncBoundary and executeOn (eg: IO schedulers) stop executing entirely if the IO scheduler throws a rejected execution exception.

[2018-02-17 02:36] pettyjamesm commented on #594
I should say, in our case this is a database IO pool, thread-sized against the connection pool size, and where we actually want the rejected execution behavior to prevent unbounded growth of the thread pool beyond a certain queue limit. This is especially painful during auto scaling where fresh instances have yet to hit the server side prepared statement threshold and are still warming up the JIT,

[2018-02-20 01:57] pettyjamesm opened #595 "TaskLocal should take Local"
Under the hood, a TaskLocal creates a Local instance to pass context around, which is great- because hopefully the average use case is wrapped inside of a Task anyway so TaskLocal is a sane API on top of an unsafe mutable one. Unfortunately my use case is to trace operations in APIs that are inherently synchronous (JDBC) and it would be nice if TaskLocal could share an existing Local so that traci

[2018-02-20 15:17] oleg-py commented on #595
@pettyjamesm why not use `Local` directly instead of `TaskLocal`, if you need it?

[2018-02-20 17:27] pettyjamesm commented on #595
@oleg-py that's probably my workaround if this proposed change isn't made. Ideally I want to use the TaskLocal API to manipulate context wherever possible. However, in a couple places there really is no option to wrap the current operation in a Task and the ability to use the underlying Local directly would solve that problem for me. Without being able to back a TaskLocal with a given Local, I'm s

[2018-02-20 17:37] Avasil commented on #595
It looks like easy change, similar to `KafkaConsumer` in `monix-kafka` but I didn't play with `TaskLocal` enough to reason about implications. What do you think @leandrob13 ?

[2018-02-20 18:07] oleg-py commented on #595
I think it goes against design goals of `eval` subproject, as stated in #539. However, I don't see why it can't go other way around and ~~reflect~~ get `Task[Local[A]]` from `TaskLocal[A]`. So that as long as you're in `Task` context, you can extract the thing out and pass it downstream. I think @alexandru should give the casting vote.

[2018-02-21 14:15] alexandru commented on #595
I can agree to that, however note that when combining usage of `Local` with `TaskLocal`, the usage patterns aren't necessarily compatible.

See what @leakyabstraction wrote here: https://gist.github.com/leandrob13/382df8a7b8cec321bf5d2791df240889

If that's acceptable, then OK, but you need to be aware that `TaskLocal.bind` will restore the original local value on the thread where the `Task`'s run

[2018-02-22 08:39] Avasil commented on #564
@alexandru I'm about to write something, I don't have too much spare time lately so it might be slow but that's better than nothing. :D

I could start with `Observable` which is probably the most urgent, covering things from ReactiveX and Akka Streams.

Next thing - I was thinking that more reference applications could help. Either in separate `monix-examples` repo or `examples` subproject. Could

[2018-02-23 17:11] alexandru commented on #595
So, anybody for submitting a PR?

[2018-02-23 17:45] Avasil commented on #595
@alexandru I guess I could do that, I wanted to dive deeper into `TaskLocal` anyway

[2018-02-23 17:52] alexandru commented on #564
@Avasil thanks,

Note that we have a new branch on the `monix.io` repository where I'm gradually updating the docs for 3.x: https://github.com/monix/monix.io/tree/series/3.x

For writing stuff on `Observable`, clone that and start writing in `_tut/3x/reactive/`.
That branch now has a README with how the website can be built.

[2018-02-25 10:01] alexandru opened #599 "monix.tail.Iterant should have a cats.effect.Sync instance"
`cats-effect` [version 0.9](https://github.com/typelevel/cats-effect/releases/tag/v0.9) is released and @oleg-py's changes to `SyncLaws` is in (issue [#118](https://github.com/typelevel/cats-effect/issues/118)).

This means that we should be able to implement a `Sync` instance for `monix.tail.Iterant`. And it would be cool to do so because we get extra validations for free.

[2018-02-25 10:01] alexandru commented on #599
@oleg-py I think you already worked on this? You interested?

[2018-02-25 10:02] oleg-py commented on #599
@alexandru yup, will take a look shortly

[2018-02-25 14:33] oleg-py opened #601 "TaskLocal.bind might not restore value on cancelled tasks"
If task passed to `bind` is cancelled, it is possible for `TaskLocal` to never be restored to its original state:
[code]

This can probably be solved by using `bracket` to implement `TaskLocal.bind`

[2018-02-25 15:37] alexandru commented on #601
Indeed, we might need to implement it in terms of `bracket`.

[2018-02-25 20:02] leandrob13 commented on #595
@alexandru @Avasil  Sorry to be late for this discussion but I am wondering why a Task[Local] and not a Coeval[Local] if the use case is for sync operations and when there is no `Task` context needed?

[2018-02-25 20:59] leandrob13 commented on #601
@oleg-py  I can work on this if you haven't started it already

[2018-02-26 00:10] leandrob13 commented on #601
@oleg-py I couldn't reproduce the error in your example. I changed it to this:

[code]

And I am getting `Good` printed.

I also changed it to this:

[code]

So it would stay on the same `Thread` after the bind and still got `Good` printed.

Am I missing something?

How can we assert that in fact a `Task` was cancelled this way?

[2018-02-26 02:04] oleg-py commented on #601
@leandrob13 I might have gotten this completely wrong if it works properly with `runAsyncOpt` on all scheduler types. Could be that it is not a problem.

That is supposed to be `forked.join`. `cancel` terminates, and if the `Task` terminates, there would not be a problem anyway.

That's one of the things `bracket` does. If you do `Task.unit.bracket(_ => maybeCancelled)(_ => release)`, then `releas

[2018-02-26 03:06] leandrob13 commented on #601
@oleg-py Either way I think your warning is legit because bracket handles success, failure and cancellation which is much better. I will test again changing your observations and see how it behaves with the current bind. Thanks for clarifying, I am not well familiarized with `Fiber` yet.

[2018-02-27 09:39] #595 closed

[2018-02-28 22:31] #599 closed

[2018-03-01 14:42] fancywriter opened #606 "Is it possible to unmemoize a Task which is memoized already?"
There is `Task.memoize` https://monix.io/docs/2x/eval/task.html#memoization method which does what I need, memoizes value on it's first computation on `runAsync`. However, that if I execute some database query inside and want to unmemoize it later, evict and refetch (on the next `runAsync` after some expiration time? Is it possible to do with monix?

[2018-03-01 14:57] alexandru commented on #606
No, because `Task` values are immutable and `memoize` works by wrapping the source into one that caches the result on the first run, but given a memoized reference, you can't undo it.

If you want a cache with an expiration date, I would suggest a more classic caching solution.

[2018-03-08 05:18] oleg-py commented on #227
@fancywriter you should simply use `Task.eval(db.query(params)).executeOn(io)`

[2018-03-09 08:03] Naturlih opened #608 "Task.fromFuture does not support .onErrorRestart"
Following code does not work as expected:
[code]
, as it's expected to have 3 "Hello, world!" in console, but only one is shown.
The problem is that future is passed by-value, and `.fromFuture` method has no clue how to create new future to do retry.

The quick fix we use at the moment is (note that `future` parameter is passed by-name, not by-value):
[code]

[2018-03-09 08:18] alexandru commented on #608
@Naturlih that is by design.

Use [Task.deferFuture](https://monix.io/api/2.3/monix/eval/Task$.html#deferFuture[A](fa:=%3Escala.concurrent.Future[A]):monix.eval.Task[A]) or [Task.deferFutureAction](https://monix.io/api/2.3/monix/eval/Task$.html#deferFutureAction[A](f:monix.execution.Scheduler=%3Escala.concurrent.Future[A]):monix.eval.Task[A]).

[2018-03-09 08:21] #606 closed

[2018-03-09 08:33] alexandru commented on #606
Btw, you can probably implement something yourself. I'm thinking of ...

[code]

N.B. I have no idea if this works, I just wrote it in this GitHub textbox and that's it.

[2018-03-14 12:19] valenterry commented on #393
Thanks for the detailed explanaition. It's not a bug and I will therefore close the issue. :)

[2018-03-14 12:19] #393 closed

[2018-03-14 12:29] alexandru commented on #608
@Naturlih will close this issue to keep the issue tracker clean 🙂 but you can reopen it if you think it's necessary.

[2018-03-14 12:29] #608 closed

[2018-03-14 12:34] alexandru commented on #601
@oleg-py I merged @leandrob13's PR #603

If you have time, please confirm that this is fixed so we can close the issue.

[2018-03-14 12:41] alexandru commented on #594
@pettyjamesm sorry for the delay in response.

It's pretty bad if the execution context throws an error and the task will probably become non-terminating, because it's currently a protocol violation — consider that the callback given in `Task.create` needs to be called at most once, so once you pass that callback to another piece of logic, if any of that logic throws, then in absence of further sy

[2018-03-14 12:44] alexandru commented on #594
Note that we might be able to treat just `Task.shift` / `Task.delay*` / `Task#executeAsync` and leave `Task.create` alone — because there it's the user's responsibility to catch and treat errors.

[2018-03-14 12:50] alexandru commented on #393
Thanks @valenterry — personally I'm not happy about `groupBy` because it's confusing, but given back-pressure and the scenario `groupBy` is most likely to be used (e.g. `groupBy(_.key).mergeMap`), this might be the best we can do.

But if you have suggestions for alternatives, please share them.

[2018-03-14 12:52] alexandru commented on #393
@oleg-py forgot to make an observation on your comment:

The `mergeMap` operation also does buffering. Because in `mergeMap` you end up with multiple producers pushing data into the same back-pressured consumer, buffering is inevitable and it's much saner to allocate a fixed buffer upfront, then working with `lastAck.flatMap` or `.syncOnContinue` or other solutions like that.

[2018-03-15 09:21] oleg-py commented on #601
@alexandru looks good to me. `TaskLocal` seems to work properly in all cases I could think of, as long as I local context propagation is enabled.

[2018-03-15 09:21] #601 closed

[2018-03-18 09:02] alexandru commented on #449
This is actually solved for `scanMap` and `scanM` is unfortunately problematic. Closing.

[2018-03-18 09:02] #449 closed

[2018-03-18 09:04] alexandru commented on #478
We already have `bracket` on `Task` and `Coeval`. What needs to happen next is for us to implement the upcoming `Bracket` type class, from cats-effect `1.0.0-RC`. So closing this for now.

[2018-03-18 09:04] #478 closed

[2018-03-18 09:08] alexandru commented on #452
The improvements I've made in the two batches referenced above are pretty good, having solved some clear bottlenecks.

I'm not sure if we managed to reach or exceed Scalaz 8's IO in performance, because testing against it is difficult without a released version. I have some other ideas in mind, but for the time being I'm no longer interested in further work because of other priorities, plus perfor

[2018-03-18 09:08] #452 closed

[2018-03-19 10:15] alexandru opened #611 "Update Monix's rootdoc, the landing page for the ScalaDoc"
The [rootdoc](https://github.com/monix/monix/blob/master/rootdoc.txt) is the landing page for the [API's ScalaDoc](https://monix.io/api/current/).

We need to updated it with mentions of:

- `monix.tail`
- Cats and cats-effect

Note you can generate the ScalaDoc website via:

[code]

[2018-03-19 10:15] alexandru commented on #586
Closing this for now.

[2018-03-19 10:15] #586 closed

[2018-03-19 14:04] Avasil opened #612 "TaskLocal doesn't preserve locals for Task.executeOn"
See code samples below.

`asyncBoundary` works fine:
[code]

`executeOn`:
[code]

[Link to the discussion on Gitter](https://gitter.im/monix/monix?at=5aafaafb6f8b4b99464384fb)

[2018-03-19 16:35] alexandru commented on #612
/cc @leandrob13 you available for investigating it? 🙂

[2018-03-19 17:35] leandrob13 commented on #612
@alexandru sure thing!

[2018-03-19 19:43] leandrob13 commented on #612
@alexandru @Avasil It seems that the writes to TaskLocal must be made eager. This solved the problem:

[code]

The `TaskExecuteOn` creates an `Async` instance from start and the `Task.unsafeStartAsync(source, ctx2, cb2)` executes an `Eval` instance (which is given by the `TaskLocal#write`). The local doesn't get set when you call the write.

Gonna make the PR.

[2018-03-19 19:50] alexandru commented on #612
We can't make them eager. If we do, then `TaskLocal` is broken.

[2018-03-19 19:55] leandrob13 commented on #612
Understood. Going to leave the PR I already opened and find the correct solution.

[2018-03-20 17:15] fdietze commented on #279
Be aware that when using `Var` for reactive state management, you will run into frp-glitches like mentioned in #467.

[2018-03-20 17:34] alexandru commented on #467
I understand the problem, but unfortunately I don't have any elegant ideas of how to solve it. As far as the `combineLatest` operator is concerned, it works as specified.

Unfortunately what you see as `(a, (a, c))` in this model is actually `(a1, (a2, c))`, as `a1` and `a2` are different observations of `a` from different streams, or lets say moments in time. This is more honest in how communicat

[2018-03-21 00:44] sanjivsahayamrea opened #615 "Published javadoc.jar does not have API docs"
Hi,

I've tried to download the API documentation for Monix from the maven repos for R1 from http://central.maven.org/maven2/io/monix/monix_2.12/3.0.0-RC1/monix_2.12-3.0.0-RC1-javadoc.jar and when I unzip this file there are no API docs - only an index.html page with the root and lib folder.

[code]

The current way I get access to the API docs are to clone this project and then run `unidoc` from

[2018-03-21 06:43] alexandru commented on #615
Hi @sanjivsahayamrea,

The main `monix` project is basically empty. It doesn't have sources either. Monix is split in multiple sub-projects, corresponding to Monix packages and all the `monix` project does is to depend on them:

- `monix-execution`
- `monix-eval`
- `monix-reactive`
- `monix-tail`

So for example if you'll take a look at [monix-eval_2.12-3.0.0-RC1-javadoc.jar](http://central.maven.

[2018-03-21 06:57] #522 closed

[2018-03-21 06:57] alexandru commented on #615
FYI the ScalaDoc is also published here: https://monix.io/api/3.0/

[2018-03-21 11:50] fdietze commented on #467
You are right, the problem is a lot harder in an asynchronous setting which monix is designed for. I like your concept with the counter, though (if I understand it correctly) it only solves the simple case, which can also be solved via the `zip` operator:
[code]

In my original case, `d` should also be triggered if `b` was only triggered by `c`, while `a` stays the same.
[code]

I digged a bit int

[2018-03-21 11:56] ssanj commented on #615
awesome! Thanks!

[2018-03-21 11:57] #615 closed

[2018-03-21 12:42] alexandru commented on #467
You're right, it should be mentioned in the docs.

Leaving this open until it is.

[2018-03-22 10:38] alexandru opened #616 "Iterant.merge"
Just like `zipMap` and `parZipMap` on `Iterant`, which are making use of Applicative's `map2`, we also need a `merge` operation making use of `Concurrent#racePair`.

[code]

Behavior:

1. At each step this will create a race condition, via `racePair`, between `stream1` and `stream2`
2. The winner gets signaled immediately, with the loser's `Fiber` being used to create the next race condition, in `

[2018-03-22 13:33] alexandru opened #617 "Iterant#mapBatch"
We need an operation like this:

[code]

The yielded `Iterant` then be made of `NextBatch` nodes. This is useful for optimizing a data stream, for example for converting an `Iterant[F, Array[A]]` into an optimized `Iterant[F, A]`.

[2018-03-22 13:37] alexandru opened #618 "Iterant.fromReactivePublisher"
The Reactive Streams integration isn't complete.

We can convert from `Iterant` to `org.reactivestreams.Publisher`, but not vice-versa. To convert from `Publisher` to `Iterant` we can do it in two ways:

1. behavior similar with `Observable.bufferIntrospective`, as in we could use a buffer that collects events from the source up to a limit, then when the `Iterant`'s consumer requests the next batc

[2018-03-22 13:42] akozhemiakin commented on #376
Here is some, maybe naive, implementation from the top of my head

https://gist.github.com/akozhemiakin/4934a5ab463f7d2104c3bb35dd88a2a8

If it looks fine I can prepare pull request based on it

[2018-03-22 15:13] alexandru opened #619 "What to do with Task#foreach ?"
`Task#foreach` triggers side effects and doesn't behave like `Future#foreach`, in that it doesn't log errors.

We need to decide what to do with it. Solutions:

1. we make it behave like `Future#foreach`, to report errors via `Scheduler#reportFailure`
2. we make it return a `Task` instead, but this helps with nothing imo
3. we deprecated it in 3.0.0-RC2 and then remove it in 3.0.0

Opinions?

[2018-03-22 15:40] Avasil commented on #617
I can implement it in the meantime, it has been a while. :D

[2018-03-22 16:00] alexandru commented on #617
👍 go for it

[2018-03-22 16:50] gabor-aranyossy commented on #376
Thanks for replying and for looking into this. Sorry, but i'm not an active user of the project. I opened this ticket a long time ago while I was experimenting with the library, so it would take a while for me to refresh my brain on this. I suggest creating a PR anyway if you also find this valuable. If not just let me know and I can close the ticket.

[2018-03-23 06:38] oleg-py commented on #619
**2.** is a no-go:
- There's already `Task#foreachL` that returns a `Task[Unit]`
- for-syntax might be silently broken:
[code]

I think it's ok to deprecate it and leave for a while with a message to use `runAsync` or `runSyncUnsafe` instead. That means losing for-loop support, however.

---

Also, `foreach` is essentially implemented as `map { a => f(a); () }.runAsync`

So the issue you mention m

[2018-03-23 07:56] Avasil commented on #619
Unfortunately I don't have time now to play around with it too much but I agree with @oleg-py that the problem might be with `map`. Shouldn't it `reportFailure` somewhere?

[2018-03-23 08:02] alexandru commented on #619
It should, but it doesn't and I got a confused user on Gitter complaining about it.

The current behavior is wrong, along with its signature.

Returning `CancelableFuture[Unit]` is also a bad idea for the same reason that @oleg-py mentioned above ... the result will not wait on an inner-for, this isn't a `flatMap` that we are describing, so returning a `Future` in here gives a false sense of what

[2018-03-25 06:58] alexandru opened #620 "Batch.fromAnyArray(Array[Int]) throws"
[code]

The signature currently is:

[code]

Arrays on the JVM are reified. Thus a conversion is required in case `array.isInstanceOf[Array[AnyRef]] == false`.

[2018-03-25 09:36] oleg-py commented on #620
A conversion? If I was operating on something like `Array[Byte]` for efficiency sake, I certainly wouldn't like a defensive copy to be made.

The better approach is probably to create a correct builder based on `array.getClass.getComponentType` similar to `ArrayBuilder.make`

[2018-03-25 09:48] Avasil commented on #620
@alexandru @oleg-py
Well, my first approach is just:
[code]
but that's super ugly

[2018-03-26 06:08] alexandru opened #623 "Rename BatchCursor#toGenerator to #toBatch"
We have the following on `BatchCursor` that I noticed while writing the docs:

[code]

I think the naming uses `Generator` due to earlier experiments. This method should be named `toBatch`.

[2018-03-27 17:40] oleg-py opened #624 "TaskLocal not always restoring context after execution"
I finally managed to reproduce the issue I was talking about on gitter.

The app below crashes with `MatchError` because variable becomes `true` on 2nd iteration (on my machine).

Happens on both RC1 and #613 (commit # 63044eb)

[code]
Ironically, this works when LCP is *disabled*

/cc @leandrob13

[2018-03-28 00:11] leandrob13 commented on #624
@oleg-py got it, will test and debug asap

[2018-03-28 05:28] oleg-py opened #625 "Should ConcurrentEffect[Task] take implicit Task.Options?"
When using abstractions built on top of `ConcurrentEffect`, the user is no longer in charge of running the task. It makes it quite hard to configure both cancelability and local context propagation, requiring manual insertion of `executeWithOptions` in every possibly affected returned `Task`.

I think it makes sense if `ConcurrentEffect` required not only `Scheduler`, but also `Task.Options`.

For

[2018-03-28 06:12] alexandru commented on #624
So this sample should probably work because it's on the same thread, don't know what is wrong here; but it got me thinking ... your usage of `runSyncUnsafeOpt` in that loop is incompatible with the chosen model and this can't work for all tasks.

The problem gets more complicated when you introduce forks:

[code]

In such a case the restore will happen on another thread entirely, captured in a `Th

[2018-03-28 07:36] alexandru commented on #624
Btw, our implementation is inspired by the implementation of Twitter's `Future` and `Local`.

But it has one big difference. Back when we implemented this, @leandrob13 used an immutable `Map` in that `ThreadLocal` which I liked very much, however Twitter's implementation uses a mutable `Array`.

I'm now thinking that we might have made the wrong decision and that we also need a mutable `Array`.

[2018-03-28 07:43] oleg-py commented on #624
@alexandru I used `shift` initially in my testing, but as I went on simplifying, `unit` was enough.

Honestly, my understanding of concurrency issues is somewhat superficial. I prefer to rely on good practices (immutables, pure functions) and abstractions (Task) to avoid having them 😅.

As I mentioned on gitter, I encounter similar problem when managing connections in oleg-py/quill-monix. The `Tas

[2018-03-28 07:46] alexandru commented on #624
Yeah. I'm a little busy at work, but will play around with it this week. Maybe we need to go back to the basics. I'm curious how it behaves with a mutable Array in it, like Twitter is doing.

I somehow thought we outsmarted them, but I think they outsmarted us 😀

[2018-03-29 14:00] sumnulu opened #627 "Can we add a getter method for the value of subject.Var ?"
[code]

[2018-03-29 14:45] alexandru commented on #625
We probably need `Task.Options` in there, yes, but with a default value.

I'm not 100% sure though. It complicates the API.
Are you sure it eases your interaction with Http4s?

[2018-03-29 14:49] sumnulu commented on #627
It has already has getter method ( `apply`)

[2018-03-29 14:49] #627 closed

[2018-03-30 04:38] oleg-py commented on #625
@alexandru the thing is:
* I am using `TaskApp` to start http4s server
* I am redefining `def options` to `Coeval(Task.Options(true, true))`
* When I make a request, http4s uses `Task.Options(false, false)` (the default) to run my Tasks

Issues:
1. Caught me completely by surprise. So it might be error-prone.
2. There is no easy way provide the `Effect` instance I need. I have to extend `CatsEffec

[2018-03-30 11:14] #617 closed

[2018-03-31 00:58] leandrob13 commented on #624
Getting back from holidays. Should I pause this until @alexandru tests the mutable Array alternative?

[2018-03-31 06:58] alexandru opened #628 "IterantBuildersSync methods should not require `implicit F: Sync[F]`"
[code]

It's useless in this case to require that `implicit F`, because we already have it. This code needs to be refactored to remove such instances of useless implicits being required.

[2018-03-31 08:56] oleg-py commented on #616
@alexandru can we cancel the loser on early termination?

[2018-03-31 09:30] alexandru commented on #616
We might be able to do it, but it gets tricky to do so.

When we have two streams, we'll end up at each step dealing with two early termination tokens, lets say `stopA` and `stopB`, just like happens with `zip`.

The problem is that, compared with `zip`, at any point in time we'll have either `stopA` or `stopB`, not both — because once you follow `rest`, the previous `stop` is not necessarily vali

[2018-03-31 09:33] alexandru commented on #616
What I'm trying to express is that it's easier to *not cancel* the loser in early termination. We just wait for it.

It's not ideal, but it would be a good first version. And if we'll be able to do cancelation of the loser, that's going to be a nice upgrade, but that can come later.

[2018-03-31 09:47] alexandru commented on #616
As an addendum to the above 🙂 this is what I'm thinking of ...

[code]

So on cancelation we set a boolean flag and if `rest` is not cancelable, then we'll notice it in its `flatMap` continuation (which should probably be preceded by an `attempt` 😔) and thus trigger early stop.

If `rest` is cancelable, then it becomes the user's responsability. Which is totally reasonable, because that piece of c

[2018-03-31 09:50] alexandru commented on #616
I must also mention that this problem is precisely why I campaigned (and introduced in `cats-effect`) a design in which, by default, cancelation of `flatMap`-loops is not automatic and all cancelation behavior has to be opt-in.

[2018-03-31 10:24] alexandru opened #630 "Iterant#cancelable"
We need a `cancelable` operation, that transforms any `Iterant[F, A]` into one whose `F[_]` can be canceled.

See the discussion in #616.

We also need a `CancelStrategy` as an (implicit?) parameter:

1. `Deterministic` — that forces cancelation to call `stop` in a deterministic way
2. `Concurrent` — that assumes `stop` can be called concurrently

This should also introduce another `Iterant` state

[2018-03-31 10:26] alexandru commented on #616
Actually while showering 😀 I had an idea — and we need a `cancelable` operation, see: https://github.com/monix/monix/issues/630

[2018-03-31 11:55] #628 closed

[2018-03-31 16:53] #623 closed

[2018-04-01 15:34] megri opened #632 "Iterant.bracket calls release prematurely in monadic composition when using Iterant.pure"
I expect the two versions to give the same output, but the one using Iterant.pure calls release prematurely.

[code]

[2018-04-01 16:21] #632 closed

[2018-04-01 16:22] #620 closed

[2018-04-01 16:31] alexandru commented on #625
@oleg-py can you do a PR? It needs a default value though, set to `Task.defaultOptions`.

[2018-04-01 16:39] oleg-py commented on #625
@alexandru Sure. But I don't see why it is a good idea to provide default value. It would still compile without any warning if you don't have an implicit instance available (which, when using `TaskApp`, you don't).

[2018-04-01 16:47] alexandru commented on #625
Well, `Task.defaultOptions` is not implicit and I don't want people to be forced to provide their own `Options` for `Effect`, but I want to force people to provide their own `Options` when they do `runAsyncOpt`.

We probably need another change as well. Usage of `TaskLocal` is error prone without that option being enabled and I think we should enable it ourselves on `bind` for the resulting task.

[2018-04-01 17:37] leandrob13 commented on #624
@oleg-py I tested and it seems that the problem lies within the `bindL` implementation based ob `bracket`.

Reverted back to this:

[code]

and it works as you expect. The problem is that `bracket` forces an async boundary by using the `onCancelRaiseError`:

[code]

Since the boundary is forced, the release is done in another thread instead of the current one. That is something that is ok with `br

[2018-04-01 17:52] alexandru commented on #624
The async boundary in `onCancelRaiseError` is a light one, being managed by `TrampolineRunnable` instances pushed in the `Scheduler`, which knows how to execute them on the current thread.

That piece of logic never forks the execution.

What happens actually is that in the `TaskRunLoop` we are using `Local.bind` on executing stuff, restoring the previous context on the current thread after execut

[2018-04-01 18:00] alexandru commented on #624
This is also consistent with how the `TracingScheduler` works:

[code]

[2018-04-01 18:59] leandrob13 commented on #624
@alexandru @oleg-py As we discussed in gitter, I came up with this that seems to fix the problem reported:

[code]

If this is approved I can add it in #613.

[2018-04-01 20:06] oleg-py commented on #619
I have problems reproducing the behavior. Seems like `map` is catching things, like expected.

[2018-04-01 22:59] leandrob13 commented on #624
@oleg-py Nevermind, this breaks the other tests. I had a premature conclusion on this one.

[2018-04-03 09:43] megri opened #637 "Should (some?) operations on Iterant be lazy by default?"
As asked on gitter:
`val nats: Iterant[F] = Iterant[F].eval(1L) ++ nats.map(_ + 1)` fails with a stack overflow exception due to `++` strictly evaluating the rhs argument. Is this intentional? I find this way of expressing recursive lazy structures pretty convenient.

`Iterant.suspend(nats.map(_ + 1))` solves the strictness issue, just wondering if maybe this should be the default case for operati

[2018-04-03 09:45] alexandru commented on #637
It's intentional.

Not sure if it's the best decision, but I'd rather have laziness managed by `F[_]` instead of by-name params, otherwise the default is strictness, following Cats's philosophy.

Btw, `++` has an overload, so you can also do ... `Iterant[F].eval(1L) ++ F.delay(nats.map(_ + 1))`

[2018-04-03 10:14] oleg-py commented on #637
I'm with @megri  on this one.

For some operations on _concrete_ data types I think by-name parameters make more sense than by-value, e.g. `Option.getOrElse`. I think it's the same case with `Iterant.++`. IMO the `StackOverflowError` and possible strictness is totally not something a user of `Iterant` should need to be cautious about. I also myself have constructed lazy streams in fashions similar

[2018-04-07 05:33] alexandru commented on #612
Sorry for the long delay in response, I had to do play with it myself.

I don't like this solution in PR #613 because the problem is how the `TaskRunLoop` is implemented and this solution is overriding the `Local.bind` instructions in `TaskRunLoop`. In other words we end up with duplicate work and that's not cool.

I also don't think that we need saving and restoring of that context on each trampo

[2018-04-08 00:11] leandrob13 commented on #624
@oleg-py I got it working for your example that uses `Task.unit` with `bind` and `bindL` keeping the bracket implementation:

[code]

If I changed your example above from `Task.unit` to `Task.shift` and it is still failing because of the reasons @alexandru gave above ( I tried to explain it (here)[https://gist.github.com/leandrob13/382df8a7b8cec321bf5d2791df240889] ).

I don't think we can guarant

[2018-04-08 00:57] leandrob13 commented on #612
@alexandru just saw your comment, I will be testing this asap. Got caught up with #624.

[2018-04-08 07:42] alexandru commented on #612
Indeed, having TaskRunLoop handle it was my idea — but it’s not
necessarily a good one due to having no control over what happens
in an Async.
Note that having TracingScheduler handle it might be tricky as well. For
example what would happen if the user does an `asyncBoundary(ec)` with a
scheduler reference that isn’t traced? Nothing good I imagine.

[2018-04-08 18:25] leandrob13 commented on #612
I think that scenario is covered in the tests (provided by one of the issues @Avasil reported):

[code]

Neither ec or ec2 are tracing schedulers. If under a different use case of `asyncBoundary` that this would not comply, you know I am more than happy to check it out. This is done by something I wanted to validate with you about the context creation in #613  (which takes care of this kind of sce

[2018-04-10 17:25] alexandru opened #642 "Make Iterant's ++ take a lazy (by-name) parameter"
Currently the signature for `++` for `Iterant` is this:

[code]

We need to change it to take a by-name parameter:

[code]

Note that via this change we might slow down operators that depend on `++`, so we need to provide a strict alternative. Might as well provide a function on the companion object:

[code]

This needs to be implemented in the most efficient way possible, so it should not be in t

[2018-04-10 17:36] alexandru opened #643 "Make Observable's ++ take a lazy (by-name) parameter"
Similar to #642, on `Observable` we've got the `++` operator currently defined like this:

[code]

We need to change that parameter to be by-name (lazy):

[code]

[2018-04-10 17:45] alexandru opened #644 "Optimize Observable.concat and Observable.concatDelayError"
Currently we've got these functions on the companion object:

[code]

They are defined in terms of `concatMap`, however we can define them in terms of `++`, the strict implementation (not the one with the by-name param, after #643 happens).

So the challenge, should you choose to accept it:

1. provide an implementation based on `ConcatObservable` instead of `fromIterable` and `concatMap`
2. prove

[2018-04-10 17:47] alexandru commented on #637
I have created 3 issues based on this:

- https://github.com/monix/monix/issues/644
- https://github.com/monix/monix/issues/643
- https://github.com/monix/monix/issues/642

Will now close this issue.

[2018-04-10 17:47] #637 closed

[2018-04-10 17:48] #625 closed

[2018-04-10 17:50] #619 closed

[2018-04-11 12:53] alexandru opened #645 "Properly deal with InterruptedException on the JVM"
Copying the issue from https://github.com/typelevel/cats-effect/issues/181 because Monix suffers from the same issue.

We have our own [NonFatal](https://github.com/monix/monix/blob/master/monix-execution/shared/src/main/scala/monix/execution/misc/NonFatal.scala) implementation because the standard one also filters things like `ControlThrowable`, which is pretty dumb.

However this means we are no

[2018-04-12 12:44] Avasil commented on #630
What do you mean by another state - adding new type to ADT?

[2018-04-12 12:46] alexandru commented on #630
Yes, but I'm not sure if it's a good idea, I'm still thinking about this issue.

[2018-04-13 14:18] Avasil opened #648 "Operators for splitting Observable"
Currently we don't have any methods for splitting `Observable`.

Is there any specific reason for that @alexandru ? We could add `Observable.span`,  `partition` and `unzip` equivalent to standard collection. It should be quite easy to express using existing operators but those are familiar from stdlib so I feel like they might have place in API.

If you think that's good idea I can create issues f

[2018-04-13 14:51] alexandru commented on #648
Splitting an `Observable` is not as easy as splitting a standard collection.

It's a given that if an observable gets split, the data source needs to be hot.

And that's a problem, because only cold observables are safe / referentialy transparent.

[2018-04-13 14:55] alexandru commented on #648
For `Iterant` the only easy way to do it is to memoize the whole data source, also denying the user the possibility of stopping early 😉

[2018-04-13 15:31] Avasil commented on #648
There is naive implementation like this:
[code]

Is this not safe?

[2018-04-13 15:49] alexandru commented on #648
No, because the source gets evaluated twice and imo that’s not obvious.

[2018-04-13 16:03] Avasil commented on #648
Oh, I understand, thanks for claryfing

[2018-04-13 16:03] #648 closed

[2018-04-13 20:09] alexandru opened #649 "Add Observable.bracket, similar with Iterant.bracket"
Currently `Iterant` has this function described in its companion object:

[code]

So given a resource created by `acquire`, it feeds that into `use` to create an `Iterant` and then at the end executes `release` no matter what — i.e. even if the consumer stops the streaming early, or the stream ends in success or error.

We need to describe the same for `Observable`:

[code]

Implementation notes:

[2018-04-13 20:16] alexandru opened #650 "Add CancelableFuture.onCancelRaiseError"
`Task` currently has this method:

[code]

In Monix, on cancelation, tasks become normally non-terminating. But sometimes we don't want tasks that are non-terminating on cancelation, but rather we want tasks that terminate in error. And that's what this function does — turns tasks that are non-terminating on cancel, into ones that complete in error.

We need it for `CancelableFuture` as well:

[co

[2018-04-13 20:23] alexandru opened #651 "Task should deal with RejectedExecutionException"
In issue #594 we are described a situation in which thread-pools that can throw
[RejectedExecutionException](https://docs.oracle.com/javase/7/docs/api/java/util/concurrent/RejectedExecutionException.html) are used.

But if that happens in methods such as `executeAsync`, `executeOn`, `shift`, or `asyncBoundary`, we aren't catching and streaming the exception and the tasks will become non-terminatin

[2018-04-15 08:49] kubukoz commented on #643
@Avasil do you think there should be a strict alternative like in https://github.com/monix/monix/issues/642?

[2018-04-15 08:51] alexandru commented on #643
@kubukoz there's already a strict alternative, it's called `Observable.concat`.

Issue #644 specifies that its implementation admits an optimization though, currently being based on `flatMap`, which is heavier than the current `++`.

[2018-04-15 08:52] Avasil commented on #643
@kubukoz I think so, current implementations work with strict alternative so they should be changed to use strict `concat` if there is any that use `++`

@alexandru I think you misread the issue - it's about `Iterant`. :D

[2018-04-15 08:53] kubukoz commented on #643
@Avasil 642 #642 is about Iterant :D

[2018-04-15 08:54] Avasil commented on #643
@kubukoz @alexandru  Oh, sorry XD I was reading 642 but I think it is the same with both :D

[2018-04-15 09:49] kubukoz commented on #645
Can we check it with `Platform.isJVM`, or should we have two separate sources?

[2018-04-15 10:01] Avasil commented on #645
@kubukoz
I'll admit I'm not yet too familiar with how Scala.JS converts code - I guess if  `VirtualMachineError` is ok then `InterruptedException` probably too but it would be good to check how it's resolved assuming all tests pass for Scala.JS

[2018-04-15 10:03] kubukoz commented on #645
From what I see, `InterruptedException` is possible in JS world as well... then if it has to remain unhandled we'd need to have two separate sources for `NonFatal` js/jvm - @Avasil @alexandru does that make sense?

[2018-04-15 10:44] Avasil commented on #642
Just commenting that one of the Scala Spree participants is working on this issue. :)

[2018-04-15 14:56] #645 closed

[2018-04-16 11:45] Avasil commented on #642
Resolved in #656

[2018-04-16 11:45] #642 closed

[2018-04-17 02:06] hepin1989 opened #658 "Monix should make use of a HashWheelTimer for large timeout scheduling."
https://github.com/netty/netty/blob/4.1/common/src/main/java/io/netty/util/HashedWheelTimer.java

https://github.com/akka/akka/blob/master/akka-actor/src/main/scala/akka/actor/LightArrayRevolverScheduler.scala

https://github.com/real-logic/agrona/blob/master/agrona/src/main/java/org/agrona/DeadlineTimerWheel.java

[2018-04-17 02:12] hepin1989 commented on #658
the minimal tick is 1ms on linux and 10ms on windows

[2018-04-25 14:49] Odomontois opened #663 "Wrong effect execution order in map2, mapBoth, zipMap"
This code
[code]
constantly prints

Which is very misleading.

[2018-04-25 15:05] alexandru commented on #663
For `Task.map2` you are right, they should have been evaluated in order — not sure how we missed that.

For `mapBoth` and `zipMap` (they are the same), that's normal behavior, because you don't get a guarantee about order of execution, the tasks being meant to execute in parallel.

[2018-04-25 17:18] oleg-py opened #665 "Failing tests if auto cancelable run loops are enabled"
[code]

Produces 20 failures from the following suites:
[code]

Concretely from type class laws these fail:
[code]

[2018-04-25 18:34] Odomontois commented on #663
Yes, about mapBoth and zipMap It's sounds intuitive and follows from what I've seen in TaskMapBoth code.
It's just strange that map2 is defined via zipMap

[2018-04-25 19:27] #663 closed

[2018-04-27 22:02] Avasil commented on #649
@alexandru
Should we trigger `release` before or after `onComplete` and `onError` ?

[2018-04-29 16:05] oleg-py commented on #650
So, I was looking into this and I have a question

[code]

What should happen to `c` if either `a` or `b` is cancelled? I see two options:

- `c` becomes non-terminating. This is easiest to implement, but is likely to catch users by surprise
- `c` terminates in error. This requires changing quite a lot of `Cancelable` hierarchy so they can propagate cancellation to the top.

`Task` obviously doesn

[2018-05-01 06:26] #611 closed

[2018-05-01 08:16] Avasil commented on #649
@alexandru

There were some changes to `bracket` because of cats-effect integration.
Until now I was working on those signatures:
[code]

should I change it to:

[code]

Should I also try to implement cats-effect typeclasses with `Observable` or just keep it something else but with similar functionality?

[2018-05-14 08:39] #618 closed

[2018-05-14 18:45] dccorona opened #672 "Task.gather[Unordered] Should Defer To Scheduler For Determining Parallelism"
Currently, `Task.gather` and `Task.gatherUnordered` (and also `Task.zipList`) determine whether or not to execute the tasks in parallel based on whether explicit async boundaries exist or not (i.e. tasks created with `Task.apply` or `Task.fork` will run in parallel...if all the tasks use `Task.eval`, they'll always run synchronously. However, this feels unnecessarily explicit, and takes away one o

[2018-05-14 19:12] Avasil commented on #672
You might like #670

[2018-05-14 20:35] #672 closed

[2018-05-21 08:18] alexandru opened #676 "Iterant: investigate alternative encoding"
Suggested at [May 21, 2018 11:04 AM](https://gitter.im/typelevel/cats-effect?at=5b027da81cfca775e125e363) by @oleg-py ...

Instead of the `earlyStop` mechanism for `Iterant`, we need to investigate if this is feasible:

[code]

And the nodes themselves will no longer have a `stop: F[Unit]` reference:

[code]

Open questions:

1. does it work with auto-cancelable binds?
  - need to investigate the

[2018-05-21 08:42] oleg-py commented on #676
With this encoding folds can rely on `bracket` of `F` without having to assume that every `earlyStop` has something valuable.

[code]

Additionally, now that we have `Ref`, an alternative construction might be possible that doesn't deal with lambdas:

[code]

[2018-05-21 08:44] Avasil commented on #676
I would like this approach if it turns out to be feasible.
I feel like having `earlyStop` + `Bracket` is a bit confusing/redundant and users will be used to using bracket for finalization after using cats-effect / scalaz 8.

[2018-05-21 08:51] oleg-py commented on #676
Also, current `resource` is [broken for OptionT](https://github.com/typelevel/cats-effect/issues/192#issuecomment-390471599), but this encoding can potentially fix it as well, auto-cancelable binds or not.

[2018-05-21 10:33] alexandru commented on #676
The OptionT problem can by fixed in the folds implementation, like completeL, by replacing usage of handleError with bracket.

It’s not enough for making cancellation work because you need synchronization, cancellation being a concurrent operation.

That said, if this encoding works, I’m fine switching to it.

[2018-05-22 07:34] alexandru commented on #676
On your sample:

[code]

What I don't like about it is that, with this encoding, `Bracket` (or `Scope` how you named it) will always have to be wrapped in a `Suspend` and will always use some kind of variable to keep info about the resource (like `Ref` is used here).

On the other hand it is probably simpler to deal with when combining it with other nodes, plus usage of functions can lead to stack

[2018-05-22 08:17] oleg-py commented on #676
For `resource`, yes. In some cases, like `Iterant#doOnExitCase`, it's not necessary.

Also with `acquire: F[A]` encoding it's not possible to keep, for instance, `liftMap` which takes two functions `F[Iterant[F, A]] => G[Iterant[F, A]]` and `F[Unit] => G[Unit]`, because the latter isn't enough anymore.

But the biggest concern is, of course, stack-safety. Resourceful streams tend to be `flatMap`pe

[2018-05-22 16:38] rossabaker commented on #665
typelevel/cats-effect#237 makes the `Concurrent[Task]` and `ConcurrentEffect[Task]` laws pass with autoCancelableRunLoops.

To reproduce, [this branch](https://github.com/rossabaker/monix/tree/issue-665) needs a locally published cats-effect.  It includes the necessary to make it compile against post-RC changes to cats-effect (e.g., `runStepSync`).

[2018-06-01 11:00] atais commented on #606
If one needs a working solution, there are just two small mistakes:

[code]

[2018-06-04 14:10] atais commented on #606
I have also prepared a simpler version, without `Cancellable` & `Promise`, because I did not understand what do they do. But it requires some external way to check current time. I used `JodaTime`.

[code]

[2018-06-14 08:53] MateuszKubuszok opened #682 "Circuit Breaking not doing a second attempt"
I want to `TaskCircuitBreaker` to retry querying external service with an exponential backoff in case I used up quota. I wrote a utility class that does exactly that basing on [docs for Monix 3](https://monix.io/docs/3x/eval/circuit-breaker.html#usage):

[code]

However, when I wanted to test it, it failed. I rewrote the test to use only raw `Task` and `TaskCircuitBreaker`:

[code]
which fails wit

[2018-06-14 09:05] alexandru commented on #682
Two observations:

1. in your test you're not retrying the task — the circuit breaker does not retry the task for you
2. doing `circuitBreaker.flatMap(_.protect(task))` will not work, because it's creating a new `TaskCircuitBreaker` instance on each call and that's not what you want

Usually `TaskCircuitBreaker` needs to be carried around as a parameter. If you can't do that for some reason, you c

[2018-06-14 09:14] MateuszKubuszok commented on #682
Thanks for answer! It was not clear to me that I need to retry myself. I am using it in context where referential transparency would not be possible anyway (calling external services that change returned results over time).

[2018-06-14 09:14] #682 closed

[2018-06-24 19:45] xingyif commented on #505
Isn't this issue already fixed? https://monix.io/docs/2x/
![screen shot 2018-06-24 at 15 44 21](https://user-images.githubusercontent.com/15064985/41822952-9308ed7c-77c5-11e8-93a1-66d5ca1cfaac.png)

[2018-06-25 09:36] Avasil commented on #505
Good catch @xingyif, thanks!

[2018-06-25 09:36] #505 closed

[2018-07-07 13:34] agajek commented on #644
I've tried to provide some implementation by stacking `sources` into `ConcatObservable`. It ended up with sth like that:
[code]
In benchmark I've generated 3k `Observable` containing pure `Int` and then applied my implementation of concat to them. But the performance was terrible.
Current implementation is:
[code]
and mine:
[code]
Is the sth I need to put attention while implementing this?

[2018-07-09 22:28] jvican commented on #281
@alexandru Did we ever get closer to the performance that we had with the previous executor? I'm doing some heavy performance work and I'm optimizing for throughput on not so many threads. It would be great if there's still some room for improvement in schedulers optimized for this use case (`Scheduler.computation` doesn't seem to cut the best configuration in my preliminary results).

[2018-07-17 13:20] badmitrii opened #687 "Iterant: stateful scan"
Hi. I would like to propose a small enhancement of `Iterant::scan`. It seems one may wish to emit the result not on each step, but according to some state transition. Here is what I mean:

`final def statefulScanOption[S, T](seed: => S)(op: (S, A) => (S, Option[T])): Iterant[F, T]`

[2018-07-20 19:20] jupco opened #688 "Task.fromTry type constructor is being eagerly executed"
I have observed a weird behavior in the `Task.fromTry` function, when I had a  `Try` block which contained a long-time blocking call to a Java library.
What I could see was that my thread was blocked and `timeout` had no effect on this; while reviewing the code I found that this is the contract of `fromTry`
[code]
it receives an evaluated Try so no timeout can be applied because it's already a `No

[2018-07-23 06:41] alexandru commented on #688
`Task.fromTry` being eager is by design. Like many such functions being described in Monix, or in Typelevel Cats in general, strictness is the default and not laziness.

If you want lazy evaluation, you have to mark it as being lazy via one of Task's operators that deal with *suspending side effects*:

- `Task.eval` (also aliased to `delay` from [Cats-Effect](http://typelevel.org/cats-effect/))
-

[2018-07-23 16:13] Avasil commented on #281
@jvican I think @alexandru is back from vacation so hopefully he can answer :)

[2018-07-24 11:56] LukaJCB opened #690 "Add Profunctor instance for Subject"
It'd be cool to be able to `lmap` and `rmap` over `Subject`s

[2018-07-24 17:31] fancywriter opened #691 "Creating Observable with back pressure from asynchronous message queue"
Hello! I am reading monix Observable documentation and not sure that I understand everything I need.
My use case: I have message queue (suppose rabbit MQ, but shouldn't really matter, suppose I use amqp-client). I want to just read everything from the queue and write to the local file. And I want this process to be easily cancelled and stopped with closing all resources correctly (flushing buffer

[2018-07-24 17:44] Avasil commented on #691
Maybe you can use `Task` to get result from `basicConsume` if it's asynchronous and create `Observable` with `Observable.fromTask`?

Don't know about backpressure in AMQP part because it has been a while since I was doing anything with RabbitMQ but I remember having options like maximum unacked messages

[2018-07-25 17:19] fancywriter commented on #501
@alexandru, could you please help me to understand how to use it correctly?
I have observable which emits sequence of strings. The sequence is infinite, I want to have ability to stop it manually interactively by user.

I want to use `intersperse` with start and end. Suppose I have the following sequence of strings: "one", "two", "three", "four", etc... I want to consume only three of them and tha

[2018-07-25 20:20] Executioner1939 commented on #691
@fancywriter I have implemented something similar, I relied on AMQP to do the back-pressuring using the [Consumer Prefetch (Qos)](https://www.rabbitmq.com/consumer-prefetch.html).

I then use ConcurrentSubject  like this:

[code]
So that is one way to do it :-). That way you get an Observable with Rabbit doing Back-Pressure so you don't need to worry about it :-).

Hopefully that is helpful, it's

[2018-07-27 20:49] rpiaggio opened #692 "Why is the ParallelApplicative private?"
We are building an Applicative-based validation library and it would be great to allow bringing the ParallelApplicative into scope to allow for parallel execution of Task-based validations.

Could it be made public?

[2018-07-28 06:48] alexandru commented on #692
`ParallelApplicative` violates the coherency laws of type classes. Meaning that you shouldn't have an alterantive `Applicative[Task]` implementation.

[2018-07-28 06:48] alexandru commented on #692
I tried pushing the functionality in Cats btw.

See: https://github.com/typelevel/cats/pull/2019

[2018-07-30 20:50] rpiaggio commented on #692
Thank you for your answer @alexandru.

I think that for specific cases, it still makes sense to be able to use the `ParallelApplicative` even though it violates the coherency laws. Maybe this could be made explicit to the user by placing it in a, say, `unsafe` package?

As it is, people like myself who want to use parallel tasks through `Applicative` will end up copy/pasting the code from `Paralle

[2018-07-31 08:01] alexandru commented on #692
I agree. But if it has to happen, I was hoping for it to happen in Cats.

Unfortunately that's going to happen in Cats 2.0 if at all, because it breaks binary compatibility.

[2018-07-31 20:57] rpiaggio commented on #692
I see, I hope it makes it into Cats 2.0 then. We will still need access to `CatsParallelForTask`, which is public.

Thanks again, I'll close this issue.

[2018-07-31 20:57] #692 closed

[2018-08-05 09:14] LMnet opened #695 "Unwanted side-effect in FutureUtils.timeoutTo"
When using `FutureUtils.timeoutTo` there is a possibility of fallback side-effect evaluation even when result is not fallback. It's easier to understand that from example:

[code]

If `doSmth` and `fallback` will finish in almost same time, sometimes it leads to a situation when `sideEffectfulFunction` is evaluated, but `result` will contain result from `doSmth`. This situation is pretty rare, but

[2018-08-10 06:37] LMnet commented on #695
This is fixed with #696

[2018-08-10 06:40] #695 closed

[2018-08-10 06:52] oleg-py commented on #687
@badmitrii can it be done with existing combinators, e.g. `xs.scan(seed)(op).collect { case Some(t) => t }`?

[2018-08-13 09:42] Avasil opened #697 "Observable.doOnStartEval"
`Observable` has a lot of `doOnX` functions, usually with async variant taking `Task` or other `Effect`.

It's not the case for all the operators, e.g. [`doOnStart`](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/Observable.scala#L1143)

Would be cool to have

[code]
Anyone looking at implementing this operator could look at differences between simil

[2018-08-13 09:46] Avasil commented on #676
@alexandru @oleg-py I think this is good to close, right?

[2018-08-13 10:18] alexandru commented on #676
Yes.

[2018-08-13 10:32] #676 closed

[2018-08-16 07:02] Avasil commented on #506
@alexandru How do we go about it? If I understand correctly, we didn't keep all methods (like `Observable.mapAsync`) so we should reintroduce them but with @deprecated symbol so it's not like they just disappeared?

Any idea how to reliably get the list of everything?

Also it would be cool to have scalafix for 3.0 release, there were maaaany changes in `Task` API

[2018-08-16 08:55] alexandru commented on #506
We can use Mima reports to help us.

[2018-09-02 13:53] badmitrii commented on #687
@oleg-py Yes, you are exactly right. Thanks.

[2018-09-02 13:53] #687 closed

[2018-09-02 20:53] ilya-murzinov commented on #697
I'd like to give it a try!

[2018-09-02 20:54] ilya-murzinov commented on #690
I'd like to give it a try!

[2018-09-02 20:54] alexandru commented on #697
@ilya-murzinov it's your if you want.

[2018-09-02 21:09] alexandru commented on #688
Closing as per #689.

[2018-09-02 21:09] #688 closed

[2018-09-02 21:30] YulawOne opened #701 "Add ability to configure ConcurrentQueue.unbound() per operation"
Could we consider for Monix 3.0 add ability to configure underlying unbound queues buffer not only globally but also per operation?

The problem which I'm trying to solve with that is excessive memory consumption by WS streams in our application, due to a few merge operations with back pressure strategy, each merge stage creates queue with 1024 elements buffer under the hood which consumes ~4kb (~

[2018-09-02 21:38] #651 closed

[2018-09-03 06:47] Avasil commented on #665
@alexandru
Currently on master:

[code]
[code]
[code]
[code]

[code]

[code]

[code]

[code]
[code]

[2018-09-03 12:11] volth opened #702 ""tail -f"-ing rotating logs using Iterant"
I assume that a natural ```Iterant```'s use case (and probably the source of inspiration for monix.**tail** name) is following (```tail -f```ing) log files.

It would be nice to provide ```Iterant.followLinesFromFile``` and ```Iterant.followLinesFromDirectory``` (assuming there is the directory with log files where the latest file (alphanumerically) is growing, then a new file is created hourly or

[2018-09-03 14:11] jendakol opened #703 "Missing `SemigroupK[Task]` instance"
Hello, is there some reason why there is `SemigroupK[Task]` instance **not** present in `Task` companion object (like there are instances for some other Cats typeclasses)? If not, please add it (or I can do it via PR).
I tried to implement it and simple copy-paste from `cats.affect.IO` works:
[code]

[2018-09-03 14:13] Avasil commented on #703
I don't think there is any specific reason, PR will be appreciated @jendakol :)

[2018-09-05 12:38] oleg-py commented on #703
I'm closing it, as we now have an instance 👍

[2018-09-05 12:38] #703 closed

[2018-09-05 12:52] alexandru commented on #702
Having that functionality is a great idea, however I/O stuff can't be in core, we need a separate project.

We currently have `monix-nio`, but TBH it needs a reboot. I've been dreaming about it for some time, but haven't had any time for it.

[2018-09-06 07:10] oleg-py commented on #701
Changing it per operation would probably mean having an extra (implicit) parameter added to each method. If so, it wouldn't play nicely with cold observables, and so is unlikely to be done.

[2018-09-06 07:11] oleg-py opened #708 "The fate of MVar?"
We still have MVar in Monix, but the one in cats-effect seems superior - it's more generic and more operations on it are atomic. Should we keep / change the `monix.eval.MVar`?

[2018-09-06 08:52] alexandru opened #710 "Plan for the Cats-Effect 1.0.0 Update"
We have to release a version compatible with Cats-Effect 1.0.0 and soon.

Currently these are the pending issues:

1. make `Task` back-pressure on the finalizers on cancellation, like we did in Cats-Effect's `IO` — this is not a very easy change, will work on it either tonight or tomorrow night
2. make `Task` auto-cancelable by default (change the default setting); the design of the type classes c

[2018-09-06 09:01] Avasil commented on #710
I can do 3. today.
How are we going to let users know that `read` semantics are changed?

[2018-09-06 09:14] alexandru commented on #710
`MVar.read` becoming atomic is a relaxation not an added constraint, so a change in ScalaDoc is fine.

[2018-09-06 10:33] Avasil commented on #710
@alexandru
So I looked into it and both `MVar` and `TaskSemaphore` are based on their Async `Future` versions so we can't really mix them with Cats-Effect implementations.

It  comes down to whether we implement all missing operators there or change `MVar` / `TaskSemaphore` to call `Cats-Effect` constructors directly. Or get rid of it completely.

Would be cool to have it implemented in a way that

[2018-09-06 10:58] pettyjamesm commented on #594
Closing issue as likely resolved by https://github.com/monix/monix/pull/666 . As mentioned in that PR, our code base already works around the issue by using Task.create directly, but the test suite seems reasonable to guarantee the implementation handles this case now. Thanks for the great open source project.

[2018-09-06 10:58] #594 closed

[2018-09-06 11:04] YulawOne commented on #701
I think we can achieve this for `AbstractBackPressuredBufferedSubscriber` without additional parameters if use `math.min(bufferSize, Platform.recommendedBatchSize)` for underlying `ConcurrentQueue.unbounded()` instance. And for me it seems quite logically, why do we need queue with chunks larger than outer buffer?

[2018-09-06 11:18] alexandru commented on #710
I forgot about the Future-enabled versions.

So it is fine if their implementations aren't based on the Future-enable version. But the API needs to be consistent. Not entirely sure how to proceed, but even the Future-enabled versions can be at first be based on `IO` and work from there.

So if you want to help with this, start with one of them and lets work from there.

[2018-09-06 11:19] alexandru commented on #710
What I mean is, lets get the API changes in and we can worry about providing good implementations later.

[2018-09-07 10:38] volth commented on #702
There is a problem with resource acquisition: if open files are wrapped with ```Iterant.resource``` they all will be closed only at the end of iteration.

Files are read sequentially each forming a ```NextBatch``` or  few ```NextBatch```es, but the number of files is potentially infinite so although it is not a leak (the files will be eventually closed), the number of open files in the middle of i

[2018-09-07 10:46] anjuna commented on #564
Is there any update on this?

I am finding it very hard getting my head around this library. The examples in the Observer docs feel esoteric and there is nothing in the Observable section.

[2018-09-07 10:49] Avasil commented on #564
@anjuna
It is in progress but not released yet.
There is `Observable` PR here: https://github.com/monix/monix.io/pull/34
You can [view its content](https://github.com/monix/monix.io/blob/038de49219af7db7beeeea53e8c6c3963304b7ef/_tut/docs/3x/reactive/observable.md)

I hope it will be helpful. If explanations there are not clear please make a comment on the PR - I'd really appreciate it!

Also, good

[2018-09-07 14:57] volth opened #712 "Iterant.headOptionL and Iterant.tail at once"
It seems useful to have a function which would do ```Iterant.headOptionL``` and ```Iterant.tail``` at once for (head, rest)-iteration (yes, there is ```fold```-family of functions, but sometimes is it useful to perform "just one step", e.g. when merging many streams looking at their head's content)

Something like
[code]

But this naive code won't work well: separate ```headOptionL``` and ```tail`

[2018-09-08 07:43] oleg-py commented on #712
I think FS2 has it as `uncons1` on `Pull`. There's also a variant for getting a next batch completely, which we might want as well.

[2018-09-08 08:11] Avasil commented on #712
So `uncons1` and `unconsBatch`?
I see they [have many variants](https://github.com/functional-streams-for-scala/fs2/blob/series/1.0/core/shared/src/main/scala/fs2/Stream.scala) we could take inspiration from but these two might be good enough.

Wanna do PR @volth for any of them?

[2018-09-08 13:02] Avasil opened #714 "Implement Task.timed"
@guizmaii has mentioned on Twitter that he's often missing following method:

[code]

See [Scalaz-ZIO](https://github.com/scalaz/scalaz-zio/blob/master/core/shared/src/main/scala/scalaz/zio/IO.scala#L527)

`Task` has methods like `deferAction`, `async0` and `cancelable0` which allow access to the `Scheduler` (for clock) so it should be very easy to implement.

@guizmaii
Do you still want to make P

[2018-09-08 16:32] volth commented on #712
I have a simple implementation made by colliding those of ```headOptionL``` and ```tail``` but it seems too buggy for a PR (it does not handle ```Scope``` properly)

[2018-09-08 18:09] guizmaii commented on #714
Hi @Avasil

I still want to do it but if someone does the job it's ok for me.

I'll be in a train all the day tomorrow, going to Scotland. I'll try to push you a PR. :)

[2018-09-09 12:12] guizmaii commented on #714
Hi @Avasil and @alexandru,

I've pushed an initial implementation here https://github.com/monix/monix/pull/715.
Let me know your thinking about it.

[2018-09-09 14:35] anjuna commented on #564
Thanks for the quick response! I'll certainly check that out.

Also thanks for all the effort gone into library, and all the comments in the code itself. I'm just such a newbie to reactive programming it was always going to be hard...

Are there some good books/other resources you can recommend to help me get my head around it?

[2018-09-10 07:38] Avasil commented on #564
@anjuna
Tbh you don't have to think too much about `Observers` or `Subscribers` in the beginning. Learn how to use `Task` (it's much better documented) and use `Observable` methods and then convert it to `Task` ( I have a section about it in the linked PR)

I don't have anything about streaming in general other than few talks:

https://monix.io/presentations/

https://www.youtube.com/watch?v=brnq6

[2018-09-11 11:28] jvican opened #719 "Limited cancellation logic for asynchronous consumers"
When we have an observable that we want to consume asynchronously (via, for example, `FoldLeftAsyncConsumer`), we're often interested in having a solid story for cancellation of the tasks that are being run in the background.

For example, imagine I have an observable of file watch events and I want to read the contents of a file every time there's such an event asynchronously. Whenever the observ

[2018-09-13 11:35] alexandru commented on #274
At this point we have integration with Cats-Effect on master, so all conversions should go through the type classes provided by Cats-Effect.

Therefore one can provide a `cats.effect.Effect[scalaz.concurrent.Task]` instance and the conversion is handled. And this is recommended not just for Task conversions, but for interop with other libraries as well.

In an effort to cleanup the issue tracker,

[2018-09-13 11:35] #274 closed

[2018-09-14 14:45] jferris opened #722 "Missing Alternative instance for Observable"
There are instances for Applicative and MonoidK, but not for Alternative. Observable already implements all the necessary abstract methods.

Adding Alternative to `Observable.CatsInstances` allows methods like `guard` to be used. It's also more convenient as an implicit dependency than `MonoidK with Applicative`.

[2018-09-14 14:46] alexandru commented on #722
Sure, do a PR.

[2018-09-14 14:46] alexandru commented on #722
Ah, you already did 🙂

[2018-09-14 15:39] #722 closed

[2018-09-21 17:31] #714 closed

[2018-09-25 09:09] alexandru commented on #630
This issue is no longer relevant since switching to the new encoding. Closing.

[2018-09-25 09:09] #630 closed

[2018-09-25 09:17] alexandru opened #727 "Work towards zero issues and PRs"
Implementing a new policy ...

I'll start closing old issues that don't have a solution or are stalled. PRs too.

But we'll salvage all that can be right now. The goal for version 3.0.0 is zero issues, zero PRs opened.

I want this because otherwise important issues get lost in noise, which happened repeatedly.

[2018-09-26 14:01] oleg-py opened #728 "Error running tests on Windows"
When I try to run tests for `executionJVM` project on my Windows machine, I get the following output:

[code]

On my work MacOS laptop everything is fine.

/cc @jozic, @tkawachi

[2018-09-26 15:34] Avasil commented on #728
During development on Windows I disable `doctest` plugin temporarily, probably better to report it directly on https://github.com/tkawachi/sbt-doctest

[2018-09-27 07:10] olafurpg commented on #728
What version of Scalameta is doctest using? I believe we have fixed a related issue recently, Windows CR LF were the cause.

[2018-09-27 07:45] olafurpg commented on #728
Opened https://github.com/tkawachi/sbt-doctest/pull/125 to improve parse error handling in doctest.

[2018-09-29 22:52] alexandru opened #730 "Add guarantee and guaranteeCase to Task"
Somehow I missed adding `guarantee` and `guaranteeCase` to `Task`. We should add them.

[2018-09-30 12:05] vasily-kirichenko opened #731 "Load balancing map"
I need to process tasks in parallel, by a preconfigured number of (stateful) workers. `Consumer.loadBalance` looks like a perfect fit, but the workers work like a function, not like a final consumers, so they cannot be at the end of the stream.

This is what I've managed to write:
[code]
It works, but I'm uncomfortable with the fact that there are actually two streams connected implicitly by a MVa

[2018-09-30 14:38] vasily-kirichenko commented on #731
With Akka Streams the solution is arguably cleaner:
[code]

[2018-10-02 06:08] bhop commented on #730
Hi @alexandru,

I happy to take this one. Let me know if the signatures are correct:
`
def guarantee[A](fa: Task[A])(finalizer: Task[Unit]): Task[A]
def guaranteeCase[A](fa: Task[A])(finalizer: ExitCase[E] => Task[Unit]): Task[A]
`

[2018-10-02 07:56] alexandru commented on #730
@bhop 👍  yes, that's fine.

Note this is about implementing the methods from [Bracket](https://github.com/typelevel/cats-effect/blob/master/core/shared/src/main/scala/cats/effect/Bracket.scala).

[2018-10-02 14:09] oleg-py commented on #730
We should also have these on `Coeval`. Let's not forget our sync side-kick 😃

[2018-10-03 05:08] bhop commented on #730
Thanks @oleg-py, I will add them to `Coeval` too.

[2018-10-03 14:50] shengc commented on #352
Is this issue actually fixed ? It seems like it is still there for `3.0.0-RC1`. I set `requestCount = 1`, yet yourkit showed the memory taken by the process kept growing until it died with OOM.

[2018-10-04 15:00] radekm opened #733 "foreach called on LinesReaderObservable instance blocks"
Hi. I have the following program which uses Monix 3.0.0-RC1 or Monix 2.3.3

[code]

which never terminates. The problem happens on line

[code]

and only when the process `p` produces enough data. Eg. it works for `new ProcessBuilder("seq", "10000")`.

[2018-10-05 04:36] JohnReedLOL opened #734 "Need written justification to use Monix"
Sorry to bother you,

I am working on a Scala project and I would like to be able to use Monix. That being said, the bank I work at has a lot of red tape and they don't approve anything unless you convince them to do so. In about a month I'm going to do a demo of the open source libraries that I want them to put into their system. To help me get approval, could you write something explaining that

[2018-10-05 05:34] ngbinh commented on #734
I think all of the answers to your questions are available right here in the repo.

[2018-10-05 12:08] ybr opened #735 "Observable.bufferTimedWithPressure operator with custom counting function"
I need an operator that consider the sum of the size of elements as the count instead of the count of elements.

Something like:
def bufferTimedWithPressure[A](period: FiniteDuration, maxSize: Int, sizer: A => Int): Observable[Seq[A]]

The existing one could be rewritten in terms of the new:
def bufferTimedWithPressure[A](period: FiniteDuration, maxSize: Int): Observable[Seq[A]] = bufferTimedWithP

[2018-10-05 12:08] ybr commented on #735
This issue look sa lot like https://github.com/monix/monix/issues/447 but on another operator.

[2018-10-05 17:06] #643 closed

[2018-10-05 19:01] #728 closed

[2018-10-05 23:11] JohnReedLOL commented on #734
Banks tend to be more risk averse than startups and tech companies.

[2018-10-06 08:00] Avasil commented on #734
Well, regarding copyright it's [Apache License](https://github.com/monix/monix/blob/master/LICENSE.txt) so see if it works for your Bank

It is being actively maintained, it was a bit slower due to `Cats-Effect` development recently but `3.0.0` release is coming and you can see it in activity around pull requests.

It's also quite mature because `2.x` is used in production in many companies ( I do

[2018-10-06 08:05] Avasil commented on #735
If you already have implementation, PR should help in decision and having it in time for `3.0.0` :)

[2018-10-06 14:40] #730 closed

[2018-10-06 17:11] Avasil commented on #649
Added in #729

[2018-10-06 17:11] #649 closed

[2018-10-07 13:31] felixbr opened #737 "API for cancelling Observable from Consumer"
Hi, I'm having a blast using Monix and generally everything works great, but I encountered something that might be a common use-case with no good solution currently (or I'm just not able to find it in the source/docs).

When writing a stream of tweets (`Observable[Tweet]`) to the database as batch-inserts, I'd like to cancel the stream if I encounter a tweet I've already saved previously, as this

[2018-10-07 14:48] Avasil commented on #737
Hi @felixbr I think `takeWhile` on `Observable` might solve your problem. :)

If not, you could write your own simple short-circuiting `Consumer`, e.g:
[code]

I'm glad you like the library and let me know if it helped.

[2018-10-08 08:05] ybr commented on #735
Ok @Avasil I'll try my best to submit it promptly :)

[2018-10-14 08:40] jfwilson opened #742 "Observable.collect causes double evaluation of partial functions"
The `Observable.collect` operator invokes separate calls to `.isDefinedAt` and then `.apply`. This results in any guard/unapply logic being evaluated twice, or in the case of `Function.unlift`ed partial functions, the entire function being evaluated twice.

The scala collections use `PartialFunction.applyOrElse` with a fallback value to avoid this double evaluation. Suggest `monix` does the same.

[2018-10-14 15:38] radekm commented on #733
The reason for the observed behavior above is that with smaller stdout all stdout of `seq` command fits into the buffer and `seq` can terminate before its output is read by our code, `seq`'s stderr is closed and `blocking(in.readLine())` (from `LinesReaderObservable`) returns `null` when reading stderr.

On the other hand when output of `seq` is too big, it cannot fit into the buffer, so `seq` is

[2018-10-14 15:46] radekm commented on #733
Here is simpler code which exhibits problem in `LinesReaderObservable`

[code]

The problem is that `LinesReaderObservable` calls `in.readLine()` in application thread instead thread pool thread. And since there is nothing to read `in.readLine()` blocks the application.

If you uncomment `pos.close()`, application won't be blocked because `in.readLine()` would get `null` immediately.

[2018-10-14 15:49] radekm commented on #733
I think that possible solution is to change `unsafeSubscribeFn` in `LinesReaderObservable` to never call `fastLoop` and always call `reschedule`.

[2018-10-16 13:28] fancywriter opened #747 "[idea] To check if coeval is initialised without touching it's value?"
Hello! Is it possible to have some sort of lazy container which doesn't (yet) have any value and I want to check if it does. Suppose I have some resource (like database connection) which I may need or may not need - I want to run a script which (maybe) uses this connection, depending on other things. And by the end of the script I want to close resource (like database connection) if and only if it

[2018-10-17 08:54] #735 closed

[2018-10-18 19:42] #742 closed

[2018-10-19 06:46] Avasil opened #748 "contramap on Subscriber"
We have `contramap` for `Consumer`, now we also have `Profunctor` instance for `Subject` and it might be useful to have `Contravariant` for `Subscriber`.

[Implementation of Consumer.contramap](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/consumers/ContraMapConsumer.scala)

[2018-10-19 08:31] alexandru commented on #748
👍

[2018-10-24 16:00] Avasil commented on #748
@alexandru I went ahead and implemented it for both `Observer` and `Subscriber` but I have trouble testing the laws because I have to write `Eq` instance for `Observer`. Usually it's tested using side-effects but here I don't know implementations. Any ideas?

[2018-10-24 18:46] djneades opened #752 "Should an Observable’s scan operator be re-evaluated for every subscriber?"
I have a Scala.js 0.6.25 project using Monix 3.0.0-RC1. It has code that, when simplified, is along the following lines:

[code]

Subscribers subscribe to `modelUpdates` by calling this method:

[code]

Everything works as I would expect, except that the scan operator seems to be evaluated once per subscriber. Thus, with two subscribers to `modelUpdates`, calling `messages.onNext(msg)` once result

[2018-10-24 20:43] djneades commented on #752
To follow up, if I pop a `.share` after the call to `scan`, I no longer get the repeated log messages when I have multiple subscribers. Thus:

[code]

However, I have no confidence that this is the right (or even sensible) thing to have done.

[2018-10-24 21:20] alexandru commented on #752
@djneades `Observable` streams are not shared by default between subscribers. By default (i.e. unless specified otherwise), on each `subscribe` you initiate a new data source.

Thus having two subscribers will lead to having two data sources open. These in the vocabulary of ReactiveX are called "called observables". To transform such an observable into a shared one, you have several methods that h

[2018-10-24 22:07] djneades commented on #752
@alexandru Thank you for that very clear explanation; I understand.

I did try using `publish` rather than `share`, but my subscribers don’t see any events (and the `scan` operator with the logging is never evaluated) when I do that. I don’t wish to impinge further upon your time, but do you have any ideas why that may be?

[2018-10-24 22:32] djneades commented on #752
@alexandru Got it, thank you. That works perfectly now. Thank you again for your always excellent support.

[2018-10-26 14:12] alexandru commented on #752
@djneades cool. Will close this for now.

[2018-10-26 14:12] #752 closed

[2018-10-30 09:57] Avasil commented on #708
Solved in #753. :)

[2018-10-30 09:57] #708 closed

[2018-10-30 09:59] Avasil commented on #710
Seems like it's done, what's the plan forward? I'll have a spare time over the weekend so I can help getting closer to the release. :)

[2018-10-30 10:02] alexandru commented on #710
The `Task` back-pressuring on finalizers like in IO is not done, but isn't a priority either.

After the queues are merged, I'll want to release a `RC2` as soon as possible, because it's been stalling since forever.

I don't know if there are any breaking changes left to do. Hopefully not.

[2018-10-30 11:47] Avasil commented on #710
So after `RC2` plan for `3.0.0` are finalizers, `Observable.mapParallelOrdered` and ScalaFix / anything that comes up in the meantime?

[2018-10-31 09:14] yanns opened #758 "Add Observable#filterTask"
As we are using `Task` for everything, including logging, we would like to use `Observable.filter` but with a `Task[Boolean]` instead of a `Boolean` to be able to log what we needs.

Currently we need some boilerplate code, like:
[code]
Instead of:
[code]

[2018-10-31 14:41] Avasil commented on #758
I think there should be `flatTap` if you have cats import to do the logging before but it's still in two passes so having `filterEval` could have its use. Would you like to try doing PR?

[2018-10-31 14:45] yanns commented on #758
Yes, I could try to do a PR for this if you think it's a good idea to have this in the library.
What about the naming? `filterTask` would be good?

[2018-10-31 14:56] alexandru commented on #758
@yanns the convention changed, functions taking a `Task` action should be named with an `Eval` suffix, instead of `Task`

[2018-10-31 15:15] yanns commented on #758
@alexandru thx for the quick feedback.
Do you think that this addition would be useful?

[2018-11-01 11:32] alexandru commented on #758
@yanns sure, go ahead.

But if we have `filterEval`, we need `filterEvalF` too.

[2018-11-01 11:39] alexandru commented on #747
`Coeval` is basically a function, like `Task` or `IO`, the `evalOnce` / `memoize` operations are just nice to have, but they break referential transparency. So a facility to check that `Coeval` was initialized is kind of incompatible with what `Coeval` is.

You can workaround it by having some more side effects and state though 🙂

[code]

[2018-11-02 18:10] crakjie opened #764 "Observable.resourceCase don't fit well with mergeMap"
`Observable.resourceCase` close the resource while `mergeMap` is still using it.
`flatMap` is working well in this case.

[2018-11-04 06:48] alexandru commented on #764
Thanks for the report @crakjie, will take a look.

Indeed, the correct behavior is that of `flatMap` and `resourceCase` was designed to play well with `flatMap`.

On the other hand `mergeMap` should work too.

Can you provide a minimal sample? Or does it happen with anything?

[2018-11-06 13:34] alexandru commented on #710
Closing this issue due to 3.0.0-RC2 release. Will create individual issues if needed.

[2018-11-06 13:34] #710 closed

[2018-11-06 13:36] alexandru commented on #650
I don't think I want this for now.

The "continual" model is under revision. We can add it later.

[2018-11-06 13:36] #650 closed

[2018-11-06 13:38] alexandru commented on #624
Will close the issue for now. If you think it's still relevant, you can reopen.

[2018-11-06 13:38] #624 closed

[2018-11-06 13:39] alexandru commented on #513
We have formatting rules in place, but truth be told I don't want automatic code formatting.

IntelliJ IDEA knowing how to interpret those rules is good enough.

[2018-11-06 13:39] #513 closed

[2018-11-06 13:41] oleg-py commented on #731
It is definitely an interesting problem. I hope it is not very late though to propose an alternative.

First, let's settle on some abstraction. I will pick type `A => Task[B]` for worker, assuming it produces one value, or a list at once, but not an `Observable`. This is just a preference, b/c the idea is basically the same.

I am going to use MVar again, as a 1-element queue, but instead of enque

[2018-11-06 13:43] alexandru commented on #764
I just realized that `resourceCase` cannot work with `mergeMap` or any operator that involves buffering.

[code]

This only works because it relies on back-pressuring. With no back-pressuring, the resource gets closed early. E.g. this no longer works ..

[code]

By introducing a buffered async boundary in there, we eliminate the back-pressuring of the source and hence this sample breaks.

`mergeMa

[2018-11-06 13:43] #764 closed

[2018-11-06 13:47] alexandru commented on #731
Btw, we now have `ConcurrentQueue[F[_], A]` as well, as an alternative to `MVar` (`MVar` being basically a queue of size 1, although it's actually unbounded, but it starts back-pressuring after 1 event :-))

Will write documentation and maybe a video tutorial soon.

[2018-11-06 15:18] crakjie commented on #764
Seems logic I don't know why I missed this.
Thanks

[2018-11-06 15:22] alexandru commented on #764
@crakjie it's not very obvious sometimes and it's a more general problem with the "bracket" model, as resources can leak after close. Fixing it however would require language support that we don't have.

[2018-11-08 14:27] sirmax opened #773 "Consider changing return type of `Cancelable.empty` from `Empty` back to `Cancelable`"
3.0.0-RC1 had `Cancelable.empty` return `Cancelable`, 3.0.0-RC2 changed the return type to `Empty`.

This change breaks compilation of fold-like code, for example this compiles with 3.0.0-RC1
[code]
but with 3.0.0-RC2 scalac complains that the expression in `scan` does not conform to expected type `(Cancelable.Empty, …)`.

Using `Cancelable()` instead of `Cancelable.empty` makes it compile again,

[2018-11-08 14:29] alexandru commented on #773
@sirmax will consider reverting it.

In the meantime you can also do: `Cancelable.empty : Cancelable`.
This is a type-checked upcast.

[code]

[2018-11-08 14:31] sirmax commented on #773
`Cancelable.empty : Cancelable` is too wordy to my taste, I'll keep using `Cancelable()` for now which is effectively `Cancelable.empty`.

[2018-11-08 14:32] alexandru commented on #773
Well, `Cancelable.empty` is empty, meaning it doesn't allocate anything, it's the same instance being reused over and over again.

[2018-11-08 14:32] alexandru commented on #773
I think you're right btw, this isn't a very nice change.

[2018-11-08 14:35] sirmax commented on #773
But `Cancelable()` is the same
[code]
Although yes, I know, one shouldn't rely on an implementation :)

[2018-11-14 08:25] Ben-Barron opened #776 "Cancel not being called"
I would expect (admittedly based on experience with RX in Java and .NET) that `.cancel()` would be called in this scenario:

(Please forgive my syntax if its wrong)

[code]

I actually found the same problem when: `Await.result(observable.firstL.runAsync, 4.seconds)`, but it would appear the above still has issues to.

Am I wrong to expect `.cancel()` to be called? And if so, what is the recommend

[2018-11-14 08:33] Ben-Barron commented on #541
You recommendation on this page: https://monix.io/api/2.3/monix/reactive/observables/ObservableLike.html for handling groups produced by the `groupBy` operator which you are not interested in would not work given this change...right?

[2018-11-14 08:42] alexandru commented on #776
@Ben-Barron in Monix's `Observable` cancellation is a concurrent action that gets triggered in order to interrupt the streaming (the subscription) and not something that happens on normal completion.

The [contract of Observer](https://monix.io/docs/3x/reactive/observers.html) specifies that `onNext` is something that returns a `Future[Ack]`, which can be a `Stop` and you need to listen to that, b

[2018-11-14 09:21] #758 closed

[2018-11-14 16:13] #748 closed

[2018-11-15 08:38] Ben-Barron commented on #776
Unfortunately stuck with 2.3.2 for now. If I've understood you correctly, to cleanup the resources under all scenarios I need to do (something like) the following:

Observable.defer[String]({
  var cancelable = null
  Observable.create[String](Unbounded)({
    o => {
      o.onNext("hey")
      cancelable = Cancelable(() => println("cancel"))
      cancelable
    }
  })
  .doOnSubscriptionCancel((

[2018-11-15 13:43] alexandru commented on #747
Closing this for now. Feel free to re-open it.

[2018-11-15 13:43] #747 closed

[2018-11-15 13:50] alexandru commented on #380
This is no longer reproducible on `master`. I think it's fixed in #473.

[2018-11-15 13:50] #380 closed

[2018-11-15 13:52] alexandru commented on #382
The `CircuitBreaker` was refactored and moved in `monix-catnap`.

It now has a facility for waiting on the circuit breaker to be closed again and should solve your use-case.

See docs: https://monix.io/api/3.0/monix/catnap/CircuitBreaker.html

[2018-11-15 13:52] #382 closed

[2018-11-15 13:54] alexandru commented on #447
Looks like this was fixed in #739.

[2018-11-15 13:54] #447 closed

[2018-11-15 13:55] alexandru commented on #644
No longer relevant.

[2018-11-15 13:55] #644 closed

[2018-11-15 13:56] alexandru commented on #665
Auto-cancelable run-loops are now enabled by default and we no longer have tests that fail.

[2018-11-15 13:56] #665 closed

[2018-11-15 13:56] alexandru commented on #691
Will close this for now. Feel free to re-open.

[2018-11-15 13:56] #691 closed

[2018-11-15 14:13] alexandru commented on #701
I don't understand the request.

What do you mean "per operation"? In the case of `ConcurrentQueue`, this exposes the buffer — the buffer is the queue, the queue is the buffer so to speak. In case you've got multiple operations with different requirements, you can configure multiple queues.

In the case of `unbounded`, indeed the underlying implementation uses a "chunked array queue", so it grows

[2018-11-15 15:02] alexandru commented on #776
@Ben-Barron first of all you don't need to use a `var`, because there's `SingleAssignCancelable` meant for this purpose. It's also best to avoid `create`.

But lets walk through a full example:

[code]

Expressing this in terms of `create` would be like:

[code]

One thing to consider: the first version is actually better than the second version, because `Observable.create` creates a buffer to rel

[2018-11-15 15:04] alexandru commented on #776
Will close this for now, but feel free to add more comments.

[2018-11-15 15:04] #776 closed

[2018-11-15 15:05] alexandru commented on #734
Will close this for now. Feel free to add more comments or to re-open it if it's the case.

[2018-11-15 15:05] #734 closed

[2018-11-15 15:52] alexandru commented on #564
This ticket is too generic. The website is now compiled against 3.0.0-RC2. It's incomplete, but if issues are needed, we'll create more specific ones, otherwise I'm considering this to be solved.

[2018-11-15 15:52] #564 closed

[2018-11-15 16:11] alexandru opened #777 "Auto-fork Observable operators meant for blocking I/O"
Related to: https://github.com/monix/monix/issues/733

The policy of Monix has been to not auto-fork at the start of a computation, when using `Observable`.

This is why `Observable.fromLinesReader` does not fork at the start. However it does eventually fork by default, because it has the batching behavior. But forking at the start of operators that can trigger an blocking I/O operation makes a lo

[2018-11-16 06:33] alexandru commented on #737
@felixbr @Avasil btw, the purpose of that `AssignableCancelable` being returned is to cancel the observable. So in case `Stop` returned from `onNext` is not enough.

So `AssignableCancelable` acts as a forward reference that will eventually be assigned with the cancelable of the subscription.

[2018-11-16 07:52] gabor-aranyossy commented on #380
thanks for the fix! 👍

[2018-11-16 09:30] #467 closed

[2018-11-16 09:33] alexandru commented on #658
Sorry for not replying, I basically lost track of opened issues and now making an effort to get on top of things.

We're using the schedulers available in the standard Java library. But the Scheduler can be customized. You can easily implement your own to use whatever scheduling method you'd like.

Importing an implementation from somewhere else in Monix isn't feasible because we then have to main

[2018-11-16 09:33] #658 closed

[2018-11-16 09:34] alexandru commented on #737
In an effort to get on top of issues, will close this for now, but feel  free to add more comments, or re-open it if you feel that the answers don't solve your problem.

[2018-11-16 09:34] #737 closed

[2018-11-16 09:36] alexandru commented on #616
The advice given in this issue is no longer relevant.

In case we implement `Iterant.merge`, I'd rather start with a clean issue. Plus this won't happen for 3.0.0.

[2018-11-16 09:36] #616 closed

[2018-11-16 09:37] alexandru commented on #438
Not doing anything else for Java 9 / Java 11 at this point.

We'll have to see about VarHandles, but we actually have bigger problems:
[JCTools](https://github.com/JCTools/JCTools) has to be upgraded first.

[2018-11-16 09:37] #438 closed

[2018-11-16 09:38] alexandru commented on #506
No longer interested in doing this.

It's nice to bring back some deprecated symbols, but I'd rather work on documentation at this point.

[2018-11-16 09:38] #506 closed

[2018-11-16 09:39] alexandru commented on #731
Will close this for now, feel free to re-open if needed.

[2018-11-16 09:39] #731 closed

[2018-11-16 09:41] alexandru commented on #233
A reply that's a little late 🙂 but I'm not sure I want to maintain such a list. Thanks for the suggestion.

Will close this for now.

[2018-11-16 09:41] #233 closed

[2018-11-16 22:21] YulawOne commented on #701
Sorry that my previous statement became so ambiguous, I just wanted to describe following situation:

Let's pretend that we have two or more sources of events per client and we want to send all of them all into one web socket channel, all sources are back pressured, so my implementation is something like this:

[code]

And merge operation is source of the issue which i'm trying to describe, becaus

[2018-11-18 21:50] volth commented on #375
I tried the testcase few months ago with ```3.0.0-RC1``` and there was no bug (or I forgot how to reproduce it :)

[2018-11-18 21:51] #375 closed

[2018-11-21 19:42] djneades opened #780 "AsyncScheduler.scheduleAtFixedRate should schedule at the specified fixed rate with ScalaJS"
The documentation for `scheduleAtFixedRate` states:

In practice, however, the Scala.js implementation in Monix 3.0.0-RC2 drifts, adding a small amount of unwanted additional delay between executions.

This program shows the problem:

[code]

When compiled with Scala.js 0.6.25 + Scala 2.12.7 (with `fastOptJs`) and run under the current versions of both Firefox and Chrome, the console output is alo

[2018-11-22 14:07] oleg-py commented on #780
Note that a native JS version using setInterval exhibits similar drift in Firefox but not in Chrome (at least on Mac I'm currently on)
[code]

[2018-11-22 14:08] alexandru commented on #780
Could we implement some algorithm to avoid it?

[2018-11-22 17:44] djneades opened #781 "JavaScript source maps should have globally accessible paths"
As shown in the attached Chrome screenshot, the Monix 3.0.0-RC2 source maps have paths beginning `Users/alex/Projects/monix/monix-upstream`. This makes debugging from within the browser harder, as the browser is unable to load the relevant sources directly (unless you are @alexandru).

As also shown in the screenshot, the scala, scala-js and cats source maps (excepting cats-effect, which also look

[2018-11-22 17:47] djneades commented on #781
In case it helps, note that Cats tweaks the source maps in its [`build.sbt`](https://github.com/typelevel/cats/blob/master/build.sbt) thusly:

[code]

[2018-11-22 18:43] oleg-py commented on #780
Sure, I can take a look in the next few days

[2018-11-23 03:10] deusaquilus commented on #624
Definitely think this is still relevant! Would love to have monix with quill-jdbc but this issue is a blocker!

[2018-11-23 06:19] alexandru commented on #781
@djneades thanks for the report — can you do a PR, please?

[2018-11-23 06:59] alexandru commented on #701
@YulawOne so what I understand is that the buffer created for `OverflowStrategy.BackPressure` is an unbounded queue that has a chunk size of `Platform.recommendedBatchSize` and this is a problem because it uses too much memory per merge operation. Is that correct?

I'm not sure how to solve this, because that chunk size is an implementation detail of the underlying queue being used. I mean in othe

[2018-11-23 07:01] alexandru commented on #701
You do seem to have a serious use of `merge` in your app that I want to support 🙂

[2018-11-23 12:16] YulawOne commented on #701
Correct

My suggestion was to use outer buffer size as chunk size, so you'd be able to configure underlying queue with BackPressure  Strategy buffer size:

[code]

And inside AbstractBackPressuredBufferedSubscriber set queue size equal to bufferSize
[code]

There is pros and cons for such change
pros:
 - this change won't make any changes to existing api and could altered in future
 - for me it se

[2018-11-23 14:32] alexandru commented on #701
@YulawOne you are right that at the very least the chunk size shouldn't be greater than the declared buffer size.

Let me sleep on it, but will deliver a solution for the next release.

[2018-11-29 01:09] SethTisue opened #786 "Publish for Scala 2.13.0-M5?"
has anyone looked at this? perhaps all of monix's dependencies are now available for M5?

in the 2.13 community build, all of monix's dependencies is green, so that provides some evidence that this might be ready to work on

[2018-11-30 16:03] ljwagerfield opened #787 "Local state remains on previous thread after context switch"
**Monix Version: `3.0.0-RC2`**

## Observed behavior:
When using `Local` the state is left behind on the previous thread after a context switch. For example, given a `Local[Int](default = 0)`, you start on `thread 1` and set `local=42` and then shift to another thread. On `thread 2` you automagically see `local=42`  thanks to `enableLocalContextPropagation`... BUT `local=42` remains on `thread 1`,

[2018-12-04 19:25] shengc opened #789 "behavior of `Observable.bracket`"
Apologize if it is not appropriate to ask for clarification of behavior of operator in the issue list. Gitter is blocked in my working environment.

Let's say I have the following setup:

[code]

if I write something like the following,
[code]
My question is, will the resource be released under the scope of bracket on per item basis from `Source`, or until the whole `Observable` is consumed, i.e.,