[2018-12-05 23:14] SethTisue commented on #786
@alexandru fyi I'll be on vacation Dec 8–Jan 2, anything here I can help with before then?

[2018-12-06 07:10] alexandru commented on #786
We released Cats-Effect. I'm working on it. Thanks for letting me know, will try a release either today or tomorrow.

[2018-12-06 20:42] SethTisue commented on #786
awesome! scala/make-release-notes@3da410a4ad03e6a9924b5eb277474250611db1e2

[2018-12-10 11:29] sirmax opened #791 "Observable.tailRecM leaks memory when inner loop attaches callbacks to `onNext`"
This problem was initially mentioned in gitter – https://gitter.im/monix/monix?at=5c0a30de5e409525032ac596

Consider this simple infinite sequence
[code]

While the loop itself can be considered tail-recursive – it emits only one `Left(…)` as the last element – running it will eventually end up with OOME.

The leak in this example comes from `out.dump(…)` . `DumpObservable` attaches a callback to

[2018-12-10 12:09] sirmax commented on #791
BTW, maybe it's OK to keep `tailRecM` unchanged and provide a stricter alternative that allows at most one `onNext(Left(…))` and simply responds with `Stop` to it.

[2018-12-10 12:38] alexandru commented on #791
We'll have to investigate.

[code]

We register a listener indeed, however the question is why do we keep a reference to that `Future[Ack]` around.

[2018-12-10 13:38] sirmax commented on #791
That's because `subscriber.onNext(elem): Future[Ack]` in case of infinite recursion is, basically, the end of the whole steam which never completes.

[2018-12-10 13:48] sirmax commented on #791
In other words, `tailRecM` does not impose any restrictions upon the user's code, letting it emit another `Either[A, B]` after `Left(a)`. To do so `onNext(Left(…))` returns a `Future[Ack]` that completes when the whole nested sub-stream completes, no matter how deep it is. In case of recursive loop it's infinitely deep.

[2018-12-10 13:59] alexandru commented on #791
Indeed, however via the `Observable` protocol it is legal to do this:

[code]

So the final `onComplete` doesn't necessarily have to wait on the last `onNext`, we only wait when it isn't very convenient or safe to do otherwise. When developing `tailRecM` I know I took this into account.

1. Does the issue manifest without `dump`?
2. Does it manifest without `delayExecution`?

[2018-12-10 14:05] sirmax commented on #791
And it doesn't wait – `onComplete` gets called right after `onNext`. But the problem is that callbacks are already attached to the "root" `Future[Ack]` and remain there.

It manifests with any other combinator that attaches listeners. Initially I got this problem with inner `flatMap`, not `dump`.

Will have to test it somehow without melting my CPU :)

[2018-12-10 14:08] alexandru commented on #791
I see. It's a problem indeed.

[2018-12-10 14:21] sirmax commented on #791
Checked without `delayExecution`. Got about 15K strong-reachable `dump` callbacks in a few seconds. So yeah, it leaks.

[2018-12-10 21:56] #780 closed

[2018-12-11 01:52] leandrob13 commented on #787
@ljwagerfield I didn't realize you were using the `Local` directly. In this case that is the expected behavior since you are indeed jumping to an async boundary so it is ok to see that the local never gets back to 0 because you are not referencing the same var given that you are in another thread.

There are some known issues with `TaskLocal` restoring the local (https://github.com/monix/monix/iss

[2018-12-11 15:09] ljwagerfield commented on #787
Ok, but out of interest: how could you implement a re-entrancy check using `TaskLocal`? This is something `ThreadLocal` was very useful for, but obviously won't work with `Task`s...

[code]

[2018-12-13 11:45] atnoya opened #792 "Local reused across different unrelated/unchained Tasks"
**Monix Version: 3.0.0-RC2**

# Observed behavior:
As per my understanding of `Local`, it should behave as `ThreadLocal` behaves for Threads but with Tasks.
That only seems to happen if a forced `shift` or `asyncBoundary` manually or by using an `AlwaysAsyncExecution`, but when using `SynchronousExecution` or `BatchingExecution` models and introducing no `asyncBoundary`, As the same thread is reus

[2018-12-13 15:30] MartinHH opened #793 "Version of switchMap that waits for the child observable to complete"
Current behavior of `switchMap` in Monix (3.0.0-RC2):

If the "parent" observable completes, an observable that was created using `switchMap` will complete immediately. This is different from RxScala (and apparently also from fs2), where the "switchMapped" observable will not complete until its current ("latest") child observable is completed.

(Find a minimal example here: https://gist.github.com

[2018-12-14 12:47] MartinHH commented on #793
P.S.: I just noticed I changed my original question from gitter and it became a feature request when I posted it here: Originally, I my question was if there is an idiomatic way in Monix to model the requested behavior (wait for current child to complete)? (That would be helpful enough for me...)

[2018-12-14 12:52] alexandru commented on #793
@MartinHH it's fine as a feature request.

I haven't thought about it yet, have been busy, however we need to evaluate if the behavior you want can be expressed in another way, whether we should introduce a second operator with the behavior you want or whether we should change the current behavior.

I don't like the idea of having a different behavior than Rx unless it is justified and in this cas

[2018-12-14 12:52] alexandru commented on #793
Also thanks for opening the issue, it's certainly an interesting one.

[2018-12-14 20:58] AlejandroME opened #795 "Task.timeout behavior"
Hello there,

Consider this example:

[code]

Monitoring the behavior of this example in VisualVM, I can see this:

![screenshot at 2018-12-14 13-52-26](https://user-images.githubusercontent.com/2565308/50021631-b7054f80-ffa7-11e8-931e-3780d688b735.png)

`TestScheduler-54` was the Thread in where this code ran. If you see, the timeout was set to wait 4 seconds, simulating a computation that doesn'

[2018-12-14 22:31] Avasil commented on #795
This is because `Thread.sleep` is not cancelable so it runs in the background up to the point that can be stopped. It will probably be similar in case of your HTTP call unfortunately. The problem boils down to the fact that you can't just suddenly stop arbitrary operations so if you want someone to be cancelable you need to provide necessary logic or use operations that are cancelable (e.g. try yo

[2018-12-14 23:31] AlejandroME commented on #795
@Avasil Thank you so much for the explanation! I think that we should be good with that in mind.

[2018-12-14 23:50] Avasil commented on #795
@AlejandroME You're welcome, I will close the issue then but in case of further questions/problems feel free to ask here or on gitter (`monix/monix` or `typelevel/cats-effect` channels)

[2018-12-14 23:50] #795 closed

[2018-12-15 14:30] MartinHH commented on #793
Here's an idea how the current behavior could be expressed in terms of the requested one (and `materialize`/`dematerialize`):
[code]

Of course, there would be the obvious cost of object allocation for the `Notification`objects.

[2018-12-19 15:03] oleg-py opened #799 "API for overriding Scheduler.reportException?"
On JS, I wanted to override `reportException` in a Scheduler and ended up in a bad situation:

* `AsyncScheduler` and `TrampolineScheduler` are final, so I cannot inherit from any of them.
* There are no utilities like `withExecutionModel` for creating one.
* There are no factory methods on Scheduler that take an `UncaughtExceptionReporter` for JS (there are for JVM).

I think we can port a number

[2018-12-22 23:01] Otah opened #800 "Add convenience method ObservableLike.filterNot"
Similarly as `TraversableLike` or ReactiveX's `Observable`, it would be very handy to have the `filterNot` method, the "negation" of `filter`.

Or is there any particular reason why this wasn't included in `ObservableLike` (version 2.3.3)?

I can also provide a pull request, if this is accepted.

[2018-12-27 08:43] alexandru commented on #701
@YulawOne as an update, I'm working on this, see: https://github.com/monix/monix/pull/801

[2019-01-09 13:51] YulawOne commented on #701
@alexandru thank you for great job, I will definitely check PR on this week.

[2019-01-10 10:38] alexandru commented on #799
You're right, we need that 👍

[2019-01-11 09:26] Avasil opened #804 "Observable.toInputStream"
We have [Observable.fromInputStream](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/Observable.scala#L4503) but we're missing `toInputStream`.

[FS2](https://github.com/functional-streams-for-scala/fs2/blob/series/1.0/io/src/main/scala/fs2/io/JavaInputOutputStream.scala) and [Akka Streams](https://github.com/akka/akka/blob/master/akka-stream/src/main

[2019-01-12 10:20] #701 closed

[2019-01-12 10:22] #787 closed

[2019-01-14 10:55] oleg-py opened #806 "TaskLocal is not propagated when using bracket methods"
The following usage of `TaskLocal` seems to be broken with bracket-like methods:

[code]

@alexandru the code in `TaskBracket` seems to directly say to NOT restore locals. Not sure why should it be the case.

[2019-01-15 09:01] alexandru commented on #806
I don't remember what the issue was TBH and why it made sense.

Will take another look.

Feel free to investigate yourself.

[2019-01-16 13:29] Avasil opened #809 ""Iterant.resource does not require non-strict use" hangs Travis CI"
[Iterant.resource does not require non-strict use](https://github.com/monix/monix/blob/master/monix-tail/shared/src/test/scala/monix/tail/IterantResourceSuite.scala#L264) has been a problem for Travis for a while. It just hangs and fails the build. I didn't manage to find out why but it only happens with coverage enabled.

If we don't know how to fix it we could try disabling this test for coverag

[2019-01-16 13:31] alexandru commented on #809
We have another problem due to the way Minitest works ... I couldn't make it flush the output on each line, for some reason `sbt-testing` insists on flushing the whole output only when the test suite is finished. And I've been too lazy to fix it.

In other words, are you sure it is that particular test that fails?

[2019-01-16 14:35] Avasil commented on #809
Yeah:

https://travis-ci.org/monix/monix/jobs/476745541

https://travis-ci.org/monix/monix/jobs/469978844

https://travis-ci.org/monix/monix/jobs/458096430

https://travis-ci.org/monix/monix/jobs/468917467

https://travis-ci.org/monix/monix/jobs/467941117

https://travis-ci.org/monix/monix/jobs/467941071

https://travis-ci.org/monix/monix/jobs/466223385

https://travis-ci.org/monix/monix/jobs/4586

[2019-01-18 14:05] alexandru commented on #809
So the output of these tests is misleading for precisely the reason I was talking about.

After we get to the bottom of it and find the failing test (in #812), I'm thinking of getting rid of our code coverage reporting, because it's mostly useless and adds tremendous overhead to the Travis build.

We're talking of a 30 minutes overhead, so the build with coverage on takes 43 minutes, versus 13 min

[2019-01-18 14:10] Avasil commented on #809
+1 on disabling it, we can always run it locally if we're wondering about our test cases

[2019-01-20 11:05] alexandru commented on #809
I've disabled it. I'm seeing all builds green for now 🙂

Unfortunately in #812 I did not get a build failure to be able to investigate.

[2019-01-20 11:05] #809 closed

[2019-01-20 11:06] alexandru commented on #806
@oleg-py does your latest PR (#807) fix this?

[2019-01-20 11:07] alexandru commented on #800
Feel free to add a PR.

[2019-01-20 15:17] oleg-py commented on #806
@alexandru nope. It addresses a separate issue. Didn't yet have a chance to look into that one

[2019-01-20 17:04] jozic opened #815 "Extract Schedulers into a separate deployable module"
Motivation:
Looks like Schedulers can be extracted to a separate dependency-free module, that can be used without Observables, Tasks or various Effects. Just as a light Scala-friendly replacement of Java's ScheduledExecutorService which also has control over clock! and thus has proper test implementation (TestScheduler).

`monix-execution` has dependency on `cats-effect` and `reactive-streams` whi

[2019-01-22 21:55] jozic commented on #815
getting rid of `cats-effect` as a dependency can do the trick I guess

@oleg-py could you turn your list of things to achieve this to a list with checkboxes? Then we can take care of them one by one and probably in parallel

[2019-01-23 08:41] alexandru commented on #815
Getting rid of Cats and Cats-Effect from `monix-execution` is the right thing, I never liked it, but getting rid of it isn't an easy task.

I don't really like added syntax. I guess we could, but we need a bunch of simple functions. Lets have an `object EffectEnv` in `monix.catnap` to have these functions.

Indeed, not very valuable.

This is a problem. The point of having instances for `Cancelabl

[2019-01-28 13:46] #800 closed

[2019-01-30 14:31] NeQuissimus commented on #786
Looks like publishing to 2.13.0-M5 is a bit of an undertaking :)

You'll see lots of these:
`overriding method nonEmpty in trait IterableOnceOps is deprecated (since 2.13.0): nonEmpty is defined as !isEmpty; override isEmpty instead`

and

[code]

I was going to give this a shot but I am afraid I don't have enough spare time atm :(

[2019-02-01 20:56] oleg-py commented on #793
I would actually consider this a bug.
[code]
prints a single value for me. Replace `switchMap` with `flatMap`, ant it continues printing.

IMO this is desired to hold, similar to monad left identity law:
[code]
and now it does not. (Side note: we already have the variant of right identity law in SwitchMap tests)

And it has probably not surfaced for a long time b/c switchMap is used in context of

[2019-02-01 21:09] oleg-py commented on #792
@atnoya this is indeed a case of #787. It's caused by each run-loop instance (any `runXXX` methods) not using a clear context, and run-loop completion not clearing the values after itself.

The need for `.asyncBoundary` is a bug that needs fixing, so it shouldn't be mentioned in the docs.

On current `master` your reproduction steps using any execution model provide same results as `AlwaysAsyncExe

[2019-02-01 21:09] #792 closed

[2019-02-01 21:15] oleg-py commented on #789
@shengc sorry for the super late reply.

Indeed, in your case `bracket` release - and `ds.getConnection`, and `conn.createStatement` will be called on per item basis. The behavior you probably want is to do these once, outside.

[2019-02-01 21:15] #789 closed

[2019-02-01 21:16] oleg-py commented on #781
Closing this as fix was already merged :)

[2019-02-01 21:16] #781 closed

[2019-02-03 12:18] guymers commented on #786
Hey @SethTisue, is the change in behaviour of `Future.successful(5).foreach(_ => throw new RuntimeException("blah"))` in 2.13 expected? (see https://github.com/monix/monix/pull/823 for context)

[2019-02-03 15:31] SethTisue commented on #786
@guymers hey @viktorklang?

[2019-02-03 21:00] viktorklang commented on #786
@SethTisue @guymers The observed change in behavior is due to the fact that the new implementation does not refer to the EC beyond submission to it—so there's nowhere to report the failure. However, since it is documented as:

" *  Since this method executes asynchronously and does not produce a return value,
 *  any non-fatal exceptions thrown will be reported to the `ExecutionContext`."

I think

[2019-02-04 15:54] viktorklang commented on #786
@SethTisue I've addressed, and fixed the regression tests, in my PR here: https://github.com/scala/scala/pull/7663/files#diff-e0c06059ba197fea5927c4e4b0f3d837R469

[2019-02-05 09:35] alexandru commented on #786
Sorry for the delay guys, I've been overwhelmed with other engagements. I'm also blocked on releasing a new release candidate on features that I want to get in and for which I haven't had the proper time or focus.

@SethTisue would publishing a hash version suffice?

[2019-02-05 10:41] #773 closed

[2019-02-05 15:55] SethTisue commented on #786
sure, any kind of artifact people can do testing with. (ideally cross-published for 2.11 and 2.12, though people can also put conditionals in their builds)

[2019-02-05 15:58] alexandru commented on #786
We've got a PR for fixing the deprecations in progress, at #823, will publish a version as soon as that one is merged.

[2019-02-05 16:54] oleg-py opened #829 "UncaughtExceptionReporter not guaranteed to be used"
The `ExecutionContext` we're using in `AsyncScheduler` is hard-wired to use _its own reportFailure_. So, even if we pass ours, it's not going to use it. That means some of the builders provided on Scheduler companion aren't actually reporting exceptions with provided reporter.

For example, this simple snippet (on JVM):
[code]
is supposed to swallow the exception, but it is still being logged.

[2019-02-05 18:08] alexandru commented on #829
@oleg-py you can wrap the Runnables into your own implementation that catches exceptions, but find a way to not do that in case the exception reporter isn’t customized

[2019-02-05 18:10] oleg-py commented on #829
Yes, I'm doing it in #828, but we also probably need to fix it for our existing constructors.

[2019-02-07 12:27] jakoschiko opened #830 "Version of refCount that reconnects"
Unlike RxScala, the Monix-`refCount` does not reconnect once the counter has reached zero.
[code]
Is this intentional behaviour? Does Monix provide an Observable similar to the RxScala-`refCount`?

[2019-02-10 08:19] #712 closed

[2019-02-10 08:20] #815 closed

[2019-02-10 08:27] alexandru commented on #829
True, so to make it clear I'm thinking of something like the following, maybe in `ReferenceScheduler`...

[code]

And then in `AsyncScheduler`:

[code]

Where `RunnableWithReporter` would be like:

[code]

[2019-02-10 17:50] oleg-py commented on #830
Sounds like you want a `CachedObservable`:
https://github.com/monix/monix/blob/f2fbb5d509f26cc555e12749614e1be6124db660/monix-reactive/shared/src/main/scala/monix/reactive/observables/CachedObservable.scala#L26-L37
It has a builder on a companion

[2019-02-11 08:28] jakoschiko commented on #830
`ConnectableObservable` does not unsubscribe. I need some kind of reference counting mechanism to repeatedly allocate resources on the first subscriber and free resources after the last subscription was canceled.

[2019-02-11 11:18] guymers commented on #786
Hey @viktorklang , [monix.reactive.SerializableSuite](https://github.com/monix/monix/blob/7cf74a9238a69e85991471130a453fed7ef31d24/monix-reactive/jvm/src/test/scala/monix/reactive/SerializableSuite.scala#L59) is failing on 2.13 due to a `Future` from a `Promise` no longer able to be serialised. Is this an expected change of behaviour?

[code]

[code]

[2019-02-11 11:56] viktorklang commented on #786
Hi @guymers,

Scala Future / Promise have never been intended to be serializable—it is also unclear what that would mean. What would the expected semantics be?

[2019-02-11 13:06] alexandru commented on #786
@viktorklang it wasn't intended to be serializable, but it was and in Scala 2.13 it isn't anymore. Any specific reason for why not?

This isn't a problem for Monix btw, it's just that we have a serialization test that is hitting a `Future` reference.

The folks that ask for everything to be serializable are the folks using Spark 🤷‍♂️ so if something is no longer serializable, it needs to have good

[2019-02-11 13:29] alexandru commented on #786
@viktorklang and btw, I would love your thoughts on what should or shouldn't be serializable 🙂

[2019-02-11 13:52] viktorklang commented on #786
@alexandru It "was" serializable in 2.12 but only by accident. Given that Java Serialization is an attack vector my recommendation would be to avoid relying on it at all. (It's also a heavyweight binary format, slow to store and load, etc)

I'm curious as to what semantics would be intended for serializing a Future. I could mark some of the fields as @-transient but deserializing the future would

[2019-02-11 14:02] viktorklang commented on #786
@alexandru I've marked Promise.Transformation's value, transformation and EC @transient now.

[2019-02-11 15:23] viktorklang commented on #786
@alexandru track commit here: https://github.com/scala/scala/pull/7663/commits/5cf0d1626725391754bbb0d2480a0b5e0b1d7985

[2019-02-11 22:54] SethTisue commented on #786
@alexandru GitHub closed this ticket because #823 merged, but I think the ticket should be reopened until you've actually published artifacts for 2.13.0-M5

[2019-02-11 23:20] ThijsBroersen opened #832 ".reduce on Observable with one item emits an empty stream"
Using the .reduce operator on a single-item observable results in an empty stream.

[code]

[2019-02-12 08:24] Avasil commented on #786
And seems like CI fails exactly because of missing artifacts

[2019-02-12 09:39] alexandru commented on #786
@SethTisue indeed, I've reopened the issue.

@Avasil unfortunately we left the Mima checks on for 2.13.0-M5, but no previous artifacts are available; I'm disabling it: https://github.com/monix/monix/pull/833

@viktorklang serializing a `Future` is problematic for the reasons you mention, but serializing a `Promise` should be OK. Thanks for marking those fields as being transient.

[2019-02-12 13:30] Avasil commented on #832
I think it's on purpose. I don't know the reasoning behind this decision though, might have been a mistake considering `List(1).reduceLeft(_ + _)` returns 1. `Iterant` will have similiar behaviour I think (`Some(1)`)

Can we fix this @alexandru ? I mean change is trivial but there's a chance for silently breaking users' code

[2019-02-12 14:37] viktorklang commented on #786
@alexandru I've reflected a bit on this and I am probably going to revert the @transient additions. It doesn't make sense to serialize a Promise because it's Future could already have callbacks/transformations added to it—in which case what would happen to them? Having a serialization solution which assumes that a Promise is serializable is going to lead to runtime issues.
Therefor it is probably

[2019-02-12 14:48] alexandru commented on #786
@viktorklang makes sense, if you want to make Promise non-serializable, better to do it now

[2019-02-12 15:19] viktorklang commented on #786
@alexandru Done: https://github.com/scala/scala/pull/7663/commits/909d125a821bc8dc4e8efaa3715420db59f2f5a6

[2019-02-12 15:37] alexandru commented on #832
I don't remember any specific reason for that. Yes, it's fine to have the same behavior as `List` and `Iterant`.

[2019-02-18 13:26] #832 closed

[2019-02-18 13:31] Avasil opened #835 "Task#unsafeRunSync"
What would you think about adding `unsafeRunSync` to `Task`?

I think `runSyncUnsafe` is cool for "IDE discoverability reasons" so we could keep it and add `unsafeRunSync` as an alias to make it easier for people familiar with `cats.effect.IO`.

[2019-02-21 09:47] fd8s0 opened #836 "Like tasks raceMany but just the failFast"
What I've been meaning to do for a few days now is to run a few tasks which are different, but if any of them fail, it makes no sense to waste any more time (and it's important that they don't) on the others and they should get cancelled, however as long as they succeed they should keep on running.

I thought I had working code on this but it turned out I didn't, and I find myself wanting to copy

[2019-02-21 10:37] Avasil commented on #836
@fd8s0 Isn't that behavior of `Task.gather` / `parSequence`?

[2019-02-21 10:54] fd8s0 commented on #836
@Avasil that was my original implementation... for some reason I decided it wasn't behaving, but now it behaves correctly, e.g.

[code]

Note the thread sleeps are intentional because the code I need to run can unfortunately block threads.

Anyway, sorry to bother, closing.

[2019-02-21 10:54] #836 closed

[2019-02-21 14:10] Avasil commented on #836
No worries @fd8s0 - in case the problem returns feel free to ask on gitter or through issue again

[2019-02-28 23:54] Avasil commented on #806
@alexandru @oleg-py

Actually, it seems like if we don't restore locals in `TaskShift` (set `restoreLocals = false` ) then it works and all the tests pass. I guess it's either the solution or we need more tests

The new local value is discarded here:
[code]

https://github.com/monix/monix/blob/master/monix-eval/shared/src/main/scala/monix/eval/internal/TaskRestartCallback.scala#L166

It was change

[2019-03-05 11:53] mihaisoloi opened #837 "TaskLocal and Local quarantine function"
When calling third-party APIs you have no guarantee that it's not doing things that make you lose your Local instance, so I propose a function that does something similar to this:

[code]
This way we get to keep the local instance.

I've written a `TaskLocalApp` that makes use of the above function using a `CompletableFuture` from java-8 which looses the `Local` instance.
https://gist.github.com/m

[2019-03-07 16:47] mdedetrich commented on #806
Is there a conclusion to this problem? We are trying to use `TaskLocal` and this bit us before?

[2019-03-08 11:05] oleg-py commented on #837
If you don't specify Executor for Java methods, it would use `ForkJoinPool.commonPool()` which does not support tracing.
I'm pretty sure that `toScala` converter you're using _also_ does that. Maybe consider trying it with `Task.fromFutureLike`?

[2019-03-08 11:25] oleg-py commented on #835
I don't think we want two functions for exactly the same unsafe thing (IIRC the only exception is `Task.apply` + `Task.eval`), but I don't really care how it's named. We can deprecate the current one. This would simplify things for people migrating from IO to Task at the expense of people already using Monix.

If we go this route, we'd probably want to rename the rest of unsafe methods for consist

[2019-03-08 11:55] mihaisoloi commented on #837
@oleg-py I've tried it with `Task.fromFutureLike` and it still doesn't propagate the context, even if I specify an executor that supports tracing the context is lost.

[2019-03-08 15:13] oleg-py commented on #806
@Avasil if the tests pass and it works, I'd say go for PR (since @alexandru seems to be busy for now).

[2019-03-09 21:50] mdedetrich commented on #806
PR is open, although it may make a sense to wait for a few days to see if @alexandru responds with the original reasoning for what was done.

@alexandru @oleg-py Does it make sense to do a RC3 release (or a SNAPSHOT) once this problem gets resolved? Its effecting us on our end and I would love to solve the issue ASAP

[2019-03-11 20:32] Avasil commented on #837
Thanks for detailed report. :)

I'll try to investigate in the next couple of days

[2019-03-12 10:15] lukestephenson opened #841 "MapParallelOrdered is not running all Tasks in parallel"
This was originally mentioned to me by @cwmyers who I work with.  I've since looked into it a little more and thought about how it could be fixed.

# Problem / Issue description

With the following simple Observable using `mapParallelUnordered`, the process takes just over a second to complete as the Tasks are executed in parallel.
[code]

Note the ordering is not guaranteed (as expected).
[code]

[2019-03-12 11:57] Avasil commented on #841
Thanks a lot for the extensive report @lukestephenson . I will look into that and think about possible solutions. PR is of course very welcome, we can go from there.

The first possible solution that comes to my mind and might work is to force async boundary on executed tasks

Not sure how to test it yet

[2019-03-12 23:31] lukestephenson commented on #841
@Avasil Thanks for the suggestion to force an async boundary. I've given that a try as well as what I initially described.  Both approaches are currently failing on the same cancellation tests, which I still need to investigate.  I'll submit the PRs for comment now (with the broken tests).

[2019-03-13 03:08] lukestephenson commented on #841
@Avasil The approach you suggested appears to be working (but failing on an unrelated test).

[2019-03-13 14:37] Avasil commented on #841
@lukestephenson I've restarted CI and it's ok for both tests now. :)

I feel like the async boundary should be better if there aren't more corner cases. Wrapping everything in `Atomic` is probably expensive but I'm not sure without benchmark

[2019-03-13 22:56] lukestephenson commented on #841
Hi @Avasil .  I'm happy with the Async boundary approach.

The only corner case I wasn't sure about is if there can be multiple calls to `onNext` waiting for an async semaphore permit at the same time.  But the change doesn't make that any worse if it is a problem.

[2019-03-13 23:07] Avasil commented on #841
IIRC there is an internal `Queue` in `Semaphore` implementation so the order should be preserved

[2019-03-14 00:43] lukestephenson commented on #841
What I was concerned about is https://github.com/monix/monix/blob/0097879cac2b5355bcc4b9c33046bf92ec111c42/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/MapParallelOrderedObservable.scala#L170-L181:
[code]

When the permit is obtained synchronously (ie `case Some(_)`), then ordering is guaranteed.
When it is obtained asynchronously (ie `case None`), then the logic is perfo

[2019-03-14 07:41] Avasil commented on #841
Ah, I see what you mean. I'll check if I can reproduce it and fix if it turns out to be a problem. Thanks!

And regarding this issue, I guess now we just have to figure out a way to test the current fix

[2019-03-16 10:10] mdedetrich commented on #837
Isn't `monix.execution.schedulers.TracingScheduler` meant to solve this problem, or am I missing something?

[2019-03-16 19:40] Avasil commented on #837
@mihaisoloi
Is it possible that the issue is because you're using `val` in the `Future` so it starts evaluating earlier?
Following works for me:
[code]

If #839 gets merged it seems like it also fixes this behaviour in case it's `val`:
[code]

it ends on `1` without `quarantine`.

[2019-03-18 20:26] Avasil commented on #837
@mihaisoloi You can try with `3.0.0-RC2-SNAPSHOT-9e79718-SNAPSHOT`

[2019-03-20 09:45] ljwagerfield commented on #837
@Avasil

But what if the `CompletableFuture` was created by some third-party library which uses it's own threading model, that doesn't even use `Executor`?

For example, if you called `client.makeRequest(): CompletableFuture` on a Play WS Client, it would construct a `new CompletableFuture()` which would manually be marked as "completed" during an epoch on some Netty event loop.

In a situation li

[2019-03-22 14:53] mdedetrich opened #848 "TracingScheduler issues when mixing Future with Task"
The equivalent issue can be found here https://github.com/mdedetrich/monix-mdc/issues/1. For basic scenarios when mixing `Task` and `Future` along with a custom `MDCAdaptor` that uses `TaskLocal`, everything seems to work fine (i.e. you can use `MDC.get`/`MDC.put` interchangeably and stuff works). However some more complex test scenarios don't seem to work, i.e. these tests currently fail

https:/

[2019-03-23 10:06] mdedetrich commented on #837
This ticket might be related to https://github.com/monix/monix/issues/848

Note that in my case as I have set up the test (see https://github.com/mdedetrich/monix-mdc/blob/master/src/test/scala/MDCFutureSpec.scala) to use `TracingScheduler` (which according to documentation should pass the `TaskLocal` along each execution step when using the `TracingScheduler` as the `Future`'s `ExecutionContext`.

[2019-03-25 11:32] oleg-py opened #851 "TaskLocal should carry over values on `join`"
When fiber is joined, the point at which we resume should contain the locals as they were upon fiber completion, i.e.:

[code]

Currently fibers get a copy of the parent local context, but all values written to it are lost. That also means that quarantine function from #837 can be implemented as starting, then joining.

This breaks the following law from Concurrent typeclass:
[code]

[2019-03-25 13:03] mdedetrich commented on #848
So just an update on this, I redid the tests in monix-mdc (I know use property based tests to make sure the state is clean on each test run) and figured out that the issue occurs when you put a value into `TaskLocal` initially when using a `Future` and then try to modify the `TaskLocal` later within a `Task`.

If you put a value into the `TaskLocal` initially using `Task`, then you can retrieve th

[2019-03-25 13:04] mdedetrich commented on #851
Could this be related to https://github.com/monix/monix/issues/848#issuecomment-476186841 ?

[2019-03-25 15:39] oleg-py commented on #851
@mdedetrich unlikely. I think we need to manually carry over locals in this special case. #848 is more about TracingScheduler and Future.

[2019-03-25 15:45] oleg-py commented on #848
Our main problem currently is that this test would fail, if added:

[code]

It seems that, for simple case like this:
[code]
Both X and Y would receive a copy of a current/parent/callsite state. Therefore, any modifications done by X will not be seen when it's time for Y to be called. We need to somehow "link" the changes across two call sites, or, stated in a different way, share the context stat

[2019-03-26 08:26] mdedetrich commented on #848
So here is an example of how people carry over MDC context when using a custom `ExecutionContext`. The logic required would be along the same lines (just instead of the `MDC` map you have the current `TaskLocal` context)

http://yanns.github.io/blog/2014/05/04/slf4j-mapped-diagnostic-context-mdc-with-play-framework/ . See the 'Second solution with a custom execution context' section

[2019-03-26 21:16] lukasz-golebiewski opened #853 "Bracket.use upon task cancellation reads outdated state if the resource is an MVar"
I noticed a weird behavior when using `MVar` together with the `Bracket` typeclass. My initial idea was to use it for synchronization instead of `Ref` together with a `Semaphore` but I hit a corner case which ended with a deadlock. The test below when added to the `BaseMVarJVMSuite` gives an outlook on the problem. I believe the correct behavior would be if the assertion never failed, but it does

[2019-03-27 10:54] ljwagerfield commented on #837
I've written the following test...

It highlights the problem of executing blackbox asynchronous code, which may be using a custom threading model that does not use an `Executor`:

[code]

This test currently fails with `3.0.0-RC2` -- AFAIK I haven't seen any discussions around fixing cases like this?

[2019-03-27 11:25] mihaisoloi commented on #837
@mdedetrich @Avasil I think @ljwagerfield hit the nail on the head with the code example he pasted, this is what I was trying to achieve

[2019-03-27 16:03] oleg-py commented on #853
Hi @lukasz-golebiewski. It seems you are using `cats.effect.concurrent.MVar` and `cats.effect.IO`, so it's probably a question to ask on cats-effect gitter or a repo

[2019-03-27 19:24] Avasil commented on #837
@ljwagerfield @mihaisoloi It might be related to: #848

[2019-03-28 11:05] lukasz-golebiewski commented on #853
Sure, can do - thanks for the hint. What is the purpose of `MVarJVMSuite` in `monix-catnap`? My test is based on those, and they also seem to be testing `cats.effect`

[2019-03-28 11:46] Avasil commented on #853
@lukasz-golebiewski `MVar` was ported to `Cats-Effect` from Monix but we decided to keep Monix implementation which extends `Cats-Effect` one but also allows `Future` and customizing Atomic's Padding

[2019-03-29 17:35] lukasz-golebiewski commented on #853
Closing in favor of https://github.com/typelevel/cats-effect/issues/503

[2019-03-29 17:35] #853 closed

[2019-03-31 06:53] oleg-py commented on #806
Closing, as we already merged the PR

[2019-03-31 06:53] #806 closed

[2019-03-31 23:46] guymers opened #856 "Task.memoize doesn't play well with Local"
I am trying to use `Local` as a replacement for a `ThreadLocal` in order to implement OpenTracing support (https://github.com/opentracing/opentracing-java/blob/release-0.31.0/opentracing-util/src/main/java/io/opentracing/util/ThreadLocalScopeManager.java). However not all downstream `Task`s see the active `Scope`. Is what I am trying to accomplish a supported use case?

If I make this change every

[2019-04-01 07:15] Avasil commented on #856
We'd like to support such a use cases if it doesn't currently work as expected

What result do you get instead? I get:
[code]

Sometimes printed in different order. It's the same without `memoize` / `shift` for me and seems like expected result to me. Am I missing something?

You could also check current master if it's better/worse (has some changes to `TaskLocal`): `"3.0.0-RC2-SNAPSHOT-55a922a-SN

[2019-04-01 10:24] guymers commented on #856
Sorry I would expect `(1,1) (2,2) (3,3)` in any order not `(0,0), (1,1), (2,2)`

That is strange that it works for you. This is a sample of what I get when I run https://github.com/guymers/monix-local-temp

[code]

If I remove the call to `memoize` it seems to return the expected every time.

If I remove the call to `shift` it seems to return the expected ~80% of the time. (Only seems to return `L

[2019-04-01 11:34] Avasil commented on #856
Try with `TracingScheduler`:
[code]
Are you planning to release it later as a library? Might be useful for other users if it works out

[2019-04-01 12:03] guymers commented on #856
Using `TracingScheduler` doesn't make a difference.

You get the expected result every time you run the above? I just ran it on Travis and it seems to also get unexpected results https://travis-ci.org/guymers/monix-local-temp/builds/514106482

I wasn't planning on making a library the only thing required is to copy `ThreadLocalScopeManager` and replace the `ThreadLocal` then copy `ThreadLocalScope

[2019-04-01 12:45] Avasil commented on #856
Ok, I can reproduce it, I guess I couldn't do it because I was running it through IntelliJ

We'll look into it

[2019-04-04 15:06] jvican opened #858 "Buffering via `bufferTimed` might never process events"
I've been having problems with `bufferTimed` while upgrading to 3.0.0-RC2 and have been therefore reading the source code of `BufferTimedObservable`. I think I've found an implementation flaw that is I've only managed to reproduce in my environment. I tried both Scastie-ing it and adding a test in the buffer timeout spec but none of the approaches I took made it happen again.

So here it is the mi

[2019-04-06 20:07] jvican commented on #858
After more experimentation, the blocking behavior seems to happen because we use `Thread.sleep` in the consumer. System-level sleeps are truly blocking and cannot be simulated by `scheduleOnce` and `Task.sleep` (this is the reason why I couldn't reproduce with the instrumented scheduler used in monix tests).

A simpler reproduction without `Consumer.foreachTask`. The following code also throws a `

[2019-04-06 22:46] jvican opened #860 "CancelableFuture.cancel corrupts internal task state"
Running `.cancel` on a task asynchronously while the task is running corrupts its Monix internal state and causes the task to never finish. Here's a minimal reproduction:

[code]

Output:

[code]

The example never ends and throws a `TimeoutException`. The behavior is the same even if you add a cancellation finalizer to `t` or if you remove `doOnFinish`. Seems to be a regression of https://github.

[2019-04-06 22:54] jvican commented on #835
Sounds like there should be an extra module that adds all of this syntactic sugar to the API to make it easier to use for Cats users. I would probably avoid over-extending the core API and keep it as small as possible.

[2019-04-06 23:01] jvican commented on #719
My implementation in bloop is lacking and very custom for my use case, I remember just putting some extra code together because `MultiAssignCancelable` wasn't working correctly. Let's ignore it, I'm not proud of it :smile:

Do you mean that I complete the observable when one of its tasks has been cancelled?

If that's the case, I think that you usually want both: cancelling all existing tasks and

[2019-04-07 07:18] alexandru commented on #860
@jvican I'm going to investigate it, stand by 🙂

[2019-04-07 07:20] alexandru commented on #860
Just a random thought ... tasks are now automatically cancelable. This means that `flatMap` continuations can get interrupted. And in this case, indeed, the resulting `Future` should not complete.

However `doOnFinish` should be based on `bracket`, which should execute once registered, even if the task gets cancelled. We have to check its implementation and understand this behavior.

[2019-04-07 07:58] jvican commented on #860
My expectation as a user is that cancellation would complete the task... How could I get it to complete so that consumers of this task don't block forever? I'm using cancellation as finalisers, meaning that all I want Monix to do is to run them on `cancel` and I'll take care that the task returns with an appropriate state.

[2019-04-07 08:27] jvican commented on #860
Running a task with `opts.disableAutoCancelableRunLoops` gives me the behavior I expect, but at this point, I'm wondering if the default is the best one... I guess a better motivation for why it's chosen could help me change my mind.

I'm also confused by what `autoCancelableRunLoops` does and what I expected it to do. I thought that option controlled whether Monix would call cancelables of tasks

[2019-04-07 20:38] Avasil commented on #856
Haven't think of proper fix yet but I minimized this case further:

[code]
Will print `(1, 1)` or `(2, 2)`

[code]

Will always print `(1, 2)` (as expected)

If we change `Task.memoize` to restoreLocals then it will work in the first example (your situation) but not in the following case:
[code]

[2019-04-08 04:30] oleg-py commented on #860
@jvican

`onCancelRaiseError` should work for this. Another option is to use `bracketCase` + `Deferred` to receive the state via other channel

[2019-04-08 13:32] Avasil opened #862 "Support Scala 2.13.0"
`Scala 2.13-RC1` has been released with many improvements to Scala's Future. Would be interesting to see how it affects `Observable` which uses `Future` internally.

Currently blocked by following releases:
- minitest
- cats
- cats-effect

`kind-projector` will need to be changed to
[code]

[2019-04-11 09:39] Avasil commented on #837
@ljwagerfield do you have use cases for code like this? Is it used internally in the libraries that you need to work with? And is `Local` modified there or is it enough to have something like `quarantine` there (preferably under the hood) ?

[2019-04-11 13:49] ljwagerfield commented on #837
Yes. We have a third-party library that uses Netty internally: it returns a `CompletableFuture` to us, but internally it will complete this on an epoch in the Netty event loop.

No. We modify `Local` before the call, and attempt to read it after the call (at which point it's been lost).

Yes. After we call the third-party method, we call `quarantine` on the resulting `Task`. This ensures `Local` i

[2019-04-22 23:29] dylemma opened #868 "Hang with TestScheduler and ConcurrentQueue"
I've discovered a case where calling `testScheduler.tick()` causes the JVM to hang, using Monix version **3.0.0-RC2**.

It involves a bounded ConcurrentQueue, where a "sender" and "receiver" both run in parallel, but the receiver delays its execution by a few seconds.

[code]

If I run the task above with the default Scheduler, I get a List of 1 through 10 as the result, as expected.

But If I use

[2019-04-24 19:49] dinosaur-lin commented on #868
I can't reproduce this in one of the snapshots after 3.0.0-RC2

[code]

[2019-04-24 21:35] dylemma commented on #868
Awesome! I confirmed on my end, and the snapshot version works as I expected.

[2019-04-24 21:35] #868 closed

[2019-04-25 12:49] Avasil commented on #862
New version of monitest: `2.4.0`
So just waiting for cats/cats-effect

[2019-04-25 16:59] mdedetrich opened #870 "Memory leak with TrampolineExecutionContext$JVMOptimalTrampoline"
We are currently experience a memory leak when using Monix Task 3.0.0-RC2. The application is mainly using `Task`, along with functions like `delayExecution`/`fromFuture`/`executeAsync` (along with using the default `Scheduler.global`)

Originally we thought it was coming from Doobie, but we narrowed this down to Monix Task. The leak appears to be happening at `monix.execution.schedulers.Trampolin

[2019-04-26 07:56] paulpdaniels opened #871 "Add Observable.takeWhileInclusive"
The current implementation of `takeWhile` means that the first item to fail the predicate is excluded from the resulting stream, in many cases this is fine, however there are cases where we might want to include the item that failed so that we can do further processing. The behavior itself is a minimal change to the `TakeByPredicate` operator but cannot be easily replicated with existing operators

[2019-04-26 08:40] mdedetrich commented on #870
So I did a bit more digging and I believe its the actual `ThreadLocal` which is where the leak is happening, the `JVMOptimalTrampoline` is setting a `localContext` (which is a `ThreadLocal` that is causing the leak), will investigate further.

[2019-04-26 09:10] mdedetrich commented on #870
I am also thinking that this may be due to the fact that we are using `Doobie`, which as of latest version provides its own 2 custom `ExecutionContext`'s which seems to be filling up the leak, will try and provide a minimal example.

[2019-04-28 16:57] adamw opened #873 "New release?"
Are there any plans for a RC3 or 3.0-Final? :)

I think master has some fixes to concurrent usage of `Local`s which might be useful

[2019-04-28 17:31] Avasil commented on #873
The plan for the next release is after we fix all issues with `Local` / `TracingScheduler`
Shouldnt be that far n the future if this PR makes it to master: https://github.com/monix/monix/pull/866

[2019-05-02 01:16] SethTisue commented on #862
cats 2.0.0-M1 and cats-effect 2.0.0-M1 have been published for Scala 2.13.0-RC1

[2019-05-02 08:28] Avasil commented on #862
Thanks @SethTisue - I made a PR #875
Not sure how fast we can release proper version but we could definitely do at least a snapshot soon

[2019-05-02 09:35] crakjie opened #876 "More detailed documenation about interop with Future"
In gitter at Apr 29 21:27 @alexandru told us there is distinctions between Future and Task that a developer should care of.
I think it's could be nice to have documentation about thread blocking instruction and/or interop with scala future, with more use case and exemple than simple explanation on gitter.

For exemple I have this kind of call in my program
`Task.fromFuture(functionUsingAndReturnin

[2019-05-02 11:28] mdedetrich opened #877 "Make a RT "fire and forget" function"
So we kind of have this problem in our services where we do a lot of "fire and forget" tasks. These are tasks that follow these properties

* Do not block, even in the resulting computation, i.e.
[code]

In this example, by fire and forget we mean that this for expression will immediately exist after `doSomething`, we do not wait for either `fireAndForgetTask` or `anotherFireAndForgetTask` to comp

[2019-05-02 11:32] Avasil commented on #877
Wouldn't `start.void` do what you want? Or is it about `2.x`?

[2019-05-02 11:32] alexandru commented on #877
We also have `forkAndForget` which should be more optimal.

[2019-05-02 11:33] alexandru commented on #877
Speaking of which, we should probably rename it to `startAndForget`, since `fork` comes from a time when `start` was not automatically forking.

[2019-05-02 11:34] alexandru commented on #877
Also if actual execution is necessary, we also have `runAsyncAndForget` instead of `runToFuture` 🙂

[2019-05-02 11:37] mdedetrich commented on #877
We were using Monix 2.x up until recently

[2019-05-02 11:42] mdedetrich commented on #877
@alexandru Should I make a PR to deprecate `forkAndForget` and rename it to `startAndForget`? Also just to clarify, `forkAndForget` doesn't delay the current computation its running on (i.e. its not just ignoring the error of the computation?)

I will also make a PR for documentation since i think its missing there.

[2019-05-02 11:45] alexandru commented on #877
`forkAndForget` will do the equivalent of `start.map(_ => ())` meaning that it forks the task, executing on another thread, but then does not wait for the computation to finish in any way.

Also in case of errors, the errors get logged via `Scheduler.reportFailure`.

[2019-05-02 11:45] alexandru commented on #877
Yes, you can do the PR if you want to help.

[2019-05-02 11:45] Avasil commented on #877
It "succeeds" as soon as this computation is started:

[code]

That would be fantastic!

[2019-05-02 11:46] mdedetrich commented on #877
Awesome many thanks, will set up a PR both for renaming the method and for docs

[2019-05-12 11:25] mdedetrich opened #880 "Split out Monix's Local into its own project/dependency"
So basically Monix's `Local` has really nothing to do with Monix itself, its basically a helper over an immutable map that stores its data into a `ThreadPool` which provides suspension on its effectful methods so that it can be used sanely with `Task`.

Which gets to the second point, it can be used not only with `Task` but also Cats `IO` or even ZIO. There is nothing that ties `Local` to Monix.

[2019-05-12 11:47] alexandru commented on #880
`Local` is from `monix-execution`, a sub-project. You don't need to depend on `Task` in order to use `Local`.

[2019-05-12 11:58] mdedetrich commented on #880
Ah thats fantastic, would it make sense to make it its own github project (under the monix repo)?

[2019-05-12 17:40] mdedetrich commented on #880
I will close this for now, I think the push for making `monix-execution` its own project isn't backed by evidence that the modularity is needed for now

[2019-05-12 17:40] #880 closed

[2019-05-14 11:47] vilu opened #881 "Certificate issues on monix.io"
![Screenshot 2019-05-14 at 13 47 07](https://user-images.githubusercontent.com/1489367/57695558-de437400-764e-11e9-87a8-2cfe023cb6e4.png)

[2019-05-14 13:19] alexandru commented on #881
Hi @vilu,

Indeed, thanks for the report.

I configured an automatic [Letsecrypt](https://letsencrypt.org) renewal on the server, however the script was frozen, don't know since when and the certificates were expired.

The website should be up now.

[2019-05-14 13:19] #881 closed

[2019-05-15 08:12] RomanIakovlev opened #882 "Add Cron-based Observable"
Cron is a popular mechanism to specify schedules, and Monix users will benefit from having it supported. I've implemented such an Observable (let's call it CronObservable going forward), and I can make open source, therefore I'm opening this issue to have a discussion on this topic. Particularly, let's talk about the following aspects.

1. Should CronObservable live in the Monix project itself, an

[2019-05-15 09:31] oleg-py commented on #882
I only have an opinion for 1st question now:

Adding a dependency to core monix is undesirable. If we can add some kind of time-interval compatible with cron4s, and make using both simple, it would be the preferred way to go. E.g. something along the lines of those:

[code]

Would totally fit in the monix-reactive and should make integration as simple as a one-liner, and would also fit some simple

[2019-05-15 20:27] RomanIakovlev commented on #882
@oleg-py just to make sure I understood you correctly. Based on your code examples, you suggest the following: not include the cron4s dependency into the CronObservable at all, and instead let it exist in the user's code and serve as the source of next ticks instants, whereas Monix will provide mechanism to schedule a tick at those instants. Is that correct?

[2019-05-16 10:29] Avasil commented on #835
I agree with you guys

[2019-05-16 10:29] #835 closed

[2019-05-16 10:36] Avasil commented on #786
We'll have `2.13-RC1` soon

[2019-05-16 10:36] #786 closed

[2019-05-16 10:55] oleg-py commented on #882
@RomanIakovlev exactly.

[2019-05-16 18:00] #871 closed

[2019-05-17 18:10] dylemma opened #884 "Duplicate Iterant constructors: `suspend` and `suspendS`"
`Iterant.suspend` and `Iterant.suspendS` have different docs, but the same implementation. Should one of them be deprecated?

[`suspend` source](https://github.com/monix/monix/blob/master/monix-tail/shared/src/main/scala/monix/tail/Iterant.scala#L2468)

[code]

[`suspendS` source](https://github.com/monix/monix/blob/master/monix-tail/shared/src/main/scala/monix/tail/Iterant.scala#L2938)
[code]

[2019-05-20 15:47] RomanIakovlev commented on #882
Hi @oleg-py, thanks for the suggestion, I think it makes a lot of sense. I've submitted a pull request with the initial implementation of your suggestion, and I'd appreciate some feedback (from anyone interested in providing it, obviously).

Particularly, one of my concerns is the usage of `java.time.Instant`, I'm not sure if it plays well with Scala.js. Please let me know if any better ways to ha

[2019-05-21 17:53] Avasil commented on #848
#866 changes are included in the snapshot: `3.0.0-RC2-9c49e02-SNAPSHOT`

Does it fix issues mentioned here?

[2019-05-21 17:55] Avasil commented on #837
@mihaisoloi @ljwagerfield Can you check on `3.0.0-RC2-9c49e02-SNAPSHOT`? It includes changes from #866

[2019-05-27 15:25] mgzuber opened #890 "Parallel computation is very slow"
[code]

[code]

Using monix 3.0.0-RC2 on a RHEL machine with 16 cores.

[2019-05-29 08:48] Avasil opened #891 "Bring back Observable.Transformer?"
We used to have ` type Transformer[-A,+B] = Observable[A] => Observable[B]` type alias with corresponding function

[code]

which was removed in `3.x`. It's trivial to implement for the user but I feel like it's quite convenient and many people like this style of transforming streams (looking at the usage of `fs2.through`, `AkkaStream.via` and even [Monix presentation](https://monix.io/presentatio

[2019-05-30 17:21] rfkm opened #892 "Memory leak in MapParallelOrderedObservable"
The number of child cancelables of `CompositeCancelable` will increase unlimitedly due to wrong cleanup logic.

An instance of `SingleAssignCancelable` is added to `composite` [here](https://github.com/monix/monix/blob/af9e61e6d655cf8e043b681741d480ae8c9f9e8c/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/MapParallelOrderedObservable.scala#L134) but the cleanup code seems t

[2019-05-30 20:17] Avasil commented on #892
@rfkm Nice catch, thanks!
It looks like we could add `future.cancelable` to the composite and get rid of `SingleAssignCancelable` entirely. Would you be interested in making PR?

[2019-05-31 08:16] Avasil opened #893 "Change Task.apply to Task.evalAsync in MapParallelOrderedConcurrencySuite"
This test should run all `Task` concurrently and not synchronously but it wasn't fixed when `Task.apply` behavior changed:

https://github.com/monix/monix/blob/master/monix-reactive/jvm/src/test/scala/monix/reactive/internal/operators/MapParallelOrderedConcurrencySuite.scala#L33 (here and in the 2nd test)

[2019-06-01 08:18] #892 closed

[2019-06-12 07:14] #799 closed

[2019-06-12 07:14] #829 closed

[2019-06-14 09:55] ALPSMAC commented on #862
Scala 2.13 has been released.  Would love to have a corresponding Monix 3.0 official release too :-)

[2019-06-14 10:12] Avasil commented on #862
@ALPSMAC We're going to release for Scala 2.13 as soon as stable Cats-Effect version supporting this release is available (I think it is planned in the next 2-3 weeks)

[2019-06-14 11:37] oleg-py commented on #890
IIRC that was already discussed on gitter. Just on the glance, there seems to be quite a lot difference except _just_ having multiple threads.

[code]

versus

[code]

So, throwing cores at a problem might not make anything faster. In fact, with pure CPU-bound tasks, the overhead of context shifting alone might negate all performance gains from parallelism.

I don't think there's any issue in moni

[2019-06-14 11:37] #890 closed

[2019-06-14 11:39] oleg-py commented on #851
Fixed in #887

[2019-06-14 11:39] #851 closed

[2019-06-14 11:40] oleg-py commented on #893
Would we actually notice any difference?

[2019-06-14 11:43] oleg-py commented on #837
Since we already merged #887, where we have `{Task}Local.isolate`, I'll go ahead and close this issue.

[2019-06-14 11:43] #837 closed

[2019-06-14 11:59] oleg-py commented on #702
With current Iterant encoding, files should be closed as soon as they are done processing, if you construct a stream correctly (e.g. by concatenation - `file1 ++ file2 ++ otherFiles.flatten`).

I'm going to close this for now, since it doesn't belong to the core monix.

[2019-06-14 11:59] #702 closed

[2019-06-14 16:05] ALPSMAC commented on #862
Ah - perfect - thanks!

On Fri, Jun 14, 2019 at 6:12 AM Piotr Gawryś <notifications@github.com>
wrote:

[2019-06-14 18:23] volth commented on #702
Yes, I ended up with using ```Observable``` for ```tail-f```-ing.
Although ```Iterant``` was looking "natural" for that, sometimes it is very tricky to use.

[2019-06-14 21:15] Avasil commented on #856
I think this is fixed in #887 but I'm not 100% sure so I'll leave it open for now, we'll see soon. :)

Curren't model shares between tasks in `Task.parZip` so my previous comment is not valid but the original issue by @guymers seems to behave as expected. I can add a test case later

[2019-06-18 18:10] Avasil commented on #893
@oleg-py I don't think so because it currently forces async boundary in the implementation but it would be consistent with `MapParallelUnorderedConcurrencySuite`

[2019-06-19 10:45] Avasil commented on #860
I think I liked previous default more but `autoCancelableRunLoops = true` is consistent with `cats.effect`. And I agree the parameter is confusing, it's more like a flag whether cancelation is on

@alexandru @oleg-py Thoughts? Would be nice to decide whether we change something or not

[2019-06-19 11:01] jvican commented on #860
Thanks for your comment!

What's the motivation to be consistent with cats-effect?

I have a codebase of 70KLOC that will be quite difficult to migrate to 3.0.0 with this default enabled because it effectively means I need to change how cancellation works across the codebase. I wouldn't like to depend on making sure I disable `autoCancelableRunLoops` in all tasks I use in the codebase so I'd need

[2019-06-19 14:40] Avasil commented on #877
@mdedetrich are you still interested in doing this? If not, I can use it for Scala Spree next week

[2019-06-19 16:02] Z1kkurat opened #908 "Sporadic scala.MatchError inside Task.timeoutTo"
Sometimes `Task.timeout` fails with `scala.MatchError` with the following stacktrace.
[code]

At first glance, the only place in code where MatchError could happen in `timeoutTo` is if `Task.race` produces `null`.
I can't reproduce this case manually, as it happens rarely under some load on unknown conditions.

Environment:
Java:
[code]
Scala:
2.12.8

Monix libraries in classpath:
[code]

[2019-06-19 16:41] Avasil commented on #908
Thanks for the report, are you able to see if it also happens in `3.0.0-RC3`? (monix-kafka Rc4)

[2019-06-19 16:44] Z1kkurat commented on #908
I think I would have to update my production environment to `3.0.0-RC3` version which I am a bit afraid of for now :) Sadly, couldn't reproduce on test environment, maybe not enough load

[2019-06-20 07:15] alexandru commented on #908
Hi @Z1kkurat,

This could be a contract violation of `Callback` in `Task.create` / `Task.async`.

Are you by any chance calling `calback.onSuccess` multiple times, concurrently?

[2019-06-20 07:29] alexandru commented on #908
@Avasil this issue with the `null` value comes from `TaskRestartCallback`. We'll need to investigate.

@Z1kkura can you give us some minimal code we could use in testing? Any pointers would be appreciated.

[2019-06-20 07:31] alexandru opened #912 "Make default scheduler remove cancelled tasks"
We need to look into this:

https://github.com/typelevel/cats-effect/pull/568/

As this might prevent some leaks with `timeout`.

[2019-06-20 08:28] Z1kkurat commented on #908
@alexandru I'm afraid the only thing this code does is creating `AsyncSubject` and waiting for `firstL` with timeout, not much of a logic.
[code]

[2019-06-20 11:59] alexandru commented on #908
@Z1kkurat this helps a lot, thanks. We'll investigate.

[2019-06-20 12:00] alexandru commented on #908
A test that does this at high load shouldn't be too hard to build.

[2019-06-20 12:25] alexandru commented on #860
Going back to the original sample:

[code]

First of all `doOnFinish` is based on `flatMap` and that's probably an API bug that we should address.  We should either make `doOnFinish` an alias for `guarantee` and maybe even deprecate it.

If you want to ensure that some piece of logic is being executed, even if the task gets cancelled, then you have these options:

1. `bracket`
2. `bracketCase`
3.

[2019-06-20 12:31] Avasil commented on #912
Easy to change but I'm not sure whether we should have 1 thread in pool or 2.

BTW Cats-Effect also changed the default Scheduler to its own: https://github.com/typelevel/cats-effect/issues/509 (PR is linked)

[2019-06-20 13:26] Avasil commented on #860
I think methods like `doOnFinish`, or `doOnCancel` are convenient to have. One of them even got to Cats-Effect: https://github.com/typelevel/cats-effect/pull/519

That's assuming it keeps current behavior (so would be `guaranteeCase` reacting on `ExitCase.Completed`)

[2019-06-20 18:06] Avasil opened #914 "Add missing F[_]-polymorphic methods to Observable"
Many operators, like `mapEval` have equivalent working for `F[_]` which is convenient for people using other Effect type or writing using Tagless Final.

There are missing methods, e.g.:
- `mapParallelOrdered`
- `mapParallelUnordered`
- ` fromIterator`
- `consumeWith`
- `completedL`
And more.

In some cases we might be able to express them in terms of Cats-Effect typeclasses but converting to/from

[2019-06-20 18:11] Avasil opened #915 "Task.doOnFinish should be implemented in terms of guaranteeCase"
`Task.doOnFinish` is implemented in terms of `flatMap` but it would make more sense  to write it in terms of `guaranteeCase`

[2019-06-20 18:41] Avasil opened #916 "Shifting back to the default pool in Task.fromFuture, Task.async and others"
Currently code like this:

[code]
Stays on `foreignEC` for the next operations until async boundary. Similar to `Future` and probably the rest similar operators.

I'm not familiar with any situation when it's desirable but it can easily catch off-guard and is a source of confusion, see [recent blog post](https://blog.softwaremill.com/thread-shifting-in-cats-effect-and-zio-9c184708067b) and it was

[2019-06-20 19:52] alexandru commented on #908
Hi @Z1kkurat,

I've forked `3.0.0-RC2` and made some relatively small changes on this branch, in order to identify the issue: https://github.com/monix/monix/pull/917

I've pushed a new test version with it: `3.0.0-RC2-cb74787`
(synchronizing to Maven Central now)

I have a suspicion that this is a contract violation, but I couldn't reproduce your issue exactly as it is. Can you help us by trying o

[2019-06-20 20:03] alexandru commented on #916
It might make sense for `Task.async` to shift back to the default `Scheduler`.

[2019-06-20 20:14] alexandru commented on #916
Compared with `cats.effects.IO` we can do this without changing the API. And it might make `Task.async` safer.

My worry is that we might need some extra builders that don't shift. We already have `Task.async`, `Task.async0`, `Task.cancelable`, `Task.cancelable0` and `Task.create` 🙂

[2019-06-21 07:11] oleg-py commented on #891
I used to like that method, as it makes chaining observable operations easier, but

- `typelevel/mouse` and 2.13s `scala.util.chaining._` already give you more universal syntax
- fs2 has a handful of methods that take it's version (Pipe), not just `through` (e.g. observe, broadcastTo and balanceTo)

So, I'm not convinced it's very valuable going forward, but I'm not a heavy user of `Observable`, s

[2019-06-21 07:16] alexandru commented on #860
Took a closer look and `doOnFinish` has correct behavior currently, as it doesn't react on cancellation and that was the contract from the beginning. The problem in the same is that the source was not cancelable, and in the "continual" model the subsequent "doOnFinish" wasn't cancelable either.

[2019-06-21 07:37] jvican commented on #860
Thanks for the explanation, everything makes sense :smile:

I was expecting the cancel task to never be cancelled and that's why in my original example I expected `doOnFinish` to be triggered. The unexpected behaviour for me was that cancelling a task (even if it had no cancellation handlers) stalls any of its consumers because now `autoCancelableRunLoops = true`. I didn't realise that being cance

[2019-06-21 07:46] alexandru commented on #860
@jvican how often are you using `runAsync`?

If you use `runAsyncOpt` it will force you to use your own `Task.Options`, which can force the old cancellation model.

There's also a system property called `monix.environment.autoCancelableRunLoops` which can be set to `false`.

[2019-06-21 07:52] alexandru commented on #860
Also in the model promoted by Cats-Effect, if you want safety (like for closing resources), the way forward is to use `bracket` / `bracketCase`.

If you cancelled a task that supported cancellation, then the behavior shouldn't change. Not sure what you mean here.

You can attach handlers that work even when the task gets cancelled, see `bracket` / `bracketCase` and `guarantee` / `guaranteeCase`. I

[2019-06-21 07:56] alexandru commented on #860
Btw, what I mean by the above is that even in the "continual" model, the `doOnFinish` for this task would not execute and its `CancellableFuture` would never complete, unless you'd force it to complete via `onCancelRaiseError`:

[code]

[2019-06-21 08:11] jvican commented on #860
@alexandru I'm using it once or two in the whole program, so this might be the best way to get it working. I was originally skeptical of doing this, see my comment above

But it's starting to look like a much better solution than before, so I'll go for it :smile:

Most of the times I don't worry about closing resources, I always close those with a combination of `doOnFinish` and `doOnCancel` expli

[2019-06-22 06:50] Z1kkurat commented on #908
I will try to use this version in the next few weeks, thanks!

[2019-06-22 07:10] Z1kkurat opened #920 "IllegalStateException in Task.mapBoth"
Recently I've got a strange error, here's the stacktrace (removed  a couple of sensitive lines from the very end of it, hope it won't make any difference):
[code]

The only code that executes in around there and falls under my suspicion is the following one:
[code]
Following from the code it points to, "This task has triggered multiple onSuccess calls violating the protocol. Should never happen".

[2019-06-24 13:05] adamw commented on #873
Thanks! :)

[2019-06-24 13:05] #873 closed

[2019-06-25 07:36] alexandru opened #923 "Local is exposing too many implementation details"
We should make the `Context` class in `Local` private or at least its implementation.

Is there any reason for the user to have access to the methods of `Context` or to `Bound` / `Unbound`?

The problem is that I'm sure this isn't the final `Local` implementation and it would be a pity to break binary compatibility for simple fixes.

[2019-06-25 07:40] alexandru commented on #923
Actually I see that the macros are calling those methods now 🙂 I'm a little worried that we are exposing methods with `Any` in their signature.

Also are the `Bound` / `Unbound` classes required to be public?

[2019-06-25 07:47] alexandru commented on #920
That `IllegalStateException` can only happen when somebody violates the protocol. In other words this here is not the fault of `Task.mapBoth`.

I will try reproducing this issue myself, as you're being very specific, but would appreciate if you helped us with the suggestion to try the snapshot, which might help us find the code that's responsible:

https://github.com/monix/monix/issues/908#issueco

[2019-06-25 20:43] mdedetrich commented on #877
I was on a holiday in the middle east with no laptop, just came back today. I can do it tomorrow, sorry for the delay.

[2019-06-26 15:10] oleg-py commented on #923
Pretty sure Bound / Unbound being public is an oversight.

We could remove macros for other cases, if they aren't really buying us much performance. I preserved them as they were already here.

Also we can make things `private[monix]` (should be bincompatible, IIRC that translates to JVM public anyway). I had some ideas for a Local that can work for any F if its ContextShift is backed by a `Tracin

[2019-06-26 15:15] oleg-py opened #924 "Fatal exceptions can get swallowed in async operations"
[From gitter](https://gitter.im/monix/monix?at=5d137cc5b3f22a4b2a3d8fbc)

Hey guys, following code is behaving differently in monix 3.0.0-RC3 and 2.3.3:
[code]

Is this an intended behavior or it's a bug?

[2019-06-26 18:24] YulawOne commented on #924
The minimal reproducible unit would be:
[code]
This code will never finish

[2019-06-27 01:48] Avasil opened #925 "Observable.collectWhile"
[code]
Equivalent to:
[code]
But described as its own operator. Basically merging these two:
- https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/TakeByPredicateOperator.scala
- https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/CollectOperator.scala

Not sure if there is n

[2019-06-27 01:54] Avasil opened #926 "Bounded versions for Task.gather and Task.wander"
Recently `Cats-Effect`  added [`parSequenceN` and `parTraverseN`](https://github.com/typelevel/cats-effect/pull/498/files) and it can be used with `Task` but it will use generic `parSequence` / `parTraverse` from cats which is much slower than hand-optimized version we have.

[ZIO also has this operator named as foreachParN](https://github.com/zio/zio/blob/master/core/shared/src/main/scala/zio/ZIO

[2019-06-27 02:00] Avasil opened #927 "Revise Observable.mapParallelOrdered"
[Implementation](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/MapParallelOrderedObservable.scala) is quite complicated and perhaps could be improved.

I would like to see benchmark vs `Observable.mapParallelUnordered` and then if replacing `java.ConcurrentQueue` with the one from `jctools` has any performance benefit.

Ideally we

[2019-06-27 02:02] Avasil opened #928 "Make running benchmarks more user-friendly"
Our benchmarks require passing all the parameters (number of warmups, forks etc) in the command but we could add defaults as annotations so it's easier to run so instead of:
[code]
We could just:
[code]
to keep the defaults unless we want to override them.

[2019-06-27 02:16] Avasil opened #929 "Task.*> and <* combinator"
It can be found in [cats.Apply](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Apply.scala) syntax and/or [cats.FlatMap](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/flatMap.scala)

but it's very common to use, so importing cats all the time is annoying.

[code]

[code]

[2019-06-27 02:17] Avasil opened #930 "Coeval.*> and <* combinator"
It can be found in [cats.Apply](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/Apply.scala) syntax and/or [cats.FlatMap](https://github.com/typelevel/cats/blob/master/core/src/main/scala/cats/syntax/flatMap.scala)

but it's very common to use, so importing cats all the time is annoying.

[code]

[code]

[2019-06-27 02:19] Avasil opened #931 "EvalOnceObservable has redundant try-catches"
I feel like try-catches in [EvalOnceObservable](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/builders/EvalOnceObservable.scala#L36) implementation are not necessary according to [Observer contract](https://monix.io/docs/3x/reactive/observers.html#contract)

[2019-06-27 04:41] valenterry commented on #929
I will pick it up

[2019-06-27 06:37] valenterry commented on #930
I can pick it up

[2019-06-27 06:37] Avasil commented on #915
One of the Scalamatsuri ScalaSpree is working on this issue

[2019-06-27 06:51] TapanVaishnav commented on #928
@Avasil I would like to pick this one up.

[2019-06-27 06:52] #931 closed

[2019-06-27 08:11] Avasil commented on #926
One of the Scalamatsuri ScalaSpree attendants is working on this issue

[2019-06-27 08:22] alexandru commented on #930
Hey, see my comments on #935.

`*>` and `<*` have a strict parameter in Cats and we need to be consistent with it.  We might also want to introduce `<<` and `>>` which have the non-strict parameter.

Also an `@inline` wouldn't hurt, I see that Cats uses the `@inline` annotation a lot for aliases, although I don't necessarily trust it.

And personally I'd prefer a PR for both Task and Coeval. We ne

[2019-06-27 08:24] alexandru commented on #930
Well, the requirement for the single PR really is optional. If you're in the context of a hackathon, then I guess two PRs are preferable.

[2019-06-27 08:26] valenterry commented on #930
I am, but I can also merge the PRs - no problem

[2019-06-28 11:35] oleg-py commented on #924
Actually, if I use Futures, I get similar results:

[code]

The error will be logged (via default impl of ExecutionContext.reportFailure), but the future will not terminate.

I'm pretty convinced that this is the expected behavior of fatal errors (we don't catch 'em in `Task`) and the problem is that the definition of what is fatal now has changed in migration to 3.0.0, where we are now using stdl

[2019-06-28 17:41] YulawOne commented on #924
@oleg-py @alexandru

The behavior what I expecting for that fatal errors is short-circuiting all computations and error propagation to the parent task (which spawned async process) and perform let-it-crush behavior in case of propagation reached main task (IOApp run, for example, it's similar behavior to what Akka do). And I am definitely not expecting that application would hang or continue runni

[2019-06-28 17:58] YulawOne commented on #924
While I was looking for why current future implementation hags, I manage to find this open issue: https://github.com/scala/bug/issues/8938

[2019-06-29 20:29] dylemma opened #938 "Iterant.resource(...).repeat doesn't release any resources until the very end"
I'm not sure if this is intentional, but if I construct an Iterant via the `.resource` helper, then `.repeat` it, it will repeatedly allocate the resource, then when the stream is done, it will deallocate all of the resources. I expected it to release the allocated resource each time a new "repeat" iteration started.

A minimal example:

[code]

If I run `nums.repeat.take(9).foreach(println)` I ge

[2019-07-01 18:00] #915 closed

[2019-07-02 13:53] entangled90 commented on #914
Hi, I'm picking this up if nobody has started working on it.
One simple question.
What's the standard way of converting a Task` to an `F[_]`?
The `TaskLike` constraint only wokrs on the other direction, from `F[_]` to `Task`.

[2019-07-03 11:16] Avasil commented on #928
Solved in #936

[2019-07-03 11:16] #928 closed

[2019-07-03 11:18] Avasil commented on #914
Solved in #941
There are more methods but the most important ones are covered so closing this for now

[2019-07-03 11:18] #914 closed

[2019-07-03 23:57] texasbruce opened #943 "Atomic compareAndSet parameters are evaluated even not used"
AtomicXXX::compareAndSet parameters are not lazy. They are evaluated even it is not used to set.

[code]

Possibly changing the signature to:

      def compareAndSet(expect: =>A, update: =>A): Boolean

[2019-07-04 02:27] #943 closed

[2019-07-04 06:09] Avasil commented on #870
Just linking to the report in doobie: https://github.com/tpolecat/doobie/issues/934

[2019-07-05 14:20] #793 closed

[2019-07-06 16:15] Avasil commented on #848
I think this one should be fixed by #866
Please let us know if that's not the case

[2019-07-06 16:27] mdedetrich commented on #848
Trying it now

[2019-07-06 16:43] Avasil commented on #848
Thanks @mdedetrich
FYI it's included in `3.0.0-RC3`

[2019-07-10 19:42] #719 closed

[2019-07-10 20:04] #856 closed

[2019-07-11 10:24] guymers commented on #856
Thanks for fixing this, I'll try to find some time to test it against a real world application.

[2019-07-11 10:40] Avasil commented on #856
@guymers It was fully fixed in PR that will ship in `3.0.0` (I really hope to release it in a matter of weeks, 3 prs to merge left) but I can release a SNAPSHOT if you're interested

[2019-07-11 11:09] guymers commented on #856
If it is easy to do sure. I wont be merging it until there is a released version so publishing local will work for me.

[2019-07-11 14:32] allantl commented on #926
@Avasil Any news on the progress? If not, can I pick it up? I found myself needing this in multiple projects. Would be nice to have it upstream.

[2019-07-11 14:46] Avasil commented on #926
@allantl go ahead, I don't have any contact to this person but he told that's ok if someone else picks it up :)

[2019-07-11 14:46] #925 closed

[2019-07-12 16:49] Avasil commented on #856
@guymers
I have released `3.0.0-SNAPSHOT-6a732d6-SNAPSHOT` in sonatype snapshot repository. It should be available soon

Any feedback regarding the latest Local model will be very valuable

[2019-07-13 08:11] allantl commented on #926
@Avasil Just came across this https://github.com/zio/zio/issues/1165. WDYT?

[2019-07-13 09:29] Avasil commented on #926
@allantl we should address it as well. Is it only about traverse or is there a problem (that can be solved) with sequence too?

I don't have access to PC until tomorrow so I'll share few ideas later. I feel like there could be more efficient solution (ZIO.foreach has a quite naive impl) but need to check

[2019-07-13 11:24] allantl commented on #926
I tried wander and gather with semaphore with `-Xmx512m`.
Its quite slow, although there's no OutOfMemoryError.

[2019-07-13 15:37] mdedetrich commented on #848
@Avasil Still getting the same issue

Just run the tests in https://github.com/mdedetrich/monix-mdc/ to replicate

[code]

[2019-07-13 15:47] Avasil commented on #848
cc @oleg-py

[2019-07-14 10:33] Avasil commented on #926
@allantl

I've taken a brief look and indeed we can't use `gather` because it will start everything.

I feel like the most efficient way (but also the hardest to implement) would be a low-level operator. Basically a clone of `TaskGather` but instead of starting everything, we can start first `n` tasks and then start a new one each time something has completed. [Here is a relevant part of the code]

[2019-07-14 10:55] Avasil commented on #848
@oleg-py @mdedetrich

I guess it is the issue with too much sharing:

[code]

I tried to do `Local.isolate { getAndPut }` but it didn't change anything.

[2019-07-14 11:11] mdedetrich commented on #848
What do you mean precisely? Also we should reopen the ticket

[2019-07-14 12:09] Avasil commented on #848
In current model, tasks running in parallel share locals, a bit of explanation is [in this comment](https://github.com/monix/monix/pull/905#issuecomment-504069242)

IIRC the way not to share them is to either call `Local.isolate { }` or run them separately (separate `runToFuture` etc.)

Does it prevent usage in MDC/OpenTracing? I haven't had the chance to try it myself yet. Ideally we could suppor

[2019-07-15 05:49] oleg-py commented on #848
@Avasil

You should do `TaskLocal.isolate`, not `Local.isolate`.

[2019-07-15 06:13] Avasil commented on #848
Thanks @oleg-py , it works with `TaskLocal.isolate`

Actually I'm starting to like the current model, at least the situation is clear and not full of special cases.
I suppose it's intended @mdedetrich

The only thing I don't like is if it requires users to do `TaskLocal.isolate { }` but I feel like it should be either not necessary (separate task running in response to HTTP request so Local is not

[2019-07-15 14:27] allantl commented on #926
@Avasil I'll take a stab at the first option. But, I'll probably make mistakes, since I'm not familiar with the internal. If I find it too challenging, I'll fallback to the semaphore + gather version.

[2019-07-15 14:36] mdedetrich commented on #848
Well the issue is more that people using `Future` with a `TracingScheduler` are now expected to use a `TaskLocal.isolate` for something that has nothing to do with `Future`.

For example with `OpenTracing`, if you have concurrent `Future`'s that creates a new span based on a span context which is currently stored in `TaskLocal`, it should *just work* and with other tracing solutions it does.

It m

[2019-07-15 16:32] oleg-py commented on #848
Local.isolate should work with Futures due to their eagerness.
https://github.com/monix/monix/blob/552e2df7d09b35ef7d9dd53f9712c88f0e6ac4bc/monix-execution/shared/src/test/scala/monix/execution/misc/LocalSuite.scala#L87
It's lazy structures like Task that require a different method of isolation

[2019-07-15 19:09] Avasil commented on #926
Don't hesitate to ask about anything in case of confusion

[2019-07-16 10:36] sirmax commented on #870
I have recently analysed a heap dump of our app where we got ~5M instances of `JVMOptimalTrampoline` yielding (together with related stuff) about 1GB memleak.

In our case it was caused by a misuse of `Scheduler`s – we spawned them in an ad-hoc manner, wrapping plain old `ExecutionContext`s in a small piece of code where we had to run `Task`s to get `Future`s.

As a result, each `Scheduler` had it

[2019-07-16 12:36] mdedetrich commented on #870
@sirmax Is this actually a leak or by saying "strong reachable for some time" do you mean that it just took a while for the GC to kick in.

[2019-07-17 12:04] mdedetrich commented on #870
Okay so I deployed this fix (where we made on the fly `Scheduler` however we are still getting a memory leak although this one seems related to Doobie.

There were also some projects where we did do `Scheduler(ec)` on the fly however there was no memory leak there (and these projects were running for months) so it appears to be a bit more complex.

[2019-07-18 08:23] #930 closed

[2019-07-18 08:51] Avasil commented on #848
@mdedetrich when using `Task` it's a little better because if we run tasks separately instead of relying on `Task` parallelism, the locals will be isolated automatically. So replying to requests in Akka HTTP (because of `.runToFuture`), http4s too I think, `Observable.mapEval` etc.

Though it might be cumbersome to enable `localContextPropagation` at times. What do you think about enabling it by d

[2019-07-18 22:52] kag0 commented on #880
@mdedetrich are there any examples or documentation of `Local` being used with something like cats `IO` or ZIO?

[2019-07-19 13:47] #912 closed

[2019-07-22 15:18] Daenyth commented on #862
@Avasil Could a milestone build be put out until then, for people to start doing WIP upgrades?

[2019-07-22 15:22] Avasil commented on #862
@Daenyth Sure, I will release something in a couple of hours

[2019-07-22 16:12] Daenyth commented on #862
Much appreciated!

[2019-07-22 16:26] Avasil commented on #862
@Daenyth
The release is in progress but `2.13` should be already available
`3.0.0-eddc79d-SNAPSHOT`

The version is the latest master + dependencies supporting 2.13

[2019-07-23 18:49] Daenyth commented on #862
What resolver do I need for that?

[2019-07-23 18:54] Avasil commented on #862
@Daenyth I think it's `"Sonatype OSS Snapshots" at "http://oss.sonatype.org/content/repositories/snapshots/"`

[2019-07-23 21:28] Avasil opened #955 "Add Observable.unfold"
[code]

Similar to [fromStateAction](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/builders/StateActionObservable.scala) but stops as soon as `None` is generated

[2019-07-23 21:31] Avasil opened #956 "Add Observable.unfoldEval"
[code]

Similar to [fromAsyncStateAction](https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/builders/AsyncStateActionObservable.scala) but stops as soon as `None` is generated. `unfoldEvalF` working for `F[_]` would be useful too

[2019-07-23 21:33] Avasil opened #957 "Add Observable.fromAsyncStateActionF"
It could just map from `F[_]` to `Task` in similar way to `mapEvalF`

[2019-07-24 09:46] #916 closed

[2019-07-24 15:35] Avasil opened #959 "MonoidK instance for Task.Par"
Similar to https://github.com/typelevel/cats-effect/pull/588 but it's blocked on #875

[2019-07-25 07:33] oleg-py commented on #955
Why is `seed` the 2nd parameter list here? Wouldn't that cause worse inference, as `S` would fail to infer?

[2019-07-25 08:10] Avasil commented on #955
Eh, I'd prefer it to be the first parameter but `fromStateAction` has it in this order... But in everywhere else it's the way you describe.

Maybe we can deprecate old methods and switch the order?

[2019-07-25 11:25] alexandru commented on #955
Even though the ordering doesn't play well with Scala's type inference, the `seed` as the second parameter is the natural order in `fromStateAction`:

[code]

You just need an explicit type in that function to do this. What you gain however is that `randomNumbers` is a function and that seed is especially important ...

[code]

In other words this isn't necessarily like `foldLeft` where you're alw

[2019-07-25 11:36] Avasil commented on #955
Thanks for explanation @alexandru
Makes sense to me, I withdraw my deprecation idea

Though `unfold` itself should follow the order of `fold` and other streaming libraries, right?

[2019-07-25 11:42] alexandru commented on #955
Not sure. What are other libraries doing?

[2019-07-25 11:53] Avasil commented on #955
@alexandru

Akka streams:
[def unfold[S, E](s: S)(f: S => Option[(S, E)]): Source[E, NotUsed]
](https://doc.akka.io/docs/akka/current/stream/operators/Source/unfold.html)

fs2:
[code]

ZIO:
[code]

[2019-07-25 12:44] oleg-py commented on #938
Yep, current implementation is broken.

The naive implementation of repeat via concat (`= this ++ repeat`) mostly works, except it has issues with`NextCursor` nodes that aren't created in RT fashion. If I have a cursor of 30 elements and repeat it with this implementation, I get a nonterminating stream of 30 elements, and doing `take` on it with n > 30 will still never terminate.

And that is prob

[2019-07-27 20:55] alexandru opened #961 "Use setRemoveOnCancelPolicy on Scheduler"
We need to do the same as in:
https://github.com/typelevel/cats-effect/pull/592

[2019-07-27 20:57] Avasil commented on #961
I think it has been already done in https://github.com/monix/monix/pull/953 @alexandru

[2019-07-27 20:57] alexandru commented on #961
Ah, awesome 🙂

[2019-07-27 20:57] #961 closed

[2019-07-27 21:18] alexandru commented on #908
@Z1kkurat any updates on this issue?

Can you try testing the version that I've prepared in that ticket? (#917)

[2019-07-27 21:33] alexandru commented on #955
@Avasil thanks for looking into it.

Then do the state as the first param.

[2019-07-27 21:41] alexandru opened #962 "Changes after RC3 should not break binary compat in 3.0.0 for Scala 2.12"
We have #921 that apparently breaks binary compat.

Unfortunately we've broken binary compat far too often. We can't afford to piss off our users on every release, especially since we have downstream libraries depending on us like Quill.

`3.0.0` should be binary compatible with `RC3`, unless we want to fix something seriously broken and I don't think we have such broken APIs.

We need to change t

[2019-07-28 05:18] alexandru commented on #848
With this PR the "local context propagation" would effectively be enabled all the time:
https://github.com/monix/monix/pull/960

[2019-07-28 05:20] alexandru commented on #848
Would it fix the problem?

[2019-07-28 06:04] #957 closed

[2019-07-28 06:11] Avasil commented on #848
@alexandru I dont think so, it is a consequence of current model. Local is shared by default unless you isolate it. It is done in Task.runXXX but not `Task.gather` and other parallel operators and failing test uses gather.

[2019-07-28 06:15] alexandru commented on #929
I see that we have `>>`. Can we also have `<*` and `*>`, with the signature from Cats?

These operators are still useful, in spite of their strict parameter and remember that many people import `cats.implicits._` anyway, so they are available.

[2019-07-28 06:16] alexandru commented on #929
I use `<*` a lot for triggering side effects, like logs, after some important action.

[2019-07-28 06:16] alexandru commented on #929
And `<*` shouldn't have a non-strict param, because it wouldn't help 😉

[2019-07-28 06:18] Avasil commented on #962
Mamy new filters were added after mima update:

https://github.com/lightbend/mima/releases/tag/0.4.0

Some of them might preserve bincompat and others were probably originally introduced in older version

https://github.com/monix/monix/pull/934

It was private do its fine right?

[2019-07-28 06:20] alexandru commented on #962
@Avasil we have to investigate.

First of all the `monixSeries` should be set to `RC3` as right now we only care about breakage since `RC3`.

[2019-07-28 06:24] Avasil commented on #962
Regarding Task.create and others, I can return to 1 param. My use case for "unsafe" version was `Observable` because it can optimize on synchronous version. But it was using very few variants so maybe I will implement just those? I also had and idea for a name like `createDirect` instead of unsafe

Oleg had a thought about adding it to task options, he explained in pr comments

[2019-07-28 06:25] alexandru commented on #962
@Avasil in regards to #934, well, the issue isn't simple.

When you remove a class like that, it has an impact on Java serialization. For example when used with Spark. On the other hand we need the ability to replace internals, or otherwise we would go nuts.

So yes, removing private classes is totally fine.

[2019-07-28 06:28] oleg-py commented on #962
This list raises suspicions.

E.g.
[code]
Has literally not changed since 2.3.3 except for formatting. The report suggests
[code]

This looks like something has changed with erasure and `AbstractFunction1` handling (we extend AbstractFunction1 in companion)

[code]
Has been there since the 3.0.0-M1, in the same shape.

The report isn't helping:
[code]
We never had that method returning `BatchCurso

[2019-07-28 06:31] alexandru commented on #962
@Avasil

I think `create` subsumes every other variant, right?

Lets just supply a `createUnshifted` for now. How do you feel about a name like that?

[2019-07-28 07:09] Avasil commented on #962
Yes. I checked and `Observable` is using `Task.async0` via `Task.create` in:
`lastOrElseL`, `firstOrElseL`, `completedL`, `foreachL` and `Consumer.apply` (+ tests). Those are methods that call callback only once per `Observable` lifetime so I suppose we actually don't need non-shifting variants after all.

`Task.fromFuture` on the other hand is used in few normal operators, including `mapTask` and

[2019-07-28 07:37] alexandru commented on #962
I think that `Task.fromFuture` is precisely the operation that we shouldn't allow to have a non-forked version, because it's a design mistake.

Consider this:

[code]

If the `writeToFile` operation uses a `Scheduler.io` meant for blocking I/O operations, then the whole stream will be processed on that thread-pool, instead of those writes.

[2019-07-28 07:40] alexandru commented on #962
Ah, wait, I see what you mean. I think we use it to optimize the `Ack` processing.

So, `Task.fromFuture` should not shift if the `Future` is already complete.
That should solve the issue.

[2019-07-28 07:42] alexandru commented on #962
And yes, maybe we need an unshifted version for `Task.fromFuture` if it's extensively used in `Observable`.

So my proposal is this ... investigate current usage and lets add unshifted versions if it makes sense for those use-cases we have.

And those versions could be `internals` btw.

[2019-07-28 07:43] alexandru commented on #962
I mean ... it would be nice to add those versions only if somebody begs for them 🙂

[2019-07-28 07:44] alexandru commented on #962
One last proposal and I'm out ...

How about adding another item in `Task.Options`? 🤣

[2019-07-28 07:45] oleg-py commented on #962
That's what I suggested too 😆. @Avasil's objection was that it's meant to control the run-loop, and builders have little to do with it.

[2019-07-28 07:45] Avasil commented on #962
Sure, I'll try to prepare something today. I'll also look at `Observable.fromFuture` if it doesn't need similar handling. Other methods taking `Future` should be fine because they work via `Task` conversion which uses safe `fromFuture`.

How about adding another item in Task.Options? 🤣

https://github.com/monix/monix/pull/921#issuecomment-513836690

[2019-07-28 07:53] alexandru commented on #870
As an update, I'm also investigating the issue.

@mdedetrich if I publish a hash version, would you be willing to try it out?

[2019-07-28 08:07] Avasil commented on #870
@alexandru

There is a project that demonstrates a link: https://github.com/tpolecat/doobie/issues/934

[2019-07-28 09:46] alexandru commented on #926
The simplest way to implement this is to use `monix.catnap.Semaphore`:

[code]

[2019-07-28 09:52] Avasil commented on #926
@alexandru
If we run something like `1000000` tasks it will start all of them and JVM might run out of memory so we're looking for other approaches

[2019-07-28 12:38] alexandru commented on #938
I fixed this in PR — https://github.com/monix/monix/pull/965

@oleg-py I'm also proposing a new `retryIfEmpty` operator for your use-case.

[2019-07-28 19:19] alexandru commented on #870
@Avasil thanks, that's useful.

[2019-07-28 20:18] alexandru commented on #870
@Avasil @mdedetrich I don't think that particular leak is from Monix though — I've just played with the project locally and here's what I get:

![image](https://user-images.githubusercontent.com/11753/62012341-c085a580-b18d-11e9-8fc6-6c73984235e9.png)

From here it seems a lot of `cats.effect.IO.bracket` operations are somehow scheduled for execution on that thread pool.

[2019-07-28 20:24] alexandru commented on #870
@sirmax any updates?

I don't understand how you can have 5 millions of instances of `JVMOptimalTrampoline` without also having 5 millions of threads active. `JVMOptimalTrampoline` is kept in a `ThreadLocal` attached to `Scheduler` instances. So the instances created should be one per thread.

@sirmax can you help us with some profiling?

[2019-07-28 20:26] alexandru commented on #870
@sirmax sorry, I actually re-read your message. You were creating a lot of `Scheduler` instances. The issue makes sense.

And indeed, `Schedulers` are not throw-aways.

[2019-07-29 09:35] mdedetrich commented on #870
@alexandru My latest hunch was that the leak was due to doobie (we are actually in the process of migrating our apps to quill). I went over all of our projects at work to make sure that we only use one global instance of `Scheduler` per app and it didn't fix anything from my end (i.e. Doobie still appears to be leaking)

[2019-07-29 09:36] mdedetrich commented on #848
Hey guys I was sick last week with a viral infection, will resume looking into this

[2019-07-29 09:51] Avasil commented on #848
Thank you a lot @mdedetrich and hope you're feeling better! Feedback from you is very valuable.

[2019-07-29 10:37] Avasil opened #966 "Local.isolate sometimes doesn't isolate properly in between async boundaries"
See the comment in the snippet:

[code]
cc @alexandru @oleg-py

[2019-07-29 19:16] YulawOne commented on #962
Do you have plans doing something with https://github.com/monix/monix/issues/924? Or you don't see any binary compatibility issues for the possible fixes? I'm personally failing to find time to create PR with possible mitigation (at least for DCNF error classes) for the issue

[2019-07-29 19:25] alexandru commented on #962
@YulawOne the handling of errors is an internal implementation detail and shouldn't break binary compatibility.

I don't know if there's anything to be done about that issue. The standard in Scala has been usage of `NonFatal` in order to let apps crash.

That said, the issue needs careful consideration, maybe we can improve it.

[2019-07-29 19:40] Avasil commented on #959
Closing: https://github.com/typelevel/cats-effect/issues/593

[2019-07-29 19:40] #959 closed

[2019-07-30 18:13] Avasil commented on #966
I minimized the example:

[code]

It always prints 100 when I run it.

The same with `Task`:

[code]

When I use:
[code]

instead of
[code]

it works as expected.

[2019-07-31 17:49] #938 closed

[2019-08-01 19:17] pk044 commented on #955
i can pick it up - i'm planning to create a pull request for this in the following days  :)

[2019-08-02 21:43] Avasil commented on #923
Fixed in #946, I assume we don't do anything else related to it

[2019-08-02 21:43] #923 closed

[2019-08-03 10:19] Avasil commented on #891
@oleg-py

Good point, though both options require extra import and it will take a while until everyone migrates to 2.13

There are several thumbs up on my first comments and people ask about it from time to time on gitter so I feel like having it available could ease migration. I'm thinking we could either bring it back or have it deprecated but available for now.

@alexandru Do you remember why i

[2019-08-05 07:03] #877 closed

[2019-08-05 11:18] pk044 commented on #956
i can pick this issue - will submit a PR most likely this week :)

[2019-08-06 21:48] Avasil commented on #962
Situation is vastly improved but we couldn't avoid breaking things for Local internals

[2019-08-06 21:48] #962 closed

[2019-08-07 06:54] alexandru commented on #924
We definitely need to rethink the way we're handling exceptions.

Outside of really serious virtual machine errors (e.g. OOMs), I see no reason for why we should let the process crash.

We also need to handle `InterruptedException` properly, by catching it and resetting the interruption flag.

[2019-08-08 02:04] guymers commented on #856
Got around to doing some basic testing with that snapshot version and my open tracing spans are now correct, cheers.

[2019-08-09 09:58] #966 closed

[2019-08-09 13:55] #926 closed

[2019-08-09 21:59] dmgcodevil opened #978 "add `isEmpty` to the ConcurrentQueue"

[2019-08-10 07:47] Avasil commented on #978
What's your use case @dmgcodevil ?

It's not very safe operation in context of `ConcurrentQueue` because the "emptiness" can change all the time

[2019-08-10 07:55] dmgcodevil commented on #978
@Avasil yes, I understand that (same with `size`), but as I can see the underlying queue has `isEmpty` anyway. I solved my problem by using `tryPoll` , `None` means the queue is empty.

yes, but all I need to know if the queue is empty at the  given moment of time

[2019-08-10 08:11] Avasil commented on #978
Is solution with `tryPoll` good enough? Implementing `isEmpty` should be easy but I'm hestitant to add more unsafe operators unless they are necessary to solve additional use cases

[2019-08-10 08:14] dmgcodevil commented on #978
`tryPoll` works but awkward to use because you have to deal with a removed element. Why `isEmpty` is unsafe ?

[2019-08-11 13:52] CasterKKK opened #979 "A typo of `Task[A]` in the document"
![image](https://user-images.githubusercontent.com/16066720/62834650-15431900-bc82-11e9-86f0-38e03a8e1ad8.png)

In https://monix.io/docs/3x/eval/task.html

Here, the type of `Task[A]` may be `() => (A => Unit) => Unit` rather than `(A => Unit) => Unit`?

[2019-08-12 10:42] #893 closed

[2019-08-12 19:13] dylemma commented on #979
I don't think so.

The `(A => Unit)` part is the "callback" that can be called when the task has produced a value, and is part of the signature of the various `run` methods.

A signature like `() => (A => Unit) => Unit` would lead to client code like `task.run()(handleValue)`... the first `()` is unnecessary.

[2019-08-12 19:34] alexandru commented on #979
You can view `Task` as being equivalent to `() => (A => Unit) => Unit`, this being basically Task's `runToFuture`.

But the regular `runAsync` is no different in its signature than Future's `onComplete`, being `(A => Unit) => Unit`. I think the confusing factor here is `Future`, because `Future` is memoized (being essentially a var), serving as an indirection, but you don't see that when looking a

[2019-08-12 19:36] alexandru commented on #979
In other words, this is a complicated problem and both of you are correct 🙂

[2019-08-13 14:11] CasterKKK commented on #979
Got it. I just read the doc of Monix and Cats Effect, found the difference between these two tables and I was confusing about it. Learned a lot!

[2019-08-13 14:11] #979 closed

[2019-08-16 22:13] Avasil commented on #978
Sorry for late answer @dmgcodevil, I got caught up in other things and I have forgotten to respond.

AFAIK it is unsafe in similar way to `tryPoll` - any logic built on it can be very fragile so I wouldn't recommend it for general usage.

If it serves extra use case, we could add it. WDYT @alexandru ?

[2019-08-17 06:13] alexandru commented on #978
I think adding `isEmpty` should be fine.

[2019-08-19 12:34] heraklos commented on #804
I'd like to work on this :)

[2019-08-19 13:03] Avasil commented on #804
That's awesome @heraklos :D Let me know if I can help with anything.

Although I think @rahilb was attempting something. Are you still working on it?
If so, I could find something else for either of you if you have a time and interest to contribute

Link to gitter, has some extra info:
https://gitter.im/monix/monix?at=5d51768fc87a0963e759dea4

[2019-08-19 13:08] rahilb commented on #804
Hey @heraklos go for it; I made very little progress and I don't really have time for OSS this week :(

[2019-08-19 14:10] heraklos commented on #804
@Avasil
Thank you for guiding me :) I'll give it a shot, maybe I will submit PR this week

@rahilb
Sorry I didn't notice you had already worked on this issue...
Thank you for letting me do it :)

[2019-08-20 14:34] Avasil opened #983 "Support java.lang.InterruptedException for generic F[_]"
Sometimes it is useful to be able to interrupt Java's blocking code, e.g. `Thread.sleep` or `java.io` methods. We could add optional support for generic `F[_]` in Monix-Catnap so cancelation would also interrupt blocked thread.

Possible source of inspiration:
- https://viktorklang.com/blog/Futures-in-Scala-protips-6.html
- https://github.com/zio/zio/blob/master/core/jvm/src/main/scala/zio/blockin

[2019-08-20 14:51] alexandru commented on #983
Dealing with `InterruptedException` should be a priority for after the 3.0.0 release.

Also see: https://github.com/scala/bug/issues/8938

[2019-08-20 14:52] alexandru commented on #983
I don't really like what ZIO is doing btw, but we can talk about it.

[2019-08-23 20:52] #955 closed

[2019-08-24 17:37] #956 closed

[2019-08-27 07:55] pk044 commented on #978
I could try implementing this if you don't mind :)

[2019-08-27 07:57] Avasil commented on #978
@pk044 Sure, go ahead! Let us know if you have any questions

[2019-08-27 10:27] alexandru opened #991 "NullPointerException in CanBindLocals / Local.isolate?"
Shit, I think we have a problem in the latest release:

[code]

[2019-08-27 10:35] alexandru commented on #991
The bug seems to be thrown in:

[code]

[2019-08-27 10:39] alexandru commented on #991
But that's not necessarily the source.

[2019-08-27 10:48] alexandru opened #992 "InterceptRunnable issues"
First of all we are exposing this interface in `monix.execution.internal`:

[code]

This is a public interface. We should never have public APIs in `internal` packages. There's also no reason to expose it. We are going to have to break source compatibility in the next release, by making it `private[internal]` or `private[execution]`, hopefully nobody used

On analyzing the code for `InterceptableR

[2019-08-28 08:20] alexandru opened #995 "Proposal: add Task.flatMapLoop method"
I think this method would be cool to have on `Task`:

[code]

Usage sample:

[code]

This saves us from describing a loop via `def`, which I find super annoying:

[code]

So it's a syntactic helper that's similar with `onErrorRestartLoop`.

---

TODO:

- [ ] check if there's already an alternative in [Cats](https://github.com/typelevel/cats) (when in doubt, ask on Cats's gitter :))
- [ ] get the s

[2019-08-28 08:31] alexandru commented on #995
Btw, this helper is super obvious — is it described anywhere? In Cats maybe?

[2019-08-28 20:21] alexandru commented on #995
👍 let's call it flatMapLoop, has a nicer ring to it. Also search for an equivalent in Cats first.

[2019-08-29 06:03] alexandru commented on #995
One issue we need to solve is to get the signature right — this function looks like a `foldLeft`:

[code]

This is consistent with the definition from Haskell:

[code]

In other words maybe the signature should be:

[code]

[2019-08-29 06:22] alexandru commented on #995
Note that `foldRight` on the other hand is:

[code]

[code]

So maybe this is more like a foldRight 😂

[2019-08-29 07:58] #991 closed

[2019-08-29 09:49] #992 closed

[2019-08-29 10:09] alexandru opened #999 "InterceptRunnable should not be used by default in most Scheduler builders"
When we create a `Scheduler` instance using the builders in the companion object, we need to ensure that `InterceptRunnable` is not used.

For example, with a ForkJoinPool, we install that handler in the thread-pool implementation itself, so using that handler via `InterceptRunnable` would be wasteful.

This needs to be investigated before 3.0.0.

[2019-08-29 17:36] cemelo commented on #991
I saw this bug. Using a TracingScheduler made it work for me.

[2019-08-30 06:40] alexandru commented on #991
@cemelo I've just released `3.0.0-RC5`.

Can you please verify that it works, without the `TracingScheduler`?

[2019-08-30 12:36] cemelo commented on #991
@alexandru Sure thing.

[2019-08-30 13:20] cemelo commented on #991
@alexandru it worked, although it seems the requirement to enable local context propagation is back? Without it I get a contract violation error, even when I use a `TracingScheduler`.

[2019-09-02 12:25] megri opened #1001 "Published stream freezes during websocket connect/disconnect"
I wasn't completely sure what to name the issue, as I am at the end of the day not sure if the issue is with Monix or with HTTP4s.

In any case, what happens is that during a burst of connect/disconnect messages, the published stream simply stops publishing new data. A reproduction can be found here: https://github.com/megri/http4s-monix-issue

[2019-09-02 12:27] megri commented on #1001
Addendum: The issue seems to be circumventable by publishing the stream twice, once again in relation to the websocket connection. I'll update my reproduction to showcase this

[2019-09-02 14:13] scubamaggo opened #1002 "Stack safety of Observable.combineLatestList"
In contrast to the implementations in RxScala and RxJava, the Monix (3.0.0-RC5) implementation of `Observable.combineLatestList` is not stack safe.

[code]

According to the documentation of  `combineLatestList` this seems inevitable since it is implemented via `combineLatestMap2`.

[2019-09-02 14:19] alexandru commented on #1002
Indeed it looks like a bug, we'll have to fix it.

[2019-09-03 20:22] megri commented on #1001
Addition to the previous addition: I still get the same errors, only less frequently. I have no idea what's going on..

[2019-09-04 08:51] Avasil opened #1004 "Observable.timeoutOnSlowDownstreamTo"
We have `Observable.timeoutOnSlowUpstreamTo` but we're missing a variant for slow downstream

[2019-09-04 13:03] Avasil opened #1005 "Observable.takeUntil for F[_]"
We have

[code]
which takes elements from source `Observable` until `trigger` emits. I would like to see a variant which takes `Task` and/or `F[_]` so it could interop with pure code bases in more natural way.

For instance, we can cancel `Observable` from outside using `takeWhileNotCanceled` but if we want to be pure and use `Deferred` we have to:

[code]

Implementation could look like this but

[2019-09-04 14:56] mudsam commented on #995
PR coming tonight (US Mountain Time). I was not able to find a similar method in cats. Currently working on a couple of test cases. Regarding the signature do you want to keep it as is or change it?

[2019-09-04 15:24] alexandru commented on #995
Consistency with `onErrorRestartLoop` is important, so unless I hear objections, then we'll keep the signature.

[2019-09-05 06:17] mudsam commented on #995
Will be delayed til tomorrow

[2019-09-06 00:45] kag0 opened #1009 "Locals lost when using akka http client"
I haven't had time (or knowledge) to look deeply into this, maybe someone else has insight.

Monix `Local`s are not propagated across invocations of akka's http client. Passing the tracing scheduler into the creation of the actor system should ensure it's used everywhere (and indeed that does work when using the akka http server). Maybe there's a bug in `TracingScheduler`, or maybe there's some ac

[2019-09-08 08:56] alexandru opened #1015 "Better stack traces for Task/Coeval/IO? Possible solutions?"
For post `3.0.0` lets discuss possible solutions for better stack traces when using `Task` and `Coeval`.

We'll probably avoid thinking about this now, as we are busy with the `3.0.0` release ... but opening this now in order to not forget about it.

[2019-09-09 20:53] Ben-Barron opened #1019 "Are monix operators thread safe?"
Are the monix operators thread safe or do we need to call `.observeOn()` to get them onto the same Scheduler?

I have a series of Observables that are basically wrapping library callback registrations, so I don't have control about which thread `onNext()` is called on. If I was working in RX.NET, when it comes to merging these Observables you'd `.synchronize()` to get them on the same thread as th

[2019-09-09 23:04] Avasil commented on #1019
By default `onNext` is not thread safe, see https://monix.io/docs/3x/reactive/observers.html#contract

You can use `ConcurrentSubject` which allows concurrent `onNext` calls and no synchronization is needed. Alternatively, `Observable.create` is also safe in this regard.

If you're asking about operators in general (like `mergeMap`) then I don't think you need anything like `observeOn` but an exam

[2019-09-10 12:17] alexandru opened #1023 "Possible leak with Local"
Reported on Gitter, see [September 10, 2019 10:45 AM](https://gitter.im/monix/monix?at=5d7754a11882325229974e05).

Reproducible example: https://gist.github.com/hanny24/3096f1541e1f05716f8c477691c36f2f

To be investigated.

[2019-09-10 20:56] Avasil commented on #1023
@hanny24
Which version of http4s do you use? I'm running it for 30 mins on jdk1.8 with http4s 0.20.10 and so far I haven't noticed any indication of memory leak. I will leave it running for the remainder of the night. How long does it take to manifest?

[2019-09-11 08:07] hanny24 commented on #1023
I'm using monix RC5, http4s 0.20.10, cats effect 1.4.0 and OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7). I'm running it JVM options `-Xmx64m -XX:+HeapDumpOnOutOfMemoryError`.

I'm using `ab` to generate a lot of traffic: `ab -k -n 50000 -c 10 http://127.0.0.1:8080/hello` and it usually takes just a few seconds to run out of heap space.

I can even provide you with a heap dump. Availab

[2019-09-11 09:00] alexandru commented on #862
`3.0.0` is now released with support for Scala 2.13

[2019-09-11 09:00] #862 closed

[2019-09-11 09:35] hanny24 commented on #1023
Example SBT project: https://github.com/hanny24/monix-bug

[2019-09-11 09:55] alexandru opened #1024 "Monix vNext — future plans"
Series `3.0.0` is now stable and for its duration we can no longer break binary compatibility — at least not on top of Scala 2.12+ — and I predict more features being built on top of what we have.

But we should also talk about the wish list future versions, that can happen both soon (without breaking binary compatibility) or in a future major version that can break binary compatibility.

**This l

[2019-09-11 12:25] guymers commented on #1023
Could this be because the thread pool is unbounded and your computer cannot process the volume of requests?
If you used a fixed size pool with a fixed queue size is memory usage constant?
Alternatively if you bench with a much smaller number of requests such that that your computer can process them without needing to queue is memory usage constant?

[2019-09-11 12:31] hanny24 commented on #1023
Both `Scheduler.traced` and `Scheduler.global` are using the same thread pool.

[2019-09-12 07:48] Avasil commented on #1024
My wishes are modest and could target `3.x.x` line. I'm not in rush for `4.0.0` considering how long it took us to get to `3.0.0`. And `Cats-Effect` 3.0 will most likely drain our resources.
- stack traces (already mentioned)
- Polymorphic Thread.interrupt support ( #983 )
- Overhaul https://monix.io/ Documentation - I feel like it is harder to navigate and looks worse than github sites or whateve

[2019-09-12 07:56] alexandru commented on #1024
I'm not in a hurry for a binary breaking 4.0.0 either, this is the far future we're talking about.

However we might prepare at least some stuff for it, on a separate branch maybe, because opportunities present themselves — for example if Cats or Cats-Effect break binary compatibility, then we can do so too. I don't predict that will happen soon though and it is my wish for Monix to be fairly stab

[2019-09-12 07:57] Krever commented on #1024
I will jump in only as a user but bifunctor and stacktraces are two game changers I would like to have. And similar to @Avasil, in my usecases performance is the last concern.

[2019-09-12 13:12] alexandru opened #1027 "Alternative to EitherT and bifunctor Task/IO?"
In #1024 I raised the possibility of us implementing bifunctor `Task` and `Coeval`. However there is an alternative route.

This might be stupid, have just thought about it, so please excuse me if it's naive 🙂 but we could do a very light encoding for an `EitherT`-alternative that's:

1. covariant
2. Cats-Effect aware, thus providing all needed utilities
3. very light, as we can wrap errors via ex

[2019-09-13 12:55] alexandru opened #1028 "Create Task from Reactive Streams"
Some libraries use Reactive Streams `Publisher` results for streaming a single event.

In my work project I ended up with this helper which might be useful in Monix:

[code]

[2019-09-13 13:03] Avasil commented on #1009
Thanks for investigation @kag0
Yeah, I'm afraid we are not able to do anything with cases like this. There was an idea about `quarantine` earlier. Seems like we should add it.

Would be nice to be able to point out where exactly it needs to be used.

cc @oleg-py @alexandru

[2019-09-14 19:10] pk044 commented on #1028
could I take this issue? :)

[2019-09-16 12:04] Avasil opened #1030 "CharsReaderObservableSuite has a flaky test"
It sometimes fails on CI with
[code]

e.g. in https://travis-ci.org/monix/monix/jobs/585428074

[2019-09-16 12:15] Avasil commented on #1023
@guymers It's certainly a memory leak but it does not happen on JDK 8 and I feel like it's not related to `Local`.

I think the problem happens in this line: https://github.com/monix/monix/blob/master/monix-eval/shared/src/main/scala/monix/eval/Task.scala#L4376

Even if it's not a `TracingScheduler` but something else and locals are completely disabled, I encounter the leak on Java 11. For some re

[2019-09-16 12:22] alexandru commented on #1023
We expose the `Scheduler` in builders such as `deferAction` and `deferFutureAction` among others. That `Scheduler` reference must be captured somehow in a way that's never released.

It's a really odd problem. But it could also be http4s related.

[2019-09-16 12:39] Avasil commented on #1023
My suspicion is that it would also leak for `cats.effect.IO` if there was any wrapping but haven't tried it yet

[2019-09-16 12:46] alexandru commented on #1023
It's a different implementation though. `cats.effect.IO` does not have an underlying `ExecutionContext`, the only way you can talk about such a thing is with `ContextShift`, although building a `ContextShift` instance that's always based on a "wrapped" `global` would be worth trying, although I'm not sure it will accomplish anything, since it's a little apples vs oranges.

[2019-09-17 08:39] Executioner1939 commented on #1027
This would be something I could really get behind, currently we are stuck in what I call EitherT hell. As we pass custom error classes around `Either[ErrorPayload, A]`.

I have been toying with the idea of switching to ZIO for the Bifunctor design to try and tidy up and make our code more efficient, but prefer the Monix ecosystem.

[2019-09-17 09:23] alexandru opened #1032 "Binary compatibility issue"
We wanted to be binary compatible with the latest RCs, unfortunately I think we've failed — apparently removing "internal" classes is not OK.

This happens in my $work project:

![image](https://user-images.githubusercontent.com/11753/65029059-bf7b2400-d945-11e9-9e1f-47ef9f6b2629.png)

We've got code depending on the RCs, we need to keep our promise of binary compatibility for as much as possible,

[2019-09-17 10:20] alexandru commented on #1032
OK, false alarm 😄

My error was due to upgrading to SBT 1.3.0 and getting weird classpath issues. Downgrading SBT to 1.2.8 fixes it.

It's still not fine that we've been relaxed about removing internals, but this particular error ain't caused by us.

[2019-09-17 10:20] #1032 closed

[2019-09-17 11:18] alexandru commented on #1027
@Executioner1939 can you describe your pain points with `EitherT`?

[2019-09-17 11:52] oleg-py opened #1033 "StackOverflowError when using parSequence"
Running this app:

[code]

produces (shortened):

[code]

[2019-09-17 12:13] Avasil commented on #1033
Does it happen without `executeWithOptions`?

I think `parSequence` is quite inefficient (IIRC it just folds everything with `parMap2` and it comes from cats type classes so we can't override it) and I assume extra garbage created from constant wrapping of `Scheduler` could be too much.

[2019-09-17 12:31] alexandru commented on #1033
Regardless of how efficient `parSequence` is, it should be stack safe.

We'll have to check that loop, I might have missed introducing a trampolined boundary somewhere.

[2019-09-17 12:56] oleg-py commented on #1033
It happens only when `executeWithOptions` sets `enableLocalContextPropagation`. If you do `executeWithOptions(x => x)`, it won't crash.

The garbage isn't the problem, I wasn't looking for memory issues :)

[2019-09-17 13:15] alexandru commented on #1033
I believe we have an internal optimization for that 😄

[2019-09-17 20:11] dispalt commented on #1027
Performance is not a concern for me either, and I kinda like this!

[2019-09-18 08:17] Executioner1939 commented on #1027
@alexandru we just find that the Monad stacking is too much and very invasive in our codebase. The performance implications, while not a direct concern, are still there. We would obviously like our code to be as performant as possible.

Task is _mostly_ used for side effectful code which _usually_ means the possibility of errors and exceptions being thrown is high, while we have the throwable chan

[2019-09-19 08:09] alexandru commented on #1027
@Executioner1939 thanks for your insight.

I'm guessing that what I'm asking specifically is what's painful about `EitherT`.

I have some ideas myself, since I've worked with it, but I want to gather feedback to see if a more specialized monad transformer would cut it, or we really need a full bifunctor Task implementation.

The advantage of a monad transformer is that it would be opt-in. You don'

[2019-09-19 09:22] Avasil commented on #1027
I think it is embraced to some extent and supports this separation directly. `IO[Throwable, A]` can be used as opt-out. I personally prefer opt-in though.

I know you're reluctant to look at ZIO but these are slides from a meetup presentation by John and Kai about error management: https://www.slideshare.net/jdegoes/error-management-future-vs-zio

I feel like if your experiments with better `Eithe

[2019-09-19 13:01] jvican commented on #1024
Hey there! Great to see this discussion has started.

I'd like to say that performance is an important quality of Monix and it's quite important for me! I believe some of the items in this list are great (better stack traces are important), but I would love to see more PRs to make Monix even more performant than it is today.

I use Monix heavily in Bloop for fast scheduling of various tasks on mac

[2019-09-20 10:28] alexandru commented on #1024
Thanks @jvican, performance is always a priority.

And in case you see any regressions after an upgrade, it's a mistake that can be rectified.

[2019-09-25 19:18] #1004 closed

[2019-09-25 19:19] Avasil commented on #1028
Yes, of course!

[2019-09-29 20:39] jeffwji opened #1039 "Circuit breaker doesn't work"
I tried to follow the document (https://monix.io/docs/3x/catnap/circuit-breaker.htm) to test Circuit breaker, but encountered some problem. Most of the test code is copied from the document, to create a circuit breaker is:

    val circuitBreaker: Task[CircuitBreaker[Task]] = {
            val timeout = 3
            CircuitBreaker[Task].of(
                maxFailures = 1,   // Max failure torren

[2019-09-29 20:52] #1039 closed

[2019-09-29 20:54] jeffwji commented on #1039
My fault, I didn't run the same circuit breaker instead of generate an new one every time, that's why I saw it has been invoked all the times.

[2019-09-30 22:12] Avasil opened #1040 "Observable.debounce is not consistent with ReactiveX"
In our doc:

[code]

So something like

[code]

will only emit `0: O completed`

but I feel like it should be "MON" and then "MONIX". Or just "MONIX", it's not clear to me what's the difference between `sample` and `debounce` in rx, only some of the implementations talk about resetting the timer.

For instance:
- http://reactivex.io/documentation/operators/debounce.html (our version wouldn't emit

[2019-10-01 08:10] oleg-py commented on #1009
@kag0 this looks very much like what `isolate` does for Future [(impl here)](https://github.com/monix/monix/blob/971b0462e5a621a971144912e409d58a75083be5/monix-execution/shared/src/main/scala/monix/execution/misc/CanBindLocals.scala#L139). Can you check if you can use `Local.isolate` as a drop-in replacement for your `propagate` function?

The issue here is also that actor model is at odds of havi

[2019-10-01 10:01] alexandru commented on #1040
`debounce` only emits the last emitted element after the source has gone quiet for the specified duration.

In the sample it only emits something in case the source hasn't emitted anything for the last `200.millis`.

We might have a difference in how it is implemented, being the difference between `throttleFirst` and `throttleLast`.

M'kay, this might be a problem. What we need is basically this:

[2019-10-01 10:08] Avasil commented on #1040
In the sample it only emits something in case the source hasn't emitted anything for the last 200.millis.

Oh right, my example is invalid, it should be something like:

[code]

which emits "MONIX". I think it is still a bit different than `ReactiveX` but IIRC implementations of `debounce` / `sample` / `throttle` differ, I saw a blog post about `RxSwift` which does something similar to us (suppres

[2019-10-01 10:39] alexandru commented on #1040
So the suppressing of all events until the source is quiet is definitely the right behavior.

Actually the question is what happens with `onComplete`. Does it emit the last event, even if the timeout didn't happen yet?

And apparently, we don't. I think it made more sense at the time, but consistency is important too.

[2019-10-01 10:59] Avasil commented on #1040
I'll take a look at what other implementations are doing but I think they emit on `onComplete`.
We could add it but we have to make sure to not send it twice (once from delay, once from onComplete)

Can you think of any reasons why should we not do this?

[2019-10-01 16:41] kag0 commented on #1009
Yes `propagate` is just a simplified version of `isolate` for Future and looks to work in place.

It's become clear to me that the twitter style local is natively incompatible with anything message-passing based. But. Akka actually has local context propagation used by lightbend telemetry which I imagine places the local context in some metadata of the messages between actors. I don't have experie

[2019-10-01 16:58] oleg-py commented on #1009
@kag0 isolate should work for this uses - you continue with what you had before, and any 3rd-party code or parallel process gets a copy for its uses. That was the general idea of it

[2019-10-02 08:11] #1005 closed

[2019-10-02 09:00] YulawOne opened #1042 "Monix 3.0 Release is not backward compatible with cats-effect 1.4.0"
Simple app:
build.sbt
[code]

[code]

if run main, it produces:
[code]

From my observation, this happens due ContextShift trait was changed from pure interface to interface with default methods:
before:
[code]
now:
[code]

[2019-10-03 12:31] mudsam commented on #995
Anything else needed in the PR?

[2019-10-03 16:53] Avasil commented on #1042
@YulawOne I have investigated a bit and arrived at the following results: https://github.com/Avasil/cats-effect-bincompat

Basically configuration like:
[code]
where `core` is `Monix` would require *forward* compatibility ( https://docs.scala-lang.org/overviews/core/binary-compatibility-of-scala-releases.html ) to run a new version in a project using the old one.

I'm not an expert on binary compa

[2019-10-03 17:12] YulawOne commented on #1042
for 2-4 case eviction rules are working and 2.0.0 will be used in runtime, that is not desired as our project has dependency on doobie 0.5.x which we cannot upgrade on 0.8.x right now due significant breaking changes (doobie 0.5 require cats 1.x and cats-effect 1.x)

Same here, the latest cats-effect version will be in runtime (as both versions cannot co-exists in classpath) which will break doobi

[2019-10-03 17:38] Avasil commented on #1042
Isn't it cats-effect 0.10?
According to: https://github.com/tpolecat/doobie/blob/series/0.5.x/build.sbt#L10
And then fs2: https://github.com/functional-streams-for-scala/fs2/blob/series/0.10/build.sbt#L215

I would expect Cats-Effect `2.0` to work fine if your doobie version uses `1.x`

I think the only difference is cats version. It will diverge in the future, we can backport fixes of course but

[2019-10-04 10:45] YulawOne commented on #1042
I will try to do it. 2

[2019-10-04 11:26] Avasil commented on #1042
What are incompatibilities you encounter when running doobie with Cats-Effect 2.0? Is it only about `ContextShift`?

[2019-10-04 12:19] alexandru commented on #1042
This looks to be a Cats-Effect 2.0 issue 😐

I thought it preserved binary compatibility with 1.4, but apparently it doesn't.

[2019-10-04 12:42] alexandru commented on #1042
And I have no idea why this happens btw. That changed looked to be safe. Don't those traits use Java's default methods anyway?

[2019-10-04 14:09] YulawOne commented on #1042
I'm testing this atm, so far it looks like doobie has no issues with cats-effect 2.0 and cats 2.0. I need to migrate one more project to understand that everything is fine. I hope to finish it by EOD

I believe Scala is not always can compile in Java's default method, it's might be related to anonymous classes

[2019-10-05 20:01] Avasil opened #1045 "Observable#mapParallel could cancel earlier"
If any concurrent `Task` fails we don't cancel immediately:

https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/MapParallelUnorderedObservable.scala#L101

We send the error downstream so it will reply with `Stop` on the next completed `Task`:
https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive

[2019-10-05 20:04] Avasil commented on #927
In both `mapParallelUnordered` and `mapParallelOrdered` we do `f(elem).redeem(...).doOnCancel(...)` and return `Task[Unit]`.

I wonder if there is a performance difference if we just replace it with `guaranteeCase`.

[2019-10-05 21:09] Avasil opened #1046 "Link to Cats-Effect in README is broken"
Sub-project section in `monix-catnap` description

[2019-10-05 21:11] #978 closed

[2019-10-05 22:02] melgenek commented on #804
Hi!

I have started hacking on this issue and I am a little stuck.

The InputStream api is blocking. So, let's say I have a Subscriber and an interaction flow:
1) client code calls `inputStream.read`
2) the `Subscriber.onNext` has never been called yet
3) `inputStream.read` waits
4) `Subscriber.onNext` receives the next bytes chunk and sets into a shared state
5) `inputStream.read` stops waiting a

[2019-10-06 09:42] #1046 closed

[2019-10-06 13:12] Avasil commented on #804
Hello @melgenek, thank you for picking it up!

Yes, I think blocking is unavoidable in this operation.

We need blocking queue to wait before returning from `onNext`, I assume? We could also try `AsyncQueue`,  `ConcurrentQueue` or `MVar` (there is a `Future` version as well). It could block asynchronously ("blocks" `Future` / `Task` but not the thread) in `Subscriber` and await on it in `InputStre

[2019-10-06 13:52] Avasil commented on #1040
@alexandru I checked `RxJS` and `RxJava` and it seems like it emits on `onComplete` so I guess we could do it this way too

[2019-10-07 11:42] Avasil commented on #1033
I didn't have a chance to look at it closer but if we use `Scheduler.traced` then StackOverflow is gone. Might be connected to #1023

I wonder if it would be possible to reuse `TracingScheduler` reference instead of creating it each `TaskShift` / `Context` . Although it wouldn't fix the root of the problem, only symptoms

[2019-10-09 19:18] Avasil commented on #1033
Yeah, I'm pretty sure it's connected. I don't know why exactly it stack overflows but it has a memory leak for sure.

I don't have any experience in debugging such issues so I'm not making a lot of progress but here's a simple reproduction example:

[code]

with `javaOptions += "-Xmx64m"` it will throw `OOM`

Heap Dump:

https://drive.google.com/open?id=1xKRcC2HlQkX0aohPWqqeCkt05nvlht-l

[2019-10-19 01:43] TapanVaishnav commented on #1045
Hi @Avasil
I'd like to take on this one.

[2019-10-19 18:27] Avasil commented on #1045
Fantastic, nice to see you again @TapanVaishnav - let me know if you have any questions!

[2019-10-22 10:20] oleg-py opened #1056 "ConcurrentChannel can break TaskLocal isolation"
If `ConcurrentChannel.push` results in an async boundary, the producer fiber might lose it's own local context and switch to one the consumer has

Right now I don't know if this is caused by implementation of ConcurrentChannel or something like `Task.asyncF` not having proper isolation.

This example reproduces the issue on my machine. The key to triggering the condition seems to be filling the in

[2019-10-22 16:16] Avasil commented on #995
Thank you for the PR @mudsam and sorry for the delay!

[2019-10-22 16:16] #995 closed

[2019-10-22 20:44] pk044 commented on #1030
it wouldn't change anything if we changed the sleep duration to something longer, right?

i wonder if it would make sense to see what data makes this test fail? and then see if its reproducible locally?

[2019-10-22 20:56] Avasil commented on #1030
I don't think so, it uses `TestScheduler` and `s.tick()` doesn't allow any time to pass

I suppose we could create a PR which prints generated input and rerun CI until it fails

[2019-10-23 06:50] TapanVaishnav commented on #1045
@Avasil Just to be sure,
https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/MapParallelUnorderedObservable.scala#L101
If we are calling `self.onError`, then as per the observer contract it won't allow any further calls to occur, right? So the only thing(as per my understanding) to cancel the process immediately, is to add `composite.ca

[2019-10-23 08:37] oleg-py commented on #870
Got this one too.
![leak](https://user-images.githubusercontent.com/4143670/67372807-27490e00-f587-11e9-814e-93e6e9e26fab.PNG)
quill+http4s+monix (No doobie, no cats IO) running on OpenJDK 1.8.0_222

2 thread pools - `Scheduler.traced` and one `Scheduler.fixedPool` which I forgot to wrap in `TracingScheduler`.

[2019-10-23 08:55] oleg-py commented on #870
It seems that using ThreadLocal in a class instance of BatchingScheduler is the root of the problem. According to some sources, while the ThreadLocal instance can be GC'd, the _value associated with it will leak_ if you don't clear it manually. [This is most recent article I've found, describing pretty much same problem](https://codar.club/blogs/what-your-threadlocal-memory-leak.html).

Since we h

[2019-10-23 09:03] Avasil commented on #870
@oleg-py
I think it can be easily reproducible with https://github.com/monix/monix/issues/1033#issuecomment-540149552

Looks like very similar issue. I was trying to solve it a month ago but temporarily gave up

[2019-10-23 09:38] oleg-py commented on #870
Here's a smaller reproduction for the leak:
[code]

[2019-10-23 09:54] sirmax commented on #870
@oleg-py you don't do `tc.tick()` in your test, is it intentional? Does the problem reproduce on global scheduler?

[2019-10-23 09:55] sirmax commented on #870
Oh, wait, you create schedulers in a loop! That's a no-no :)

[2019-10-23 09:56] mdedetrich commented on #870
FYI, in the original project where we found this leak was abandoned because we decided to recode the project using task + quill rather task + doobie (for some reason the task + quill combo is not replicating this).

This is a theoretical suspicion, but it appears that the leak happens in programs that use cats-effect rather than ones that hardcode against a specific effect type (in this case quill

[2019-10-23 10:15] oleg-py commented on #870
@sirmax it's just undesirable to throw schedulers away. It's usually grossly inefficient to do it if you are allocating JVM threads, but they should be GCd eventually.

Specifically, `TestScheduler` doesn't create any threads and is actually meant to be "throwaway" for tests (and I don't need `tick` to trigger the leak). But also, any decorators that delegate to an already allocated pool should be

[2019-10-23 10:21] sirmax commented on #870
@oleg-py the problem here is not in a number of threads but specifically in a number of schedulers. Each scheduler creates its own, _non-static_, `ThreadLocal` (see `TrampolineExecutionContext.trampoline`).

[2019-10-23 10:22] oleg-py commented on #870
Yes, and since ThreadLocal values leak, this is a bug/gotcha that we have to remove.

[2019-10-23 10:39] mdedetrich commented on #870
@oleg-py I actually couldn't replicate my problem using (now an old) version of Monix + quill, you can see the repo here along with instructions on how to replicate https://github.com/mdedetrich/task-doobie-memory-leak

Basically doobie + task leaked however quill + monix did not (in as much of an apples to apples comparison that I could make)

[2019-10-24 19:52] Avasil commented on #1045
Correct

Yes, I feel like it should be enough

[2019-10-25 11:53] oleg-py commented on #870
@mdedetrich the leak is there when you use `.executeWithOptions(_.enableLocalContextPropagation)`, which e.g. quill `transaction` does under the covers.

I haven't looked into why the doobie leak happens, it might have a different root cause than your production issue. Your screenshot in OP definitely has the symptoms of what I've found, but the one Alex posted from your tests doesn't.

[2019-10-25 23:42] TapanVaishnav commented on #1045
@Avasil Hi, Thanks for your reply. Also, please have a look at the pr when you have time.

[2019-11-01 12:54] jakubjanecek opened #1067 "Add method onProtect to CircuitBreaker"
Hello,
we've been using `CircuitBreaker` and we often enrich it with extra features such as logging and metrics. Methods such as `onClose` and `onOpen` are very useful for that however we are missing method called `onProtect` that would allow us to count the number of requests going through the circuit breaker. Would that be something that could be added? If yes we are ready to prepare a PR for th

[2019-11-01 12:57] jakubjanecek opened #1068 "CircuitBreaker Trait"
Hello,
is there a reason why `CircuitBreaker` is not a `trait`? It would be very useful to have it as an interface with multiple possible implementation but mostly for the ability to wrap it and enrich it with extra features. What do you think? I could give it a try and implement it if this is something that could be done.

Thank you.

[2019-11-03 20:12] Avasil commented on #1068
Hello!

I'm not familiar with @alexandru thought process when he was implementing it. I suppose it's because it's just a data structure so a `trait` felt redundant

What other possible implementation do you have in mind? If there's a nice use case we could probably do this as long as it won't break bincompat

[2019-11-03 20:22] Avasil commented on #1067
I haven't used `CircuitBreaker` but it indeed seems useful.
Would it fire always or only on "accepted" tasks?

Any thoughts @oleg-py @alexandru ?

[2019-11-04 08:54] jakubjanecek commented on #1067
I think it should fire always and be called before the protected code block. That way you can for example count number of requests going through the circuit breaker and thanks to having `onRejected` you know how many got through and how many were rejected.

[2019-11-04 09:00] jakubjanecek commented on #1068
Well, the possibility of another implementation is just theoretical. My use case is to be able to wrap circuit breaker with some code, e.g. like this:

[code]

Currently I am not able to do that.

Actually my use case is to be able to add logging and metrics to circuit breaker and this #1067 would be sufficient for me. But I think it would be much better design to have a `trait` - for wrapping, fo

[2019-11-04 10:03] jakubjanecek commented on #1068
So I just encountered another use case. I'd like to enhance `CircuitBreaker` (wrap it again) with some logic in `onErrorRecoverWith` and without a `trait` I am not able to do that.

[2019-11-04 10:15] Avasil commented on #1068
Yeah I think wrapping would also allow to easily implement `onProtect` on user side.
I don't see anything wrong with trait / abstract class, e.g. `MVar` in Cats-Effect is like that.

I feel like wrapping is possible even now, just without common trait but I can see how it could be annoying if you want to use vanilla implementation in tests.

IMO go for it :)

[2019-11-04 21:17] #1002 closed

[2019-11-05 08:54] jakubjanecek commented on #1068
I've given it a try in #1069. There is a problem with backwards compatibility so it's not really possible to introduce `CircuitBreaker` trait and have it clean. So I at least added `ICircuitBreaker` trait - this way it's backwards compatible but whoever wants can use `ICircuitBreaker` instead of `CircuitBreaker` directly.

[2019-11-06 08:56] Avasil commented on #1042
@YulawOne Any update on this? Did you manage to make it work or are there issues that we could help with?

[2019-11-06 11:27] #1045 closed

[2019-11-06 14:16] TapanVaishnav opened #1071 "Upgrading Scala-2.12.X"
Scala2.12.10 is available and fixes the big pattern matching, So would like to upgrade if okay.

[2019-11-07 08:39] alexandru commented on #1068
Hello,

Sorry for my latency, I've been busy at work and with life again 🙂

@jakubjanecek to expand on [my comment](https://github.com/monix/monix/pull/1069#issuecomment-549743182) ...

A very practical reason for why not is because traits are terrible for preserving backwards compatibility.

When you make something a `trait`, going forward the only way to add methods to it is to describe a defaul

[2019-11-07 08:45] alexandru commented on #1068
On your use-case ...

[code]

As a personal opinion I don't think an `ICircuitBreaker` buys you much, because then you'd need to implement all of those methods by yourself and that's boilerplate, plus in actual code you only initialize the `CircuitBreaker` once and then use its `protect` everywhere else. This means that, if you want subtyping polymorphism, you could have your own interface, withou

[2019-11-07 09:02] jakubjanecek commented on #1068
@alexandru Thank you for your extensive explanation. I did not have to deal with backwards compatibility much (internal projects) in the past so I don't have that experience and I am used to have `trait`s basically everywhere. I wonder, don't you have the same problem with the current implementation though? If you decide to somehow extend the `CircuitBreaker` class with new public method you will

[2019-11-07 13:59] jakubjanecek commented on #1068
@alexandru I'll try to explain my exact use case again and propose possible solutions because I see this PR won't be merged in the current state.

I am writing a library which helps you initialize components from other well-known libraries (such as `CircuitBreaker` from Monix) and sometimes enriches them with extra features. The library does not want to provide its own abstractions (such as `MyCir

[2019-11-07 14:05] alexandru commented on #1071
👍

[2019-11-07 14:26] gclaramunt opened #1072 "make Observable's drop take a long instead of int"
I would really love to have
[code]
instead of
[code]
AFAICT, DropFirstOperator takes a long actually ... I'm more than happy to submit a PR (I can alternative add a dropLong method if you want to avoid changing the interface ... maybe we can have both `final def drop(n: Int): Observable[A]` and `final def drop(n: Long): Observable[A]` but I seem to recall a vague corner case where it was problemat

[2019-11-07 16:58] #1056 closed

[2019-11-07 17:29] #870 closed

[2019-11-07 17:29] #1071 closed

[2019-11-08 08:38] Avasil commented on #1033
Should be fixed in `3.1.0`

[2019-11-08 08:38] #1033 closed

[2019-11-08 08:40] Avasil commented on #1023
@hanny24 The issue should be fixed in `3.1.0` - please let us know if it's not the case!

[2019-11-08 08:40] #1023 closed

[2019-11-08 10:36] TapanVaishnav commented on #927
@Avasil Will have a look at this one, thank you for the mention and sharing about the issue. You are the best

[2019-11-09 14:42] TapanVaishnav opened #1078 "flaky test AsyncSchedulerSuite"
`monix.execution.internal.AsyncSchedulerSuite` is failing frequently these days without any specific reason.

[2019-11-09 15:37] TapanVaishnav commented on #927
Now that we have created the benchmark, I am starting working on different queues.
Right now, I am working with `SpmcArrayQueue`.

[2019-11-09 15:49] Avasil commented on #927
@TapanVaishnav I would suggest `LowLevelConcurrentQueue` because available queue can be different depending on the platform. See `LowLevelConcurrentQueueBuilders`

[2019-11-09 15:53] TapanVaishnav commented on #927
Yes, I checked this one but because this is a trait, I thought I'll start with someone already implemented(to get a hold of the problem)

Okay, I'll have a look again on `LowLevelConcurrentQueue` family.
Thanks for the suggestion :)

[2019-11-09 16:14] Avasil commented on #927
It is used internally in `AsyncQueue` and `ConcurrentQueue` if you are looking for example

[2019-11-11 22:22] YulawOne commented on #1042
@Avasil Sorry, I had to switch on other tasks and had to postpone migration. So far we manage to migrate one module, however, it's just small codebase and I can't say surely that that was a total success. I hope I would be able to switch back on migration soon.

[2019-11-12 01:09] TapanVaishnav opened #1079 "Fix scala doc for benchmarks"
Some of the benchmarks don't have the correct scala doc, fixing those.

- https://github.com/monix/monix/blob/master/benchmarks/vnext/src/main/scala/monix/benchmarks/AsyncQueueBenchmark.scala#L41
- https://github.com/monix/monix/blob/master/benchmarks/shared/src/main/scala/monix/benchmarks/CoevalAttemptBenchmark.scala#L38
- https://github.com/monix/monix/blob/master/benchmarks/shared/src/main/scal

[2019-11-12 01:13] TapanVaishnav commented on #1079
Though most of these had been done by myself and I'm happy to resolve asap but I think this might be a good `low hanging fruit` issue so can someone add that label to the issue as I don't have the permissions to do so.

[2019-11-12 13:20] kostousov-ds opened #1080 "CircuitBreaker shoud change state to Open when reset attempt was canceled"
https://github.com/monix/monix/blob/b10210bd30c43b95265c818537c24098cbbcab05/monix-catnap/shared/src/main/scala/monix/catnap/CircuitBreaker.scala#L361

In previous step CB's state was set to `HalfOpen`. When task was canceled the state wasn't changed (see CircuitBreaker.scala#L361). In the HalfOpen state CB doesn't try to check F status.

It's look like a bug

[2019-11-12 14:26] mikkka commented on #1080
Minimal example is the following:

object MonixCB extends TaskApp {
  override def run(args: List[String]): Task[ExitCode] = {
    case object SomeError extends Exception("realcall oops")
    case object TO extends TimeoutException("timeout in call") with NoStackTrace

    def method(x: Int): Task[String] =
      if (x == 0) Task.raiseError(SomeError)
      else  Task.sleep(2.second) *> Task.cance

[2019-11-12 14:26] mikkka commented on #1080
Minimal example is the following:

object MonixCB extends TaskApp {
  override def run(args: List[String]): Task[ExitCode] = {
    case object SomeError extends Exception("realcall oops")
    case object TO extends TimeoutException("timeout in call") with NoStackTrace

    def method(x: Int): Task[String] =
      if (x == 0) Task.raiseError(SomeError)
      else  Task.sleep(2.second) *> Task.cance

[2019-11-13 09:21] Avasil commented on #1079
Thanks @TapanVaishnav that's a great idea! I tagged it with `low-hanging fruit`.
I feel like `benchmarks` module is quite outdated and could use a revamp. There are commented files for example

[2019-11-17 19:10] #1028 closed

[2019-11-23 18:33] Avasil commented on #1027
Did you reach any conclusions whether it's worth pursuing further @alexandru ?

[2019-11-27 13:11] Avasil opened #1086 "TaskApp can exit prematurely without releasing all resources"
Reported on gitter: https://gitter.im/monix/monix?at=5ddbe5e4d2c92c2275f3d0da

I think the gist of it is:

[code]
Outputs:

[code]

Which can lead to a resource leak and is not consistent with `cats.effect.IO`:

[code]

[code]

[2019-11-27 17:03] rfkm opened #1089 "bufferIntrospective doesn't stop upstream when downstream has stopped if it is backpressured"
slow upstream:
[code]
[code]

slow downstream:
[code]
[code]

[2019-12-03 16:35] hanny24 opened #1090 "Future is not started"
Under certain conditions it seems to me that a `Future` that is created by `Task.runToFuture` is not properly started. It's a kind of difficult to explain in words, but I tried to prepare minimal working example of the bug here: https://github.com/hanny24/monix-future-bug

The example is very artificial and nonsensical, but it should demonstrate the issue. I can provide more details if needed.

[2019-12-10 21:10] Avasil commented on #1027
I've started https://github.com/monix/monix-bio

I don't know if it takes off as "officially" supported module but I'm committed to maintaining it as long as there are people interested in using it once it is more polished.

Feedback and help are greatly appreciated. :)

[2019-12-12 20:55] ghostbuster91 opened #1095 "TestScheduler is unusable"
Hi, I don't know if I am using testScheduler wrong or it is something fundamentally wrong with it.

Consider following simple code:
[code]
1. Why this observable is being executed in the first place without invoking `ts.tickOne()`? How am I supposed to launch my observable in a controllable fashion? Keep in mind that this is a simple example and in the real life I might not be in control of callin

[2019-12-12 22:20] Avasil commented on #1095
Running `Observable` does not introduce any async boundaries so your test most likely executes on `main` or `global` thread pool. `Observable.interval` runs the first tick synchronously without touching scheduler. I guess `rxJava` implementation always schedule the next tick asynchronously. It might be good idea to do it as well, I need to think about it. The best fix right now is to call `tick.ex

[2019-12-16 15:15] mdedetrich commented on #1027
On the point of using `EItherT` with `Task`, its kind of painful because you have to redefine all of the Monix specific utils in your transformer. Furthermore, you need to hard code against some common super type else you end up having to deal with machinery with union types on your error types. Furthermore things like `bracket` are difficult to define

Here is the implementation we use at work ht

[2019-12-16 15:50] mdedetrich commented on #1024
Personal priority (in order) for our use case at work is

1. Stack traces that work with `Task`/`Coeval`
2. Bifunctor (not `EitherT`, using that is quite painful)

[2019-12-17 08:25] alexandru commented on #1024
@mdedetrich 👍

[2019-12-18 20:05] tomasherman commented on #1080
can someone confirm this? im investigating a error in our cluster where CB gets stuck in half-open state sometimes, i wonder if this could be it

[2019-12-18 21:11] tomasherman commented on #1080
in the scenario above, is there any way for CB to recover and ever get opened/closed again?

[2019-12-18 22:11] Avasil commented on #1080
Thanks for the detailed report, I will look into it in the following days (probably on Saturday)

[2019-12-19 06:17] mikkka commented on #1080
@tomasherman no, it can't

[2019-12-19 06:33] tomasherman commented on #1080
ok so it looks like i finally tracked down the issue - or rather - you guys did ... thank you so much! if there is anything i can do to help fix this i will

[2019-12-19 08:59] Avasil commented on #1080
@tomasherman

Pull Request or bug investigation is of course very welcome but unfortunately I don't have any tips until I have a time to look at this closer, I'm not familiar with `CircuitBreaker` implementation.

[2019-12-20 10:28] tomasherman commented on #1080
So we played around with this and we can verify that this bug exists - when the half-opened task is canceled, CB becomes dead.

I wonder if some failsafe mechanism could be introduced that would always close circuitbreaker after some time no matter what happens to give it a chance to recover

[2019-12-25 12:02] mdedetrich commented on #848
Okay so I finally had time to get back to this, I have updated OpenTracing to the latest version as well as fixing the tests and here are the issues that I have found. Basically the following type of tests fail

1. Do a computation in `Task`
2. Run the task with `Task.runToFutureOpt`
3. And then do future operations with `Future` inside a `for` comprehension

There are two variants of these tests

[2019-12-27 17:24] YulawOne commented on #1042
@Avasil I finally managed to migrate our main codebase on 3.1.0 and so far it works with doobie 0.5.4 without any issues and our integration tests haven't spotted any class resolution issues.

[2019-12-27 18:18] Avasil commented on #1042
Awesome @YulawOne I'm very glad to hear

I will close the issue then but of course feel free to reopen in case you spot anything

[2019-12-27 18:18] #1042 closed

[2019-12-28 18:57] Avasil commented on #1080
I have finally taken a look at this and potential fix is easy but I'm not yet sure what should happen if the task is canceledin half-open state, I see at least 3 options:
- Close `CircuitBreaker` (treat it as a success)
- Open with a new timeout (treat it as a failure)
- Open without resetting the timeout (the next task will attempt to close it)

I suppose 3rd option looks the best but I am curiou

[2019-12-28 19:14] tomasherman commented on #1080
so for me, both 1 and 3 is acceptable - with 3 being optimal

[2019-12-29 00:05] ghostbuster91 commented on #1095
Thank you very much for the detailed response.

Let me know what you came up with, maybe this will be a good idea for my first contribution to monix ;)

In terms of `Scheduler` I will probably try to write my own which does the busy pooling as you suggested.

[2019-12-29 23:42] Avasil commented on #1080
I implemented a 3rd option and created a snapshot which includes the fix: `3.2.0-eb5e5c7-SNAPSHOT`

[2020-01-03 13:44] mdedetrich opened #1102 "No sane way to handle closed InputStream with Observable.fromInputStream"
I am attempting to use `Observable` to handle `InputStream`'s which are the result of `java.lang.Process`. Java's `Process` exposes two streams, the `STDOUT` stream and the `STDERR` stream. If the process is running successfully then the `InputStream` for `STDERR` will already be closed (and vice versa)

The problem is that appears Monix Observable is unable to properly handle a closed stream. Whe

[2020-01-03 22:51] #1080 closed

[2020-01-03 22:52] Avasil commented on #1080
I merged my fix but feel free to open if you discover that it's not fully fixed in the snapshot version (not sure when we release `3.2.0`, I'd like to close few more issues before that)

[2020-01-04 18:25] Avasil commented on #848
@mdedetrich @alexandru @oleg-py

This is the following scenario:

[code]

`local.get` doesn't register update because running a `Task` automatically isolates it.
I think it is desired (e.g. running to `Future` as a response to request in Akka HTTP) behavior overalI but I wonder if we could/want to make it work for cases like above.

[2020-01-04 20:34] mdedetrich commented on #848
`running to Future as a response to request in Akka HTTP`

The thing is even in cases like this you may want to propagate the `Local` rather than isolating it because even in cases like akka-http you often give the future to another function which may want to access the data inside the `Local`.

This is actually a case with `monix-mdc`, i.e. you will put values into the `MDC` context but unmarshal

[2020-01-05 10:33] Avasil commented on #848
That's a good use case, I will see what we can do about it without removing automatic isolation where it makes sense

[2020-01-05 12:11] mdedetrich commented on #848
Note that I am fine with enabling this as an option if you don't want to break any backwards behavior (I would just have to document that you need 2 options available, the new one along with `enableLocalContextPropagation`).

I do question if there is any actual benefit to isolation in this case, I don't see a problem with making the `Local` available in the same `Thread` where `runToFutureOpt` is

[2020-01-07 09:36] jvican commented on #1102
I haven't implemented something like this myself, but if I was I would use [nuprocess]() instead of `java.lang.Process` because it heavily simplifies the handling of process output streams. You can just implement your own `NuAbstractProcessHandler` and have `onStdout` and `onStderr` push the contents to your own observer and then consume it with observable.

[2020-01-08 09:10] TVerse opened #1105 "Observable getting stuck when consumed with failed Task"
I've noticed some strange behaviour when consuming Observables with failing Tasks. The first snippet will will print "1", then the stack trace through the scheduler's uncaught exception handler, and then get stuck until `runSyncUnsafe`'s timeout, and print the `TimeoutException` in the catch block:
[code]
What I would expect to happen instead, is the consumer completing early with the raised excep

[2020-01-08 09:20] Avasil commented on #1105
Thank you for detailed report!

I think you are right, it is also not consistent with `mapEval`

I think we should use `redeem` instead of `map` here:
https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/consumers/ForeachAsyncConsumer.scala#L44

Are you interested in making a PR?

[2020-01-08 09:35] TVerse commented on #1105
I will give it a shot, good chance to learn the Monix internals a bit better. I'll update once I have something.

[2020-01-08 09:41] Avasil commented on #1105
I am happy to help If you get stuck and have any questions

[2020-01-12 17:45] mdedetrich commented on #1102
I am having issues replicating this outside of the context of work project, so I need to investigate it.

@jvican Thanks for the tip, will look into https://github.com/brettwooldridge/NuProcess

[2020-01-14 14:27] mantasindrasius opened #1109 "withFilter support for Observable"
Hey,

in my team we are using more of the Monix library in our day-to-day work. However, one annoying issue is popping up that Observable does not contain `.withFilter` method, which means that we cannot use `if` keyword in for-comprehension.

I.e. we would like to have support for this:

[code]

Currently we need to write it as:

[code]

Are there plans to support it and, if no, what's the reason

[2020-01-14 16:31] YulawOne opened #1110 "Circuit breaker fails to restore Open state in attempt to reset if cancellation happens"
When `CircuitBreaker` tries to reset state from `Open` state transits to the
`HalfOpen` (monix/catnap/CircuitBreaker.scala:405) and `attemptReset` is executed,  and inside `attemptReset` CB has release clause, where  `ExitCase.Canceled` is ignored (monix/catnap/CircuitBreaker.scala:361) which cause hang on HalfOpen state.

# Solution
Apply that same state reset logic from Error case

# Way to repr

[2020-01-14 16:40] YulawOne commented on #1110
Closing as duplicates https://github.com/monix/monix/issues/1080

[2020-01-14 16:40] #1110 closed

[2020-01-17 09:44] Avasil commented on #1109
Hi @mantasindrasius - thanks for raising the issue

I'm not aware if it's intended or not, I vaguely recall there are some problems with `withFilter` but quick test looks alright to me.

Although I wonder why I don't see it implemented in any other streaming library, probably streams in for comprehension are not very common

[2020-01-17 11:02] oleg-py commented on #1109
I'd say we should do this, for both Observable and Iterant. There's no reason not to if we already have `filter`.

It's probably a bit annoying to implement if you want to do it in a conventional way - most Scala collections create a `WithFilter` wrapper that has only map/flatmap/filter/foreach that is lazy and composed chained calls to `filter` together. Not sure if we should do this, given that

[2020-01-22 19:26] babyman commented on #891
I pulled this from @Avasil comment in GITTER for anyone who, like me, has been confounded by the code in older presentations

[code]

[2020-01-25 15:21] gm2211 opened #1114 "Task#timeout won't work with Scheduler.singleThread(..)"
`timeout` is currently implemented (roughly) by racing two tasks: the user-submitted task and a `timeout` task that will sleep for the timeout duration.

The drawback of this implementation is that if you provide a single thread executor, the task will never timeout because the sleeping task will be queueing behind the user-submitted task.

One could argue that you shouldn't use single thread exec

[2020-01-29 15:02] Avasil commented on #1109
Ok, let's do it then!

@mantasindrasius are you interested in making a PR?

[2020-01-29 15:03] #1072 closed

[2020-02-12 17:03] tkubicz opened #1124 "Resource with Task works differently than with IO when cancelled"
Hello,
I've recently encountered a problem with `Resource` using `Task`. When cancelling the fibre, resource cancellation mechanics doesn't seem to obey the bracket laws.

Please take a look at code examples with results below:

Lib versions:
monix-eval: 3.1.0
cats-core: 2.1.0
cats-effect: 2.1.1

Example code using `Task` (just replace TaskApp and Task with IOApp and IO for IO usage):
[code]

Resu

[2020-02-13 08:38] Avasil commented on #1124
Thanks for the report, I will look at it tomorrow and deal with it asap
It might be related to https://github.com/monix/monix/pull/1120 which was included in the cats-effect release but not yet in Monix

[2020-02-14 11:20] Avasil commented on #1124
@tkubicz I checked and indeed it is related to #1120 which fixes the reported issue - would you like a snapshot version before proper release?

[2020-02-14 11:46] tkubicz commented on #1124
Hi @Avasil, thanks for the quick response. I'd be much obliged, if you'd publish a snapshot version.

[2020-02-14 13:23] Avasil commented on #1124
@tkubicz No problem, I have just released `3.2.0-ea00da2-SNAPSHOT` from that branch - let me know if you find further issues/inconsistencies!

Well, I was just yesterday talking on a meetup how Monix stays consistent with Cats IO 😅

[2020-02-14 16:16] Avasil commented on #920
@Z1kkurat did you encounter this or #908 error since `3.0.0` if you had a chance to test it?

[2020-02-15 10:16] mdedetrich commented on #1102
I'm going to close this since I can't sanely reproduce, will reopen if I discover something new

[2020-02-15 10:16] #1102 closed

[2020-02-17 14:07] tkubicz commented on #1124
Hello @Avasil, the snapshot version that you've published seems to resolve the bracket/resource issue. I was able to successfully use it and everything looks ok.

However, there is another issue with this snapshot that doesn't appear in 3.1.0 - I'm not sure if the issue is with your recent changes or some other changes developed for 3.2.0 release. I'm receiving `Promise already completed` exceptio

[2020-02-17 14:31] Avasil commented on #1124
It is probably the same PR, thank you for raising it! Reproducible example would be of course really helpful

I think it's ok to just post it here

[2020-02-17 14:49] mdedetrich commented on #848
@Avasil Is there a chance this would be merged by 3.2.x?

[2020-02-17 15:11] Avasil commented on #848
@mdedetrich Thanks for the reminder, I hope we can!

Any thoughts @alexandru @oleg-py ?
I didn't look too closely into it yet but I hope there is a way to have both (auto-isolate + proper context in the Future)

If we can't then I guess we need to provide configs like in https://github.com/monix/monix/pull/1044

[2020-02-17 18:32] Avasil commented on #1019
I'm closing it but feel free to ask further questions if you'd like me to clarify or expand on anything

[2020-02-17 18:32] #1019 closed

[2020-02-17 22:34] Avasil commented on #1124
@tkubicz

I didn't work on reproducing it but I have a hunch what could cause it

Could you try `3.2.0-863d081-SNAPSHOT`?

[2020-02-18 12:31] tkubicz commented on #1124
Hi @Avasil, your new snapshot version works much better. I wasn't able to reproduce the exception with this version.

[2020-02-18 12:33] Avasil commented on #1124
Awesome, thank you for testing it. :)

[2020-02-18 13:12] alexandru commented on #1109
@oleg-py

Scala collections do that because they are strict. No need to do it for `Observable` since it already does that for regular `map`/`flatMap`/`filter`.

[2020-02-18 13:22] mantasindrasius commented on #1109
@Avasil I may try

[2020-02-18 13:23] Avasil opened #1130 "Add Task.parSequence and Task.parTraverse aliases"
Task.parSequence = Task.gather
Task.parTraverse = Task.wander

[2020-02-18 13:28] Avasil commented on #1109
@mantasindrasius
Sorry I'm trying to clean up some issues in preparation for the next release and I have just created a PR with it 25 mins ago (probably the reason Alex noticed the issue :D)

but if you're interested in contributing then I have just created https://github.com/monix/monix/issues/1130 and I have lots of simple issues in https://github.com/monix/monix-bio

[2020-02-18 13:34] Avasil opened #1131 "Release for ScalaJS 1.0.x"
Cats-Effect has PR with a support for new ScalaJS, we can probably copy it https://github.com/typelevel/cats-effect/pull/753

[2020-02-18 13:38] alexandru commented on #1131
We probably need to wait for Cats-Effect to release first, right?

[2020-02-18 13:44] Avasil commented on #1131
@alexandru ScalaJS 1.0.0-RC2 is included in Cats-Effect 2.1.x but only for Scala 2.12 and 2.13
https://mvnrepository.com/artifact/org.typelevel/cats-effect

Oleg has created a PR with an upgrade: https://github.com/monix/monix/pull/1117

[2020-02-18 16:59] mantasindrasius commented on #1109
Np :) Since I've started already, will do a PR to Iterant.

[2020-02-18 17:04] mantasindrasius commented on #1109
https://github.com/monix/monix/pull/1132

[2020-02-19 09:11] alexandru commented on #1130
I'm starting to dislike the proliferation of aliases in Monix.

WDYT? Should we deprecate the old names? We'll keep them for binary compatibility of course.

[2020-02-19 09:34] Avasil commented on #1130
I'm fine with deprecation in this example.
I suppose we should add `parXXXUnordered` and `parXXXN` as well?
I think in Cats it's called `parUnorderedTraverse` but we use `wanderUnordered` and `wanderN`

1. If we are consistent with ourselves:
`parTraverse`, `parTraverseN`, `parTraverseUnordered`

2. If we are consistent with Cats:
`parTraverse`, `parTraverseN`, `parUnorderedTraverse`

It's unfortu

[2020-02-19 16:18] #1109 closed

[2020-02-19 19:40] jozic commented on #1130
+1 for `parTraverseUnordered`

[2020-02-20 09:37] Avasil opened #1134 "Remove duplicated test in TaskFromFutureSuite"
There are two `Task.fromFuture should be faster for completed futures, success` tests, we can remove one of it

[2020-02-20 14:25] Avasil commented on #1105
@TVerse
Anything I can help with?
I would like to include it in `3.2.0` which I hope to release within a month
Let me know if you don't have time or lost interest and I will implement the fix :D

[2020-02-26 17:29] Avasil opened #1138 "Task.asyncBoundary has outdated doc"
[code]

`executeOn` always returns to the default `Scheduler` so the doc is incorrect

[2020-02-27 10:23] Avasil opened #1139 "Observable#mergeMap with limited parallelism"
I believe both RX and Akka have options for it and it could be very nice to have it in Monix as well

High level implementation could look like this

[code]

It would be preferable to have "native" implementation though

[2020-02-29 19:20] #1089 closed

[2020-02-29 19:23] #1086 closed

[2020-02-29 19:23] #1124 closed

[2020-03-02 12:45] #1138 closed

[2020-03-02 14:43] Avasil commented on #1131
@alexandru
We are currently blocked by `minitext` and `implicitbox` only
Would you mind doing releases for these libraries?

[2020-03-14 15:37] rossabaker commented on #1134
We're going to tackle this one live at the NE Scala Unconference.

[2020-03-14 21:15] #1134 closed

[2020-03-15 19:31] jozic commented on #1130
I'll take this if no objections

[2020-03-16 01:51] jozic commented on #1068
@jakubjanecek can you use methods in constructor to add your metrics and logging effects?
[code]

[2020-03-16 06:38] jakubjanecek commented on #1068
I can and I did but as far as I remember I had get rid of some of the features I wanted to implement. In regular application code this is just fine but if you are implementing a library with some extra features over `CircuitBreaker` then this is not enough. I understand the problem with backwards compatibility so I think we can close this.

[2020-03-16 06:38] #1068 closed

[2020-03-21 14:11] mdedetrich commented on #848
So a PR has been set up to solve this issue, it creates another option called `isolateLocalContextOnRun` which if you set to `false` will keep the `Local` context even after a `Future` is run.

[2020-03-22 10:06] Ben-Barron opened #1147 "Cannot connect more than once"
Monix 2.3.2 (unable to upgrade yet)
Scala 2.12.6

Is it intended behaviour that you cannot connect to a hot observable more than once?

[code]

[2020-03-25 23:47] fnqista opened #1148 "Improve the documentation grammar in some places"
Some documentations are unclear - the most noticeable are the missing usages of the word "the", and in general others are unclear in the way the sentence is constructed.

[2020-03-26 00:49] fnqista commented on #1148
I'm a new fan and a prospective contributor - first I will try to improve the documentation on Observables.

[2020-03-26 08:49] Avasil commented on #1148
That's fantastic @fnqista and very appreciated. :)
I plan to overhaul many docs in April so please feel welcome to share any suggestions about anything (confusing explanation, missing examples etc.) whenever you encounter it and I will make sure to address it.

[2020-03-26 13:00] fnqista commented on #1148
I should have linked this issue in monix.io - I will just close this since I have submitted a PR also on the monix.io repo

[2020-03-26 13:00] #1148 closed

[2020-03-28 23:19] #1130 closed

[2020-03-29 08:52] #929 closed

[2020-03-29 19:52] paualarco opened #1151 "New consumer builder `.seq` for `Consumer` companion object"
Would be nice to have the `.seq` signature as a builder for `Consumer`.
I guess there are some reasons why this is has not being implemented yet but  in my opinion would be worth having it. (I find very handy the equivalent in akka streams `Sink.seq`)

[2020-03-29 20:08] Avasil commented on #1151
I don't think there is a specific reason other than no one bringing it up before.
The use case is covered (`toListL`) but I wouldn't mind seeing it on `Consumer`

[2020-03-30 18:50] paualarco commented on #1151
@Avasil how does it seem to you? I have reused the already existing `FoldLeftConsumer`

[2020-04-02 15:49] fnqista opened #1154 "Observable.fromInputStream emits bytes whose length is less than the chunkSize"
Not sure if this is a bug or is intended, but using `Observable.fromInputStream` (and its variants) emits bytes whose length is less than the `chunkSize` in a situation like below:

- `InputStream` actually has **more** bytes to stream than the `chunkSize`
- `InputStream.read` results in bytes streamed **less** than the `chunkSize` in `monix.reactive.internal.builders.InputStreamObservable` (an in

[2020-04-03 20:21] TVerse commented on #1105
Sorry, I had much less time than I thought and got very distracted. If you could implement that'd be great. Sorry for missing your comment as well.

[2020-04-06 22:20] #1151 closed

[2020-04-08 10:17] fnqista commented on #1154
I am now pretty convinced this is a bug. Reading from an input stream must be done in a loop, otherwise it won't fill the given buffer, rendering it pointless.

[2020-04-08 10:32] Avasil commented on #1154
I agree it is surprising behavior and could be improved but I need to brush up on `InputStream` to be sure

Could you show your implementation?

[2020-04-08 11:17] fnqista commented on #1154
Sure. In `InputStreamObservable.fastLoop`, the part where it reads the input stream:

`val length = blocking(fillBuffer(in, buffer))` // instead of the old `in.read`...

In `fillBuffer`:

[code]

I did recursion because I think it was cool, but a normal while loop would also suffice. I am also not sure if it is best to use nested if-else for readability or just use pattern matching on the ints.

I

[2020-04-12 09:04] paualarco commented on #891
In my opinion the `transform(Transformer)` signature was very useful and would be very nice to bring it back in future releases :)

[2020-04-14 22:17] fnqista commented on #1154
@Avasil I have time to do this, submitting a PR.
I used a property test to validate - please review when you have time.

[2020-04-18 10:32] Avasil commented on #1131
ScalaJS support has been added in https://github.com/monix/monix/pull/1157 but I will leave the issue open until the release

[2020-04-23 07:30] wjlow opened #1164 "Prepending an element to an Observable before zipping it with another Observable causes a non-deterministic result."
## Versions

JDK: 11
Monix: 3.1.0
Scala: 2.13.1
SBT: 1.3.10

## How to reproduce

I have a project with running code that you can run and reproduce the problem I am facing: https://github.com/wjlow/observable-prepend

This piece of code results in non-deterministic output.

[code]

Sometimes, the output is incorrect:

[code]

Other times, the output is as expected:

[code]

## Additional comments

[2020-04-26 19:42] kbielefe opened #1166 "Uncaught reference error with Monix 3.2.0 and Scala-Js 1.0.1"
I am getting an `Uncaught ReferenceError: setImmediate is not defined` on [this line](https://github.com/monix/monix/blob/3409f0a3063f1dc5085644282b3b61dd241fad28/monix-execution/js/src/main/scala/monix/execution/schedulers/StandardContext.scala#L38) when running under Monix 3.2.0 and Scala-Js 1.0.1. Appears to be a manifestation of [this runtime behavior change](https://www.scala-js.org/news/2020

[2020-04-27 04:44] wjlow opened #1167 "Zipping two Observables of different sizes yields non-deterministic result."
## Versions
JDK: 11
Monix: 3.1.0
Scala: 2.13.1
SBT: 1.3.10

## How to reproduce

[code]

The first `Observable` contains 3 values, the second `Observable` contains 4 values (the last value is an error).

When zipped, I expect the error to be left out, because there is no value for it to be paired with. However, when I run this many times, it eventually fails with an exception `RuntimeException("Th

[2020-04-27 06:41] Avasil commented on #1167
Thanks for the detailed report! I have a feeling it is related, it seems like sometimes it skips one of the values but I haven't had time yet to figure it out

[2020-04-27 06:44] wjlow commented on #1167
I'm curious what the expected behaviour is for that snippet of code. I guess occasionally the second stream (the one with the error) completes before the first stream, hence the observed error? If that's the case, the non-determinism is potentially not a bug, and just my misunderstanding.

However, changing the second stream to `Observable(1,2,3,4)` does occasionally result in a program that does

[2020-04-27 09:36] alexandru commented on #1166
Thanks for the very detailed report @kbielefe, we are using `setImmediate` where available because `setTimeout` ends up being throttled, unfortunately the Node.js we are using in tests does have `setImmediate` available, therefore we did not catch this breaking change.

We'll fix it today and release and emergency release.

[2020-04-27 10:10] alexandru commented on #1167
Note that the final `raiseError` does not count as an "element". This is because, due to the protocol, the final `onComplete` and `onError` message isn't back-pressured.

So the error gets transmitted downstream, depending on whether or not the final `onComplete` (of the `zip`) was sent or not.

[2020-04-27 10:12] alexandru commented on #1167
What I mean is, in the presence of a `raiseError`, you shouldn't expect deterministic results, because thrown errors lead to non-determinism, unless you catch and handle them somehow.

[2020-04-27 10:13] alexandru commented on #1167
Well, this shouldn't happen.

Some code for reproducing this behavior would be appreciated.

[2020-04-27 10:15] alexandru commented on #1164
Yikes, this doesn't sound good.

[2020-04-27 12:35] alexandru opened #1169 "Spurious test failure in CharsReaderObservableSuite"
https://api.travis-ci.org/v3/job/680030361/log.txt

[code]

[2020-04-27 12:36] alexandru opened #1170 "Switch to GitHub Actions"
Travis is sometimes too slow and I think I have enough experience to attempt a switch to GitHub Actions.

The problem is we need to test with multiple Java / Scala versions, so we need to setup a test matrix. We have to look for inspiration at what other projects have done.

Also it would be awesome if we configured automated releases.

[2020-04-27 12:59] #1166 closed

[2020-04-27 13:02] alexandru commented on #1167
We have to investigate the claim above. Marking as #bug.

[2020-04-27 13:04] alexandru commented on #1147
Yes, it is intended behavior. Once the main connection is closed, it remains closed.

You need to recreate the hot observable.

[2020-04-27 14:22] kbielefe commented on #1166
Thanks for the quick response. I should have mentioned this was while running in a browser/V8. For the record:

Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/80.0.3987.163 Safari/537.36 OPR/67.0.3575.137

[2020-04-27 15:03] Avasil commented on #1169
Duplicate of #1030

[2020-04-27 15:03] #1169 closed

[2020-04-27 23:57] wjlow commented on #1167
Thanks @alexandru

I've got code in this repo that reproduces the non-terminating behaviour of zipping two Observables of differing sizes.

https://github.com/wjlow/monix-non-terminating

[2020-04-28 18:01] iRevive opened #1173 "Resource.make and Concurrent.timeoutTo causes an infinite lock"
#### Monix version: 3.2.0

#### The snippet
[code]

#### Output
The program hangs forever and the message is not printed.

#### Expected output

Printed in the console:
[code]

#### There are several situations when the program works fine:
1) With increased timeout (e.g. 500.millis)
[code]

2) With `Resource.liftF` instead of `Resource.make`
[code]

3) Without `Concurrent.timeoutTo`
[code]

4) Wit

[2020-04-28 18:23] Avasil commented on #1166
@kbielefe @adamw Could you try `3.3.0-a855f81-SNAPSHOT`

[2020-04-28 23:52] kbielefe commented on #1166
Be happy to. How can I get the SNAPSHOT artifact?

[2020-04-29 04:35] satorg opened #1174 "monix-catnap: [Feature Proposal] Add a conversion to Java's CompletableFuture"
According to [this](https://gitter.im/monix/monix?at=5ea769b3f5f8674667ffab70) conversation, it could be handy to have an ability to convert backward from `F[A]` to `CompletableFuture[A]` (as the opposite conversion to what `FutureLift` provides).

Since `CompletableFuture` itself is impure, I think the result should be also enclosed into `F[_]`, i.e. something like:
[code]
**NOTE**: an `Executor`

[2020-04-29 04:36] satorg commented on #1174
@alexandru, WDYT?

[2020-04-29 06:11] adamw commented on #1166
@Avasil works for sttp-client :)

[2020-04-29 06:12] adamw commented on #1166
@kbielefe you need to add `resolvers += Resolver.sonatypeRepo("snapshots")`

[2020-04-29 06:46] Avasil commented on #1173
Thanks for the detailed report - I will investigate today and release `3.2.1` if necessary because we need to do it anyway due to ScalaJS 1.0.0 issue in browsers

[2020-04-29 12:57] kbielefe commented on #1166
@Avasil works great with my code.

[2020-04-29 21:20] #1173 closed

[2020-04-29 22:39] Avasil commented on #1166
Awesome, thank you for feedback and reports!

I have just released official `3.2.1` with this fix

[2020-04-29 22:39] Avasil commented on #1173
I have included the fix in `3.2.1`

[2020-04-30 04:49] iRevive commented on #1173
@Avasil awesome! Thank you for the quick fix.

[2020-04-30 07:40] trywe-ltd commented on #1131
Any ETA on a new release including this update?

[2020-04-30 07:51] adamw commented on #1131
@trywe-ltd I think 3.2.1 contains this

[2020-04-30 07:59] Avasil commented on #1131
Yes, hopefully without any issues now :D

[2020-04-30 07:59] #1131 closed

[2020-04-30 11:59] ssaleem-ee commented on #1131
Thanks @Avasil - that is great news! 👍

[2020-05-03 14:25] Otah opened #1177 "The doOnSubscriptionCancel side-effect not executed in combination with doAfterSubscribe"
_Tested on both 3.1.0 and 3.2.1_

As expected, in following example the `OK` is printed once, as a subscription was cancelled.
[code]

However, if you modify the source observable with `doAfterSubscribe`, the on-subscription-cancel side effect is never executed. I.e. the `yay` is printed in this example, but `OK` isn't:
[code]

Maybe I am not getting the semantics of the `doAfterSubscribe`, but st

[2020-05-12 09:27] arcolife commented on #908
seeing this as well

[code]

[2020-05-12 10:27] alexandru commented on #908
We'll need further investigation then.

@arcolife what version are you using?

[2020-05-12 10:30] Avasil commented on #908
@alexandru Note that it's most likely a different issue in `IterantFromReactivePublisher`

[2020-05-12 11:12] aakoshh opened #1180 "Iterant.fromReactivePublisher throws MatchError: null if completed before started"
We're transforming an `Observable` to an `Iterant` using `fromReactivePublisher`. Occasionally we got `MatchError: null` from [this](https://github.com/monix/monix/blob/3.0.0/monix-tail/shared/src/main/scala/monix/tail/internal/IterantFromReactivePublisher.scala#L119) line, meaning that the `state` of the `IterantSubscriber` is still null, I'm guessing because it ends before it has a chance to be

[2020-05-12 11:13] aakoshh commented on #908
@Avasil @alexandru  I created a separate issue for what @arcolife reported https://github.com/monix/monix/issues/1180
Thanks

[2020-05-12 12:29] aakoshh commented on #1180
I applied [this](https://github.com/CasperLabs/CasperLabs/pull/1961/commits/5502108105776b4e111fffb4f302ee2d2abba1f0) workaround on a copy of `IterantFromReactivePublisher` to make it work. If you agree with it I'm happy to make a PR. The issue was that `acquire` calls `pub.subscribe(out)` but the `state` is only initialized later, so an early error or completion found `null`.

[2020-05-12 14:41] alexandru commented on #1180
@aakoshh a fix would be most welcome.

I wouldn't introduce an `Atomic` — we should just add a new state extending that sealed trait called `Uninitialised` and then deal with it in all pattern matches.

If not possible or too hard, then your fix is fine.

[2020-05-12 15:24] aakoshh commented on #1180
I'll have a look at doing that, cheers.

[2020-05-14 14:07] alexandru commented on #1174
Sorry for the late reply @satorg. I'm still thinking.

Let me ask you this ... do you care about all Futures or just about `CompletableFuture`?

I don't think abstracting over all futures is useful. Because in generic code `F[_] : Effect` is the value that's often generic, whereas the `Future` type we want is set in stone.

I actually think there's another need, something like this:

[code]

`Comp

[2020-05-14 19:04] alexandru opened #1183 "Observable.fromIterator(Task) does not close file"
We are doing this:

[code]

This is wrong. Because the `Task` acts as a factory, the `Observable` should be in charge of closing the file.

[2020-05-17 01:04] satorg commented on #1174
@alexandru, to be honest I'm not so familiar with all that Futures zoo that Java provides. I faced a necessity to convert between `Effect` and `CompletableFuture` on my project and found out that **monix-catnap** provides quite good support for it, although it lacks a direct `Effect` to `CompletableFuture` conversion. I guess that support for `CompletableFuture` should be enough in a big bunch of

[2020-05-17 01:22] satorg commented on #1174
@alexandru,

Do you mean that the conversion from some effect `F[_]` to `CompletableFuture` should look like the following:
[code]
In other words, should `UnlawfulEffect` be used instead of just `Effect` and provided by effect implementations (such as `IO` or `Task`) independently? Or do you imply that `UnlawfulEffect` could be implemented just for any `Effect` ?

[2020-05-17 09:35] #1154 closed

[2020-05-17 10:47] Avasil opened #1185 "Schedule first tick in Observable.intervalAtFixed rate asynchronously"
We have an optimization in `Observable.interval` methods to schedule the first element synchronously but it is inconsistent with RxJava, see example in https://github.com/monix/monix/issues/1095

[2020-05-17 10:48] Avasil commented on #1095
I've created an issue: https://github.com/monix/monix/issues/1185

[2020-05-17 10:48] #1095 closed

[2020-05-17 10:50] alexandru commented on #1185
👍

[2020-05-19 08:35] alexandru commented on #1174
@satorg we have such a need in our current project.

- `UnlawfulEffect` could be implemented by any `Effect`, but being "unlawful" it doesn't have the same restrictions, so it could be implemented by `Future` too
- Similarly `UnlawfulAsync` could be implemented by any `Async` or any `Concurrent`, but not only

And yes, that conversion would work. Unless I'm missing something it would work for conv

[2020-05-22 07:23] paualarco commented on #1105
will give it a try :)

[2020-05-26 07:03] #1177 closed

[2020-05-28 19:09] dzajkowski opened #1192 "Iterant Scope uncons hangs on `headOptionL`"
Hi there.
I'm trying to figure out if the following code sample is a bug or a protocol violation:
[code]
This code will hang at (1).
The direct reason for this is that the IterantFromReactivePublisher runs it's `release` function with `ExitCase.Complete` right around the flatMap call (0). Now the question is - should it?

The `runSyncUnsafe` is just an example, same happens with
[code]
as h is a `

[2020-05-29 22:40] satorg commented on #1174
@alexandru I'm thinking about all this... Meanwhile I realized that monix Task requires a Scheduler to be passed to any of the Task's run* methods to get it launched. On the other hand, IO doesn't require it for some reason. Would it be possible to abstract such difference somehow with the type classes you suggested, wdyt?

[2020-05-31 09:58] #1105 closed

[2020-05-31 12:08] #1180 closed

[2020-05-31 12:11] Avasil commented on #1192
I don't know what's causing it off the top of my head because it has been a while since I touched `Iterant` but I will try to fix it for `3.2.2`

[2020-05-31 12:12] #1185 closed

[2020-06-02 07:29] satorg commented on #1174
@alexandru, I'm thinking about your suggestion. It isn't clear to me how you're going to use `UnlawfulAsync`. I'm trying to imagine: let's say I have some `F[_]` and `implicit unlawfulAsync: UnlawfulAsync[F]` in the scope. How do you make use of it to create a new `F[_]`?
[code]
It seems I'm not following you:) Could you explain a bit more what did you mean exactly please?

[2020-06-03 22:11] Avasil commented on #1192
What's the use case for `iterant.uncons.headOptionL`? Would it be possible to write it in a different way, let's say:

[code]

(not sure what's used instead of `rest.headOptionL`)

I'm investigating it and I start to think that calling `release` after `headOptionL` is correct behavior.

We have:

[code]

If original `Iterant` is a `Scope` then we either leave resource safety responsibilites to the

[2020-06-04 09:42] #1164 closed

[2020-06-04 09:42] #1167 closed

[2020-06-11 11:13] Karasiq opened #1201 "Dead lock with Task.runSyncUnsafe()"
# Prerequisites
Monix 3.2.2

# How to reproduce
First example: runToFuture executes blocking operation on the main thread, thus locking execution forever.
[code]
(Output: Getting task value)

Second example: main thread lock is bypassed with evalAsync, but dead lock is happening anyway. `concurrent.blocking()` gets ignored and the scheduler doesn't spawn additional threads, which i presume is the

[2020-06-12 03:00] ctoomey opened #1202 "Support merging observables"
We're using the monix reactive library and love it, thanks!

One of the needs we currently have is to [merge](http://reactivex.io/documentation/operators/merge.html) multiple observables into 1, and more particularly using priorities assigned to the observables, such that the merged observable emits elements from the highest-priority source when multiple sources have new elements available. An exa

[2020-06-12 07:21] Avasil commented on #1202
Of course, it will be much appreciated!

We already have a plain merge but a prioritized one would be useful. I would also like to see a merge with limited parallelism (https://github.com/monix/monix/issues/1139)

[2020-06-16 01:32] ctoomey commented on #1202
@Avasil I'd overlooked the `merge` as I embarassingly didn't grok it's signature and so didn't realize it was doing what I was looking for.

After looking at the code though I see that it doesn't support the normal consumer-driven back-pressure and instead returns immediate `Ack`s upstream and buffers elements per the given `OverflowStrategy`. For our use case we want the normal consumer-driven ba

[2020-06-16 21:16] gamzaliev commented on #1201
The first example needs 3 changes:
[code]

1. You need to increase the maximum number of threads, because you execute 2 blocking operations (runSyncUnsafe);
2. By default, runToFuture is performed in the original thread (in this example main thread). To start execution in forkJoin pool, you need to use `executeAsync` or `Task.evalAsync`.
3. You perform onNext before subscribing. Therefore `headL`

[2020-06-17 11:49] Avasil commented on #1202
I don't remember exactly but I recall that it's an implementation detail (sth about JS and JCTools queues) - I just asked @alexandru about it and we could probably add a specialized implementation for this case. It's a quite common request

No, it should back-pressure the source until there is a space in the buffer.

Sure, a version with fixed number of observables is useful too. Maybe it won't be

[2020-06-17 12:06] alexandru commented on #1202
For JavaScript the issue is definitely that we used an [circular buffer](https://en.wikipedia.org/wiki/Circular_buffer) that sacrifices one element out of the internal array.

There's also the issue that JCTools allocates queues with sizes as powers of 2, so we can allocate 1, 2, 4, 8, 16, ... elements. I don't remember atm if it lets you allocate just 1 element, I think some implementations have

[2020-06-19 05:07] ctoomey commented on #1202
Draft for review/discussion in #1205 .

[2020-06-19 09:36] Karasiq commented on #1201
1. runToFuture is a direct replacement for the deprecated run**Async** method
2. In the runToFuture scaladoc:

So thats not the expected behaviour. (or it should be documented better)

Pool **should** spawn new threads, because all used threads marked with BlockingContext.

[2020-06-19 10:13] Avasil commented on #1201
You're right, I will update the doc, it comes up from time to time. I think the current behavior is intended, it can be a nice optimization. Although we might have to change it to insert async boundary if a local context propagation is enabled.

I don't think that's the case, see [ExecutionContext.global](https://www.scala-lang.org/api/current/scala/concurrent/ExecutionContext$.html#global:scala.c

[2020-06-22 11:23] Karasiq commented on #1201
But...

And in the example there is zero extra threads spawned.

[2020-06-22 11:47] Avasil commented on #1201
Yes, it's expected - equivalent of `maxExtraThreads` in `forkJoin` builder is `maxThreads` parameter which is set to `2` in your examples.

What's your expectation about `maxThreads` parameter?

[2020-06-22 13:11] Karasiq commented on #1201
Hmm, ok, looks reasonable 👍. After second investigation i found out that our problem apparently was with the default akka dispatcher, which don't spawn extra threads, and both Scheduler.global and forkJoin with maxThreads>parallelism works fine.

[2020-07-19 11:30] gamzaliev opened #1214 "GroupBy with concatMap duplicates items"
Hi there!
I need to use groupBy with concatMap to ensure sequentally groups processing.

The following code loses or duplicates items while processing:
[code]
Output:
[code]

Why is this happening and how can I get it to work correctly?

[2020-07-19 13:28] Avasil commented on #1214
Hello, thanks for the report - the behavior seems surprising to me

It is caused by this line: https://github.com/monix/monix/blob/master/monix-reactive/shared/src/main/scala/monix/reactive/internal/operators/GroupByOperator.scala#L72

It seems to be intended by the current implementation but I'm not sure about retrying in this scenario.
If downstream returns `Stop` it probably handled the message

[2020-07-19 13:43] gamzaliev commented on #1214
Unfortunately, I need to somehow switch between `GroupObservable`. In the real case i tried using `takeUntilEval` and other `take...`.

I found only one correctly case:
[code]
But it doesn't suit for me.

[2020-07-19 14:41] Avasil commented on #1214
Why do you need to switch?

If you'd like to emit intermediary sums then maybe that will work for you:

[code]

[2020-07-19 15:10] gamzaliev commented on #1214
The buffer size is determined dynamically and depends on the external side effect. So I use takeUntilEval to switch.

[2020-07-19 15:31] Avasil commented on #1214
`bufferWithSelector` ? :D

Note that we might fix the behavior so `takeUntilEval` is OK but it can take some time so I'm throwing ideas that could unblock you right now

[2020-07-19 15:49] gamzaliev commented on #1214
Thanks for the ideas) I have considered buffering options, but in my case I can't wait for the buffer to fill up. I need to start calculating immediately

[2020-07-19 15:59] gamzaliev commented on #1214
I tried modify `GroupByOperator`, but if I remove `retryOnNext`, then on some launches the elements are lost instead of duplicating

[2020-07-19 20:40] Avasil commented on #1214
Maybe it will be solved if we synchronize the access to `cache` instead of using atomics but it might come with a performance impact, hard to say without measuring

[2020-07-20 10:04] alexandru opened #1215 "Add SchedulerService.lift"
We should add a `SchedulerService.lift` builder that wraps a plain `Scheduler` or `ExecutionContext` into an implementation whose shutdown methods will be no-ops.

[2020-07-30 22:37] timbertson opened #1222 "runToFuture starts Task immediately despite using TestScheduler"
I was surprised by this and can't find any docs to indicate it's intended. `TestScheduler` appears to run a task immediately if used via `runToFuture`, even though it doesn't if `schedule` is explicitly called.

Digging in a little bit this seems to be an optimisation in TaskRunLoop, so it might not be worth fixing but I figured I'd report it in case it wasn't known.

If I explicitly set `Executio

[2020-07-31 05:40] alexandru commented on #1222
@timbertson seems to me like it's working as intended.

[code]

This will execute immediately and the reason for it is that no async boundaries, by default, are introduced. The run-loop will eventually fork if it's a loop, after a number of cycles, configured by default via `BatchedExecution`.

If you want that `Task` to not execute with a `TestScheduler`, then do `Task.evalAsync` or `Task(???).ex

[2020-08-01 04:46] timbertson commented on #1222
If this is expected, then I do understand why, now. So my next question is whether the docs could be improved (or if I just missed the relevant bit). I'm re-reading https://monix.io/docs/current/execution/scheduler.html#execution-model, which seems like the place which should convey this, but it's still not entirely clear to me:

"in loops" makes this seem irrelevant, since I'm not doing anything

[2020-08-01 04:47] timbertson commented on #1222
After writing the note about TestScheduler specifically, I'm wondering if TestScheduler should always default to AlwaysAsyncExecution. My rule of thumb is that "a test scheduler shouldn't do anything until I tick() it". Now, I know that technically it isn't the scheduler executing stuff in this case, but logically it is in my mind (I read the `runToFuture` method as "run to future on this schedule

[2020-08-02 14:51] Avasil commented on #1222
Yes, I think the docs could be improved. I think the confusion is more about `runXXX` methods than execution model and it would be worth mentioning in their scaladocs (if it isn't already) that they execute on the current thread until the first async boundary. We could also give a bigger emphasis that ticks in `TestScheduler` are about async boundaries and there can be fully synchronous tasks

I'm

[2020-08-09 14:26] alexandru commented on #1030
I just fixed it in #1122

The problem is that `randomReaderWithOnFinish`, uses `randomString()`, which can return an empty string, yielding an empty `Observable`.

[2020-08-09 15:05] alexandru commented on #1078
`AsyncSchedulerSuite`, the version for Scala.js / JavaScript, has a test for ... "*scheduleWithFixedRate should compensate for scheduling inaccuracy*".

This fails because on top of under-powered machines, like those on Travis, big delas that are more than 30 millis can happen, as used in the test.

In #1221 I disabled it on top of CI / Travis.

[2020-08-09 15:38] #1030 closed

[2020-08-09 15:38] #1078 closed

[2020-08-10 11:51] timbertson commented on #1222
I think it'd be reasonable for those to specify an explicit ExecutionContext, since the execution mechanism is actually under test in that kind of scenario. But you could probably argue either way, and it's potentially a disruptive change. I'll close this now, since the docs updates are enough to hopefully clarify for future travelers.

[2020-08-10 11:51] #1222 closed

[2020-08-11 03:31] ctoomey opened #1227 "Support merging observables with parameterized OverflowStrategy"
Per discussion in https://github.com/monix/monix/pull/1205.

#1202 provides for merging observables with a fixed, subscriber-backpressure-propagating strategy.

[2020-08-11 10:21] alexandru opened #1229 "Drop support for Scala 2.11"
Scala 2.11 is costing us developer resources that we don't have, and as much as I'd like to maintain it, the ecosystem has moved on.

- Cats no longer builds for 2.11
- Cats-Effect no longer builds for 2.11
- sbt has moved to Scala 2.12 some time ago
- Spark has moved to Scala 2.12, finally

What sparked this desire is that publishing to Sonatype for Scala 2.11 is currently broken. This is because

[2020-08-11 10:24] Avasil commented on #1229
I'm fine with it, 2.11 users can always stay on 3.2.2 that seems to be solid.

[2020-08-11 15:21] SemanticBeeng commented on #1229
Hmm... I'd like to still use `monix` with `spark` which is always quite far beyond.
Was pretty sure I'd get stuck trying to to make `spark` with 2.12...
But now checking release notes for 3.0 and seems this GA release has 2.12 support: https://spark.apache.org/releases/spark-release-3-0-0.html

This remains a concern to me and suggest this is important to others using Scala for big data applicatio

[2020-08-11 15:37] alexandru commented on #1229
I find the situation regrettable. The big issue is that our dependencies stopped supporting 2.11.

We would have to stay on older versions for Cats and Cats-Effect. And once Cats-Effect 3.0 hits the shelves, which is about the end of the year (by my own estimates), that's basically impossible.

Also I've bumped into the error above by upgrading to Scala 2.11.12 and Scala.js 0.6.33. Sjs 0.6.33 is p

[2020-08-11 17:22] alexandru opened #1231 "Build fails for Scala 2.11 + Scala.js 0.6.33 + Java 11"
Related:

- https://github.com/scala/bug/issues/11635
- https://github.com/scala-js/scala-js/issues/3381

[code]

[2020-08-11 17:45] alexandru commented on #1231
This is actually fixed on `master`, by configuring the build to use Java 8 when publishing the artifacts.

[2020-08-11 17:45] #1231 closed

[2020-08-11 19:05] alexandru commented on #1229
I think I know how to proceed, given I've figured out what caused #1231.

Due to the upcoming Cats-Effect 3.0, we need to start working on Monix 4.0 anyway. Therefore:

1. I renamed `master` to `series/3.x` (we'll no longer have a `master`)
2. I created a new [series/4.x](https://github.com/monix/monix/tree/series/4.x) branch

We'll start breaking binary compatibility there.

[2020-08-12 06:48] alexandru commented on #1229
#1230 was merged in [series/4.x](https://github.com/monix/monix/tree/series/4.x).

[2020-08-12 06:48] #1229 closed

[2020-08-12 09:29] Avasil commented on #1227
Could you share your ideas @alexandru ?

Copying Alex's comment:

Alternatively, if we follow our current implementation of `merge`, we could probably do it with `PriorityQueue`-based implementation of `BufferedSubscriber`.